:host {
  display: inline-block;
  width: 100%;
}
:host ::ng-deep {
  .page-link:focus {
    box-shadow: none;
    background-color: transparent;
  }
  .page-link {
    padding: 0;
  }
}
