:host {
  display: block;
}
:host ::ng-deep {
  .page-link:focus {
    box-shadow: none;
    background-color: transparent;
  }
  .page-link {
    padding: 0;
  }
  .numbers {
    color: var(--gray-700);
  }
}

.btn {
  i {
    font-size: 1.5rem;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}