:root {
  --bs-body-font-size: 14px;
}
body,
html {
  --bs-body-font-size: 14px;
  background-color: var(--alto-light-grey);
  font-family: 'Inter';
  color: var(--alto-grey);
}

@media screen and (max-width: 1400px) {
  :root,
  body,
  html {
    --bs-body-font-size: 14px;
  }
  table,
  .header-item {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  table,
  .header-item {
    font-size: 12px;
  }
}

html,
input,
button,
select,
optgroup,
textarea,
p {
  font-size: var(--bs-body-font-size);
}

a {
  text-decoration: none;
  color: var(--alto-blue);
}
p {
  margin: 0;
  font-family: 'Inter';
}
h1 {
  font-family: 'Epilogue';
  font-size: 1.8rem;
  font-weight: bold;
  @media screen and (max-width: 700px) {
    font-size: 1.5rem;
  }
}
h2 {
  font-family: 'Epilogue';
  font-size: 1.13rem;
  font-weight: bold;
}
hr {
  border-top: 1px solid var(--alto-grey);
}

// --- UTILITIES
.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.fs-7 {
  font-size: 0.85rem;
}
.fs-8 {
  font-size: 0.75rem;
}

.fw-medium {
  font-weight: 500;
}

.bg-orange {
  background-color: var(--bs-orange);
}
.text-orange {
  color: var(--bs-orange);
}
.w-48 {
  width: 48%;
}
.w-90 {
  width: 90%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}
