:root {
  --bs-body-font-size: 14px;
  --alto-panel-padding-x: 1.7rem;
  --alto-panel-padding-y: 1.4rem;
  --font-family: 'Inter';
}
body,
html {
  --bs-body-font-size: 14px;
  font-family: var(--font-family);
  color: var(--alto-text-color);
}

@media screen and (max-width: 1400px) {
  :root,
  body,
  html {
    --bs-body-font-size: 14px;
  }
  table,
  .header-item {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  table,
  .header-item {
    font-size: 12px;
  }
}

html,
input,
button,
select,
optgroup,
textarea,
p {
  font-size: var(--bs-body-font-size);
}

a {
  text-decoration: none;
  color: var(--alto-blue);
}
p {
  margin: 0;
  font-family: var(--font-family);
}
h1 {
  font-family: var(--font-family);
  font-size: 2.14rem;
  font-weight: 500;
  @media screen and (max-width: 700px) {
    font-size: 1.8rem;
  }
}
h2 {
  font-family: var(--font-family);
  font-size: 1.714rem;
  font-weight: 500;
}
h3 {
  font-size: 1rem;
  font-weight: 500;
}
hr {
  border-top: 1px solid var(--alto-grey);
}

// --- UTILITIES

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.fs-7 {
  font-size: 0.85rem;
}
.fs-8 {
  font-size: 0.75rem;
}

.fw-medium {
  font-weight: 500;
}

.bg-orange {
  background-color: var(--bs-orange);
}
.text-orange {
  color: var(--bs-orange);
}

.w-33 {
  width: 33%;
}
// Creates a width class for each multiple of 5
@for $wdth from 1 through 20 {
  .w-#{$wdth*5} {
    width: #{$wdth * 5} + '%';
  }
}
