:root {
  --bs-body-font-size: 12px;
  --alto-panel-padding-x: 1.7rem;
  --alto-panel-padding-y: 1.4rem;
  --font-family: 'PlusJakartaSans';
  --alto-page-padding: 2.286rem;
}
body,
html {
  --bs-body-font-size: 12px;
  font-family: var(--font-family);
  color: var(--alto-text-color);
}

// @media screen and (min-width: 1900px) {
//   :root,
//   body,
//   html {
// --bs-body-font-size: 14px;
//   }
// }

html,
input,
select,
optgroup,
textarea,
p {
  font-size: var(--bs-body-font-size);
}

a {
  text-decoration: none;
  color: var(--alto-blue);
}
p {
  margin: 0;
  font-family: var(--font-family);
}
h1 {
  font-family: var(--font-family);
  font-size: 1.333rem;
  font-weight: 700;
}
h2 {
  font-family: var(--font-family);
  font-size: 1.167rem;
  font-weight: 600;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
}
hr {
  border-top: 1px solid var(--alto-grey);
}

// --- UTILITIES

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.fs-7 {
  font-size: 0.833rem;
}

.fw-medium {
  font-weight: 600 !important;
}

.bg-orange {
  background-color: var(--bs-orange);
}
.text-orange {
  color: var(--bs-orange);
}

.w-33 {
  width: 33%;
}
// Creates a width class for each multiple of 5
@for $wdth from 1 through 20 {
  .w-#{$wdth*5} {
    width: #{$wdth * 5} + '%';
  }
}
