:root {
  --bs-primary: #1570ef;
  --bs-orange: #f36f23;
  --bs-success: #12b76a;
  --bs-danger: #f04438;
  --bs-warning: #fdb022;

  --alto-blue: #101828;
  --alto-blue-second: #3b434e;
  --alto-blue-disabled: #3b434e;
  --alto-purple: #a757fa;

  --alto-text-color: #101828;
  --alto-text-color2: #344054;

  --alto-text-second-color: #475467;
  --alto-text-blue: #175cd3;

  --alto-grey: #667085;
  --alto-light-grey: #f8fafb;
  --alto-medium-grey: #eaecf0;
  --alto-dark-grey: #98a2b3;

  --bs-body-bg: #fcfcfd;
  --bs-body-color: var(--alto-grey);

  --alto-border: #d0d5dd;
}

.alto-text {
  color: var(--alto-text-color);
}
.alto-blue {
  color: var(--alto-blue);
}
.alto-second-blue {
  color: var(--alto-blue-second);
}
.alto-grey {
  color: var(--alto-grey);
}
.alto-dark-grey {
  color: var(--alto-dark-grey);
}
.alto-grey-bg {
  background-color: var(--alto-medium-grey);
}
.alto-dark-grey-bg {
  background-color: var(--alto-dark-grey);
}
.alto-blue-bg {
  background-color: var(--alto-blue);
}
.alto-orange-bg {
  background-color: var(--bs-orange);
}

.pill-green {
  background-color: #32d583;
}
.pill-neutral {
  background-color: #98a2b3;
}
.pill-red {
  background-color: #f04438;
}

.alto-green {
  color: var(--bs-success);
}
.alto-red {
  color: var(--bs-danger);
}
.alto-neutral {
  color: #d0d5dd;
}
