:root {
  --bs-primary: #006ef5;
  --bs-orange: #f36f23;
  --alto-blue: #19222f;
  --alto-blue-second: #3b434e;
  --alto-blue-disabled: #3b434e;
  --alto-purple: #a757fa;
  --alto-text-color: #19222f;
  --alto-text-second-color: #475467;
  --alto-grey: #55595e;
  --alto-light-grey: #f8fafb;
  --alto-medium-grey: #f2f4f7;
  --alto-dark-grey: #1f2123;
  --bs-body-bg: var(--alto-light-grey);
  --bs-body-color: var(--alto-grey);
}
.alto-blue {
  color: var(--alto-blue);
}
.alto-second-blue {
  color: var(--alto-blue-second);
}
.alto-dark-grey {
  color: var(--alto-dark-grey);
}
.alto-grey {
  color: var(--alto-grey);
}
