:root {
  --bs-primary: #1570ef;
  --bs-orange: #f36f23;
  --bs-success: #12b76a;
  --bs-danger: #f04438;

  --alto-blue: #19222f;
  --alto-blue-second: #3b434e;
  --alto-blue-disabled: #3b434e;
  --alto-purple: #a757fa;

  --alto-text-color: #101828;
  --alto-text-color2: #344054;

  --alto-text-second-color: #475467;
  --alto-text-blue: #175cd3;

  --alto-grey: #667085;
  --alto-light-grey: #f8fafb;
  --alto-medium-grey: #eaecf0;
  --alto-dark-grey: #98a2b3;

  --bs-body-bg: #fcfcfd;
  --bs-body-color: var(--alto-grey);
}
.alto-text {
  color: var(--alto-text-color);
}
.alto-blue {
  color: var(--alto-blue);
}
.alto-second-blue {
  color: var(--alto-blue-second);
}
.alto-grey {
  color: var(--alto-grey);
}

.alto-second-grey {
  color: var(--alto-text-second-color);
}

.alto-grey-bg {
  background-color: var(--alto-medium-grey);
}
.alto-blue-bg {
  background-color: var(--alto-blue);
}
