// --- FORMS ---
.ng-submitted .ng-invalid,
.ngb-timepicker.ng-touched.ng-invalid .ngb-tp-input,
.ng-touched.ng-invalid,
:invalid {
  border-color: var(--bs-danger);
}
// ---
.page-max-width {
  max-width: 900px;
}
.page-max-width-lg {
  max-width: 1200px;
}

.required::after {
  content: ' *';
  color: red;
}

.alto-badge-no-size {
  display: inline-block;
  border-radius: 25px;
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 600;
}
.alto-score {
  @extend .alto-badge-no-size;
  min-height: 1.75rem;
  min-width: 3.2143rem;
  line-height: 1.75rem;
  font-weight: 600;
  font-size: 0.833rem;
}
.alto-badge {
  @extend .alto-badge-no-size;
  min-height: 1.66rem;
  min-width: 1.66rem;
  line-height: 1.66rem;
  font-size: 0.833rem;
  background-color: var(--blue-gray-50);
  color: var(--blue-gray-600);
  @media screen and (max-width: 820px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.alto-badge-big {
  @extend .alto-badge-no-size;
  height: 2.667rem;
  width: 2.667rem;
  line-height: 2.667rem;
  font-size: 2rem;
  color: var(--gray-900);
  background-color: var(--alto-medium-grey);
}
.alto-badge-blue {
  @extend .alto-badge-big;
  color: var(--bs-primary);
  background-color: #d1e9ff;
}
.alto-badge-red {
  @extend .alto-badge-big;
  color: #d92d20;
  background-color: #fee4e2;
}

.ellipsis-badge {
  max-width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitles {
  color: var(--alto-text-second-color);
}

.panel {
  background-color: white;
  border-radius: 0.667rem;
  border: 1px solid var(--gray-200);
  padding: 1.667rem;
}

.nodata-placeholder {
  background-color: var(--indigo-25);
  border-radius: 0.6667rem;
  padding: 2rem;
  margin: 1.5rem 0;
  a {
    width: fit-content;
    margin: 0 auto;
  }
  p {
    color: var(--indigo-900);
  }
}

.header-panel {
  background-color: var(--primary-50);
  border-radius: 0.67rem;
  padding: 1.14rem 1.7rem;
  h1 {
    margin: 0;
  }
  .emoji {
    height: 2rem;
  }
  p {
    font-size: 1.1667rem;
  }
}

h2 {
  .emoji {
    height: 1.667rem;
    margin-right: 0.667rem;
    vertical-align: bottom;
  }
}

// Block used while loading content
.alto-placeholder {
  min-height: 7.143rem;
  background-color: var(--alto-medium-grey);
  border-radius: 1.143rem;
}

.table-panel {
  background-color: white;
  border-radius: 0.667rem;
  border: 1px solid var(--alto-border);
  h2 {
    padding: 1.4rem 1.7rem;
    margin: 0;
  }
  .table {
    --bs-table-bg: transparent;

    th {
      font-weight: 600;
      font-size: 0.857rem;
      padding: 0.5rem;
    }
    thead tr {
      height: 2.667rem;
    }
    tbody tr {
      min-height: 3.333rem;
    }
    tr {
      & * {
        vertical-align: middle;
      }
      th:first-child,
      td:first-child {
        padding-left: 1.7rem;
      }
    }
  }
}

.table-no-last-line {
  tr:last-child {
    td {
      border: 0;
    }
  }
}

.vertical-divider {
  display: inline-block;
  border-left: 2px solid var(--alto-medium-grey);
  min-height: 2rem;
  vertical-align: middle;
}

.cancel-btn {
  color: var(--gray-700);
  font-size: 0.833rem;
  font-weight: 600;
  line-height: 3rem;
  cursor: pointer;
}

// Used in modals
.close-button {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  i {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}
