// --- FORMS ---
.ng-submitted .ng-invalid,
.ngb-timepicker.ng-touched.ng-invalid .ngb-tp-input,
.ng-touched.ng-invalid,
:invalid {
  border-color: var(--bs-danger);
}
// ---
.page-max-width {
  max-width: 900px;
}
.page-max-width-lg {
  max-width: 1200px;
}

.required::after {
  content: ' *';
  color: red;
}

.alto-badge-no-size {
  display: inline-block;
  border-radius: 25px;
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 500;
}
.alto-score {
  @extend .alto-badge-no-size;
  min-height: 1.58rem;
  min-width: 3.5rem;
  line-height: 1.6rem;
}
.alto-badge {
  @extend .alto-badge-no-size;
  min-height: 1.58rem;
  min-width: 1.58rem;
  line-height: 1.6rem;
  font-size: 0.857rem;
  color: var(--alto-blue);
  background-color: var(--alto-medium-grey);
}

.alto-badge-big {
  @extend .alto-badge-no-size;
  height: 2.857rem;
  min-width: 2.857rem;
  line-height: 2.86rem;
  font-size: 1.5rem;
  color: var(--alto-blue);
  background-color: var(--alto-medium-grey);
}
.alto-badge-blue {
  @extend .alto-badge-big;
  color: var(--bs-primary);
  background-color: #d1e9ff;
}

.subtitles {
  color: var(--alto-text-second-color);
}

.panel {
  background-color: white;
  border-radius: 1.143rem;
  border: 1px solid var(--alto-border);
  padding: 1.4rem 1.7rem;
}

// Block used while loading content
.alto-placeholder {
  min-height: 7.143rem;
  background-color: var(--alto-medium-grey);
  border-radius: 1.143rem;
}

.table-panel {
  background-color: white;
  border-radius: 1.143rem;
  border: 1px solid var(--alto-border);
  h2 {
    padding: 1.4rem 1.7rem;
    margin: 0;
  }
  .table {
    th {
      font-weight: 500;
      font-size: 0.857rem;
      padding: 0.929rem;
    }
    tbody tr {
      height: 5.144rem;
    }
    tr {
      & * {
        vertical-align: middle;
      }
      th:first-child,
      td:first-child {
        padding-left: 1.7rem;
      }
    }
  }
}

.table-no-last-line {
  tr:last-child {
    td {
      border: 0;
    }
  }
}

.vertical-divider {
  display: inline-block;
  border-left: 2px solid var(--alto-medium-grey);
  min-height: 2rem;
  vertical-align: middle;
}

// Used in modals
.close-button {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  i {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}
