.contribution-text {
  line-height: 2rem;
  &.text-truncate {
    width: calc(100% - 7.5rem);
  }
}

.btn-photos:hover {
    background-color: #EFF8FF;
    border: 0;
}

.btn-photos i {
    color: var(--gray-400);
}

.btn-photos:hover i {
    color: #2E90FA;
}
