<div class="btn-group" role="group">
  <input
    type="radio"
    class="btn-check"
    name="timePicker"
    id="year"
    autocomplete="off"
    (change)="updateTimePicker($event)"
    checked
  />
  <label class="btn btn-outline-secondary" for="year">{{ I18ns.shared.rollingDateFilter.year }}</label>

  <input
    type="radio"
    class="btn-check"
    name="timePicker"
    id="trimester"
    autocomplete="off"
    (change)="updateTimePicker($event)"
  />
  <label class="btn btn-outline-secondary" for="trimester">{{
    I18ns.shared.rollingDateFilter.trimester
  }}</label>

  <input
    type="radio"
    class="btn-check"
    name="timePicker"
    id="month"
    autocomplete="off"
    (change)="updateTimePicker($event)"
  />
  <label class="btn btn-outline-secondary" for="month">{{ I18ns.shared.rollingDateFilter.month }}</label>
</div>
