<div class="btn-group" role="group">
  <input
    type="radio"
    class="btn-check"
    [name]="ID"
    [id]="'year' + ID"
    autocomplete="off"
    (change)="updateTimePicker($event)"
    value="year"
    [checked]="duration === 'year' ? true : false"
  />
  <label class="btn btn-outline-secondary" [for]="'year' + ID">{{
    I18ns.shared.rollingDateFilter.year
  }}</label>

  <input
    type="radio"
    class="btn-check"
    [name]="ID"
    [id]="'trimester' + ID"
    autocomplete="off"
    [checked]="duration === 'trimester' ? true : false"
    value="trimester"
    (change)="updateTimePicker($event)"
  />
  <label class="btn btn-outline-secondary" [for]="'trimester' + ID">
    {{ I18ns.shared.rollingDateFilter.trimester }}
  </label>

  <input
    type="radio"
    class="btn-check"
    [name]="ID"
    [id]="'month' + ID"
    autocomplete="off"
    [checked]="duration === 'month' ? true : false"
    value="month"
    (change)="updateTimePicker($event)"
  />
  <label class="btn btn-outline-secondary" [for]="'month' + ID">{{
    I18ns.shared.rollingDateFilter.month
  }}</label>
</div>
