.timepicker-container {
  display: flex;
  flex-wrap: nowrap;
  height: 36px;
  background-color: white;
  border-radius: 3.33rem;
  border: 1px solid var(--gray-200);

  .timepicker {
    cursor: pointer;

    &.left {
      border-right: 1px solid var(--gray-200);
      border-radius: 3.33rem 0 0 3.33rem;
    }

    &.right {
      border-left: 1px solid var(--gray-200);
      border-radius: 0 3.33rem 3.33rem 0;
    }

    p {
      padding: 0 1.333rem;
      line-height: 34px;
      font-size: 0.833rem;
      font-weight: 600;
    }

    &.checked {
      background-color: var(--gray-50);
    }
  }
}
