.btn-check:checked + .btn {
  color: #1d2939;
  background-color: #f1f1f1;
  border-color: var(--bs-btn-border-color);
}
.btn-group label:first-of-type {
  padding-left: 1.143rem;
}
.btn-group label:last-of-type {
  padding-right: 1.143rem;
}
