:host {
  vertical-align: bottom;
}

.btn-group {
  height: 36px;
  background-color: white;
  border-radius: 3.33rem;
}
.btn-check:checked + .btn {
  color: #1d2939;
  background-color: var(--gray-50);
  border-color: var(--bs-btn-border-color);
}
.btn-group label {
  padding: 0 1.333rem;
  line-height: 34px;
  font-size: 0.833rem;
}
