<div class="modal-header">
  <div class="float-start mx-3 alto-badge-big"><i class="bi bi-power fs-4 fw-bolder"></i></div>
  <div>
    <h4 class="modal-title" id="modal-title">Change status of selected users</h4>
    <span>You can change the status of several users in the same time.</span>
  </div>
</div>
<div class="modal-body" *ngIf="statusForm" [formGroup]="statusForm">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" formControlName="activate" />
    <label class="form-check-label" for="flexCheckDefault"> Reactivate disabled users </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" formControlName="disable" />
    <label class="form-check-label" for="flexCheckChecked"> Disable activated users </label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary flex-grow-1" (click)="modal.dismiss('cancel click')">
    Cancel
  </button>
  <button type="button" class="btn btn-primary flex-grow-1" (click)="modal.close(statusForm.value)">
    Confirm
  </button>
</div>
