:host {
  display: inline-block;
  height: 2.5rem;
}

.btn-check:checked + .alto-tab-btn {
  border-bottom: 2px #175cd3 solid;
  color: #175cd3;
  font-weight: 600;
}

.alto-tab-btn {
  margin-right: 1.33rem;
  cursor: pointer;
  padding-bottom: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--alto-grey);
}
