.chart-container2 {
  height: 300px;
}
.score-evolution-chart {
  height: 100%;
}
.top-flop-label {
  display: inline-block;
  width: calc(100% - 5rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
