.score-evolution-chart {
  height: 100%;
}
.top-flop-label {
  display: inline-block;
  width: calc(100% - 5rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.legend {
  margin-right: 1rem;
  display: inline-block;
  color: var(--alto-grey);
}
.circle {
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 17px;
}
