<p class="build-time fs-8" title="Build Time">Version: {{ buildTime | date : 'medium' }}</p>
<br />
<br />
<div class="row" *ngIf="isDev">
  <div class="col-6">
    <p>Today is {{ today }}</p>
    <br />
    <br />
    <span class="fs-4">{{ I18ns.shared.smiley }}</span>
    <a [routerLink]="['/', AltoRoutes.notFound]">404 page</a>
    <br />
    <br />
    <alto-colored-pill-list
      [hasDynamicColor]="true"
      [data]="[
        { name: 'test', id: 'AFE8238asdfr4' },
        { name: 'alpha', id: 'FF1238asdfr4' },
        { name: 'beta', id: '9DAA38asdfr4' },
        { name: 'gamma', id: 'AEE123qsd' }
      ]"
      [limit]="3"
    ></alto-colored-pill-list>
    <br />
    <br />
    <!-- <alto-status-pill [status]="ChallengeDtoApiStatusEnumApi.InProgress"></alto-status-pill>&nbsp;
    <alto-status-pill [status]="ChallengeDtoApiStatusEnumApi.Ended"></alto-status-pill>
    <br />
    <br /> -->
    <alto-colored-pill-list [data]="['test', 'alpha', 'beta', 'gamma']" [limit]="3"></alto-colored-pill-list>
    <br />
    <br />
    <div class="border">
      <alto-dropdown-filter
        class="text-start"
        [data]="teamStore.teams.value"
        [displayLabel]="'name'"
        [returnValue]="'id'"
        [placeholder]="I18ns.programs.programs.filters.teams"
        [isColored]="true"
        [multiple]="true"
      ></alto-dropdown-filter>

      <alto-dropdown-filter
        class="text-start"
        [data]="teamStore.teams.value"
        [displayLabel]="'name'"
        [returnValue]="'id'"
        [placeholder]="I18ns.programs.programs.filters.team"
        [isColored]="false"
        [multiple]="false"
      ></alto-dropdown-filter>

      <alto-time-picker></alto-time-picker>
    </div>
    <br />
    <br />

    <alto-img-badge
      [toggleTooltip]="false"
      [size]="64"
      url="https://st2.depositphotos.com/5471768/10029/v/450/depositphotos_100296568-stock-illustration-super-hero-red-mask-for.jpg"
    ></alto-img-badge>
    <br />
    <br />
    <!-- <alto-img-badge-list [users]="userStore.users.value" [limit]="10"></alto-img-badge-list> -->

    <br />
    <br />

    <alto-profile-card [user]="userStore.user.value"></alto-profile-card>
    <br />
    <br />
    <alto-training-card></alto-training-card>

    <br />
    <br />

    <alto-program-card [displayToggle]="true" [program]="programStore.programs.value[0]"></alto-program-card>
    <br />
    <br />
    <alto-progression-badge class="me-2" [score]="null"></alto-progression-badge>
    <alto-progression-badge class="me-2" [score]="0"></alto-progression-badge>
    <alto-progression-badge class="me-2" [score]="0.05"></alto-progression-badge>
    <alto-progression-badge class="me-2" [score]="-0.5"></alto-progression-badge>
    <alto-progression-badge class="me-2" [score]="-1"></alto-progression-badge>
    <br />
    <br />
    <alto-search></alto-search>
    <br />
    <br />

    <alto-tabs
      class="mb-3"
      [selectedValue]="'2'"
      [data]="[
        { label: 'First', value: '1' },
        { label: 'Second', value: '2' }
      ]"
    ></alto-tabs>
  </div>
  <!--  COL 2 -->
  <div class="col-6">
    Auto resized TextArea
    <br />

    <textarea
      class="form-control"
      placeholder="{{ I18ns.questions.form.namePlaceholder }}"
      altoAutoResizeTextarea
    ></textarea>
    <br />
    <br />

    <button class="btn btn-outline-secondary">
      {{ I18ns.shared.cancel }}
    </button>
    <button class="btn btn-primary ms-3">
      {{ I18ns.shared.save }}
    </button>
    <button class="btn btn-primary ms-3">
      <i class="bi bi-plus-lg"></i><span>{{ I18ns.shared.save }}</span>
    </button>

    <br />
    <br />
    <alto-pagination [collectionSize]="100" [pageSize]="10" [page]="1"></alto-pagination>

    <input type="range" min="1" max="100" class="form-range" />

    <br />
    <input type="radio" id="type2" name="rad1" class="form-check-input" checked />
    <br />
    <input type="radio" id="type3" name="rad1" class="form-check-input" />
    <br />
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prog of programStore.programs.value | slice : 0 : 8">
          <td>
            {{ prog.name }}
          </td>
          <td>{{ prog.createdAt | date : 'shortDate' }}</td>
          <td class="cursor-pointer">
            <i class="fs-5 bi bi-pen"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <div class="progress w-100">
      <div class="progress-bar d-inline-block" role="progressbar" style="width: 50%"></div>
    </div>
    50%
    <br />
    <br />
    <img class="emoji" [src]="EmojiName.Bullseye | emoji" />
    <br />
    <br />

    <p class="fs-5">Test Font Size</p>
    <br />
    <br />

    <alto-range [control]="control"></alto-range>
  </div>
</div>
<hr />
