.integration-titles {
  font-size: 1.1667rem;
  font-weight: 600;
  margin-left: 1rem;
}

.integration-subtitles {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}

.disabled-text {
  color: var(--gray-300, #d0d5dd);
}

.questions-pushed-box {
  max-width: 350px;
}

.questions-pushed-input {
  background-color: white;
  color: var(--gray-300) !important;
}

.questions-pushed {
  color: var(--gray-300);
  &.subtitle {
    font-size: 0.8333rem;
  }
}

.connector {
  border-radius: 0.3333rem;
  height: 3.3333rem;
  padding-top: 0.8333rem;
  margin-bottom: 2rem;

  &.activated {
    border: 0.0833rem solid var(--primary-600, #1570ef);
    background-color: white;
  }
}

.flex-container {
  display: flex;
  gap: 2rem;
}

.panel {
  flex: 1;
}
