.integration-titles {
  font-size: 1.1667rem;
  font-weight: 600;
}

.onboarding-titles {
  font-size: 1.16667rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.66667rem;
  color: var(--gray-900);
}

.onboarding-subtitles {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.66667rem;
  color: var(--gray-900);
}

.onboarding-texts {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66667rem;
  color: var(--gray-900);
}

.onboarding-confirmations {
  font-size: 0.83333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66667rem;
  color: #667085;
}

.onboarding-resend {
  font-size: 0.83333rem;
  font-style: normal;
  font-weight: 600;
  color: var(--primary-700);
  text-decoration: none;
}

.integration-subtitles {
  font-size: 1rem;
  font-weight: 400;
}

.disabled-text {
  color: var(--gray-300, #d0d5dd);
}

.questions-pushed-box {
  max-width: 350px;
}

.questions-pushed-input {
  background-color: white;
  color: var(--gray-300) !important;
}

.questions-pushed {
  color: var(--gray-300);
  &.subtitle {
    font-size: 0.8333rem;
  }
}

.connector {
  border-radius: 0.3333rem;
  height: 3.3333rem;
  padding-top: 0.8333rem;
  margin-bottom: 2rem;

  &.activated {
    border: 0.0833rem solid var(--primary-600, #1570ef);
    background-color: white;
  }
}

@media (max-width: 75rem) {
  .onboarding {
    flex-direction: column;
  }

  .onboarding {
    width: 100%;
    flex-basis: auto;
    max-width: none;
    min-width: none;
  }
}

.email-input.ng-invalid:not(.ng-touched) {
    border-color: initial;
}

.email-input.ng-touched.ng-invalid {
    border-color: var(--bs-danger);
}
