<div>
  <h2>{{ I18ns.settings.continuousSession.subtitle }}</h2>
  <p class="mb-4 alto-grey">{{ I18ns.settings.continuousSession.description }}</p>
</div>
<hr class="my-4" />
<div class="d-flex align-items-center">
  <div class="form-check form-switch d-inline-block align-middle me-5">
    <input
      #slackCheck
      (click)="slackActivate(slackCheck.checked)"
      type="checkbox"
      class="form-check-input"
      [checked]="company?.isSlackActive"
    />
  </div>
  <div class="d-grid">
    <span class="integration-titles" [ngStyle]="{ color: slackCheck.checked ? '#101828' : '#D0D5DD' }">
      {{ I18ns.settings.continuousSession.integrations.title }}
    </span>
    <span class="integration-subtitles" [ngStyle]="{ color: slackCheck.checked ? '#667085' : '#D0D5DD' }">
      {{ I18ns.settings.continuousSession.integrations.subtitle }}
    </span>
  </div>
</div>
<div *ngIf="slackCheck.checked" class="d-flex align-items-center mt-5 slack-teams-div">
  <div class="slack-div py-3 me-5">
    <div class="form-check">
      <input class="form-check-input me-3" type="radio" id="exampleRadios1" value="option1" checked />
      <label class="form-check-label" for="exampleRadios1">
        <img src="assets/img/slack-logo.svg" width="16" height="16" alt="Slack Logo" class="me-2" />
        <span>{{ I18ns.settings.continuousSession.integrations.slack }}</span>
      </label>
    </div>
  </div>
  <div class="py-3" style="border-radius: 4px; padding-left: 1rem; padding-right: 1rem">
    <div class="form-check">
      <input class="form-check-input me-3" type="radio" id="exampleRadios3" value="option2" disabled />
      <label class="form-check-label" for="exampleRadios3">
        <img src="assets/img/teams-logo.svg" width="16" height="16" alt="Slack Logo" class="me-2" />
        <span>{{ I18ns.settings.continuousSession.integrations.teams }}</span>
      </label>
    </div>
  </div>
</div>
<hr class="mb-4 mt-5" />
<div class="d-flex align-items-center">
  <div class="form-check form-switch d-inline-block align-middle me-5">
    <input #appWebCheck type="checkbox" class="form-check-input" disabled />
  </div>
  <alto-icon-badge [size]="3" icon="bi bi-wifi-2" color="badge-double-gray"> </alto-icon-badge>
  <div class="d-grid disabled-text">
    <span class="integration-titles">{{ I18ns.settings.continuousSession.webApp.title }}</span>
    <span class="integration-subtitles">
      {{ I18ns.settings.continuousSession.webApp.subtitle }}
    </span>
  </div>
</div>
