<div class="modal-body text-center p-5">
  <div class="mb-4">
    <alto-icon-badge *ngIf="data.color && data.color === 'blue'" [size]="4" [icon]="data.icon ? data.icon : 'bi-exclamation-triangle'" [color]="'badge-double-primary'"></alto-icon-badge>
    <alto-icon-badge *ngIf="!data.color || data.color !== 'blue'" [size]="4" [icon]="data.icon ? data.icon : 'bi-exclamation-triangle'" [color]="'badge-double-error'"></alto-icon-badge>
  </div>
  <h2 class="fw-bold mb-4">
    {{ data.title }}
  </h2>
  <p class="mb-3 alto-grey">
    {{ data.subtitle }}
  </p>
  <div class="row mt-6" [ngClass]="{
    'justify-content-center': !data.cancelText,
  }">
    <div *ngIf="data.cancelText" class="col-6">
      <button class="btn btn-outline-secondary" (click)="exit()">
        {{ data.cancelText }}
      </button>
    </div>
    <div class="col-6">
      <button *ngIf="data.color && data.color === 'blue'" class="btn btn-primary" (click)="exit(true)">
        {{ data.confirmText }}
      </button>
      <button *ngIf="!data.color || data.color !== 'blue'" class="btn btn-danger" (click)="exit(true)">
        {{ data.confirmText }}
      </button>
    </div>
  </div>
</div>
