<div class="d-flex px-3 py-4">
  <div class="float-start mx-3 alto-badge-big"><i class="bi bi-filter fs-4 fw-bolder"></i></div>
  <div class="">
    <h2>Filters</h2>
    <p class="fs-7">You can filter companies through different options.</p>
  </div>
  <div class="d-flex flex-grow-1 justify-content-end align-items-start">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss()"></button>
  </div>
</div>
<hr />
<div class="offcanvas-body h-100">
  <form *ngIf="userForm" [formGroup]="userForm">
    <label class="form-label required">Is Slack Active</label>
    <div>
      <div class="btn-group btn-group-toggle gap-2" ngbRadioGroup name="radioBasic">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="flexRadioDefault1"
            [value]="true"
            formControlName="isSlackActive"
          />
          <label class="form-check-label" for="flexRadioDefault1"> Active </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="flexRadioDefault2"
            [value]="false"
            formControlName="isSlackActive"
          />
          <label class="form-check-label" for="flexRadioDefault2"> Inactive </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="flexRadioDefault2"
            [value]="null"
            formControlName="isSlackActive"
          />
          <label class="form-check-label" for="flexRadioDefault2"> all </label>
        </div>
      </div>
    </div>
    <label class="mt-4 form-label required">has user admin</label>
    <div>
      <div class="btn-group btn-group-toggle gap-2" ngbRadioGroup name="radioBasic">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="flexRadioDefault1"
            [value]="true"
            formControlName="userAdmin"
          />
          <label class="form-check-label" for="flexRadioDefault1"> Yes </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="flexRadioDefault2"
            [value]="false"
            formControlName="userAdmin"
          />
          <label class="form-check-label" for="flexRadioDefault2"> No </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="flexRadioDefault2"
            [value]="null"
            formControlName="userAdmin"
          />
          <label class="form-check-label" for="flexRadioDefault2"> all </label>
        </div>
      </div>
    </div>

    <label class="mt-4 form-label required">Sending days</label>
    <ng-select
      class="w-100"
      required
      [items]="SendingDaysValues"
      placeholder="Select one or more days"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      formControlName="sendingDays"
      [multiple]="true"
    >
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <div class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
          <span class="cursor-pointer me-1" (click)="clear(item)" aria-hidden="true">
            <i class="bi bi-x-lg"></i>
          </span>
          <span>{{ item }}</span>
        </div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
          {{ item }}
        </span>
      </ng-template>
    </ng-select>
    <label class="mt-4 form-label required">Number of questions</label>
    <div formGroupName="nbQuestions" class="d-flex gap-3">
      <input type="number" class="form-control" formControlName="min" placeholder="min" />
      <input type="number" class="form-control" formControlName="max" placeholder="max" />
    </div>
  </form>
  <button type="button" class="btn btn-primary mt-4" (click)="activeOffcanvas.close(userForm.value)">
    Save
  </button>
</div>
