<alto-placeholder-manager [status]="scoreDataStatus">
  <div class="panel mb-5">
    <alto-dropdown-filter
      class="float-end mx-2"
      [data]="teams"
      [selectedItems]="selectedTeams"
      [displayLabel]="'label'"
      [placeholder]="I18ns.statistics.globalPerformance.perTeamPerformance.teamFilter"
      (selectChange)="filterTeams($event)"
    ></alto-dropdown-filter>
    <h2>{{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.title }}</h2>
    <p class="alto-grey mb-4">
      {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.subtitle }}
    </p>
    <div class="chart-container">
      <alto-chart-basicline data-cy="chartBasicline" [chartOption]="chartOption"></alto-chart-basicline>
    </div>
  </div>

  <div class="nodata-placeholder" noData>
    <h2 class="mb-5 fs-6">
      {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.title }}
    </h2>
    <div class="text-center">
      <img [src]="Emoji.FlexedBiceps | emoji" height="24" />
      <p class="mt-3">
        {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.placeholderTitle }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.placeholderSubtitle }}
      </span>
    </div>
  </div>
  <div class="skeleton-panel mb-5" style="height: 499px" loading></div>
</alto-placeholder-manager>

<alto-placeholder-manager [status]="teamsLeaderboardDataStatus">
  <alto-leaderboard
    [config]="['score']"
    [title]="I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.title"
    [subtitle]="I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.subtitle"
    [data]="teamsLeaderboard"
    [size]="3"
  >
  </alto-leaderboard>

  <div class="nodata-placeholder" noData>
    <h2 class="mb-5 fs-6">{{ I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.title }}</h2>
    <div class="text-center">
      <img [src]="Emoji.Rocket | emoji" height="24" />
      <p class="mt-3">{{ I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.placeholder }}</p>
    </div>
  </div>
  <div class="skeleton-panel my-5" style="height:334px" loading></div>
</alto-placeholder-manager>
