<div class="panel mb-5">
  <alto-dropdown-filter
    class="float-end mx-2"
    [data]="teams"
    [selectedItems]="selectedTeams"
    [displayLabel]="'label'"
    [placeholder]="I18ns.statistics.globalPerformance.perTeamPerformance.teamFilter"
    (selectChange)="filterTeams($event)"
    [isColored]="true"
  ></alto-dropdown-filter>
  <h2>{{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.title }}</h2>
  <p class="alto-grey mb-4">
    {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.subtitle }}
  </p>
  <div class="chart-container">
    <canvas id="teamScoreEvolution"></canvas>
  </div>
</div>

<alto-top-flop
  [title]="I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.title"
  [subtitle]="I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.subtitle"
  [leaderboard]="[]"
>
</alto-top-flop>
