<alto-placeholder-manager [status]="scoreDataStatus">
  <div *ngIf="scoreDataStatus === EPlaceholderStatus.GOOD" class="panel mb-5">
    <alto-input-multiple-select
    class="float-end mx-2"
    [placeholder]="I18ns.statistics.globalPerformance.perTeamPerformance.teamFilter"
    [controls]="selectedScoresControl"
    [options]="scoresOptions"
    [enableSearch]="true">
    </alto-input-multiple-select>

    <h3>{{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.title }}</h3>
    <p class="alto-grey mb-4">
      {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.subtitle }}
    </p>
    <div class="chart-container">
      <alto-chart-basicline data-cy="chartBasicline" [chartOption]="chartOption"></alto-chart-basicline>
    </div>
  </div>

  <div class="nodata-placeholder" noData>
    <h3 class="mb-5 fs-6">
      {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.title }}
    </h3>
    <div class="text-center">
      <img [src]="Emoji.FlexedBiceps | emoji" height="24" width="24" />
      <p class="mt-3">
        {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.placeholderTitle }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.placeholderSubtitle }}
      </span>
      <a type="button" class="d-block btn btn-outline-secondary mt-4" [routerLink]="['/', AltoRoutes.lead, AltoRoutes.programs, AltoRoutes.programsEdit, AltoRoutes.programsNew]">
        <i class="bi bi-plus-lg"></i>{{ I18ns.programs.programs.createProgram }}
      </a>
    </div>
  </div>
  <div class="nodata-placeholder" noResult>
    <h3 class="mb-5 fs-6">
      {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.title }}
    </h3>
    <div class="text-center">
      <img [src]="Emoji.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
      <p class="mt-3">
        {{ I18ns.shared.placeholders.noResultInTimeframe.title }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.shared.placeholders.noResultInTimeframe.subtitle }}
      </span>
    </div>
  </div>
  <div class="skeleton-panel mb-5" style="height: 499px" loading></div>
</alto-placeholder-manager>

<alto-placeholder-manager [status]="teamsLeaderboardDataStatus">
  <alto-leaderboard
  *ngIf="teamsLeaderboardDataStatus === EPlaceholderStatus.GOOD"
  [config]="['score']"
  [title]="I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.title"
  [subtitle]="I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.subtitle"
  [data]="teamsLeaderboard"
  [size]="3">
  </alto-leaderboard>

  <div class="nodata-placeholder" noData>
    <h2 class="mb-5 fs-6">{{ I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.title }}</h2>
    <div class="text-center">
      <img [src]="Emoji.Rocket | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.placeholder }}</p>
      <a type="button" class="d-block btn btn-outline-secondary mt-4" [routerLink]="['/', AltoRoutes.lead, AltoRoutes.programs, AltoRoutes.programsEdit, AltoRoutes.programsNew]">
        <i class="bi bi-plus-lg"></i>{{ I18ns.programs.programs.createProgram }}
      </a>
    </div>
  </div>
  <div class="nodata-placeholder" noResult>
    <h3 class="mb-5 fs-6">
      {{ I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.title }}
    </h3>
    <div class="text-center">
      <img [src]="Emoji.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
      <p class="mt-3">
        {{ I18ns.shared.placeholders.noResultInTimeframe.title }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.shared.placeholders.noResultInTimeframe.subtitle }}
      </span>
    </div>
  </div>

  <div class="skeleton-panel my-5" style="height:334px" loading></div>
</alto-placeholder-manager>
