<div class="modal-header">
  <div class="float-start mx-3 alto-badge-big"><i class="bi bi-braces fs-4 fw-bolder"></i></div>
  <h4 class="modal-title" id="modal-title">Raw data of user in JSON</h4>
</div>
<div class="modal-body">
  <h2>Alto-API User's data</h2>
  <pre *ngIf="user">{{ user | json }}</pre>
  <hr />
  <h2>Auth0 User's data</h2>
  <pre *ngIf="userAuth0">{{ userAuth0 | json }}</pre>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary flex-grow-1" (click)="modal.dismiss('cancel click')">
    Close
  </button>
</div>
