<div class="header-panel mb-5">
  <img [src]="Emoji.Bullseye | emoji" height="32" width="32" />
  <div>
    <h1>{{ I18ns.programs.title }}</h1>
    <p>{{ I18ns.programs.subtitle }}</p>
  </div>
</div>
<div class="programs-tabs">
  <alto-tabs [data]="tabData" (tabChanged)="handleTabChange($event)"></alto-tabs>
</div>

<!-- PROGRAMS -->
<div *ngIf="activeTab === 'programs'" class="active-programs">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <div>
      <h2>
        <img class="emoji" [src]="Emoji.Bullseye | emoji" width="16" height="16"/>
        {{ I18ns.programs.activePrograms.title }} ({{ activeProgramCount }})
      </h2>
      <p class="subtitle alto-grey">{{ I18ns.programs.activePrograms.subtitle }}</p>
    </div>
    <a type="button" class="btn btn-primary" [routerLink]="AltoRoutes.programsCreate">
      <i class="bi bi-plus-lg"></i>
      <div>
        {{ I18ns.programs.programs.createProgram }}
      </div>
    </a>
  </div>

  <alto-program-card-list
    (programTotal)="activeProgramCount = $event"
    [place]="'program'"
    [isActive]="true"
  ></alto-program-card-list>
</div>

<hr class="my-7">

<div *ngIf="activeTab === 'programs'">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <div>
      <h2 id="programsAnchor">
        <img class="emoji" [src]="Emoji.BustsInSilhouette | emoji" width="16" height="16" />
        {{ I18ns.programs.programs.title }} ({{ programsStore.programsInitCardList.value.length }})
      </h2>
      <p class="mt-2 alto-grey">{{ I18ns.programs.programs.subtitle }}</p>
    </div>
    <a
      data-cy="createNewProgram"
      type="button"
      class="btn btn-primary"
      [routerLink]="AltoRoutes.programsCreate"
    >
      <i class="bi bi-plus-lg"></i>
      <div>
        {{ I18ns.programs.programs.createProgram }}
      </div>
    </a>
  </div>

  <alto-program-card-list data-cy="programCardList" [place]="'program'"></alto-program-card-list>
</div>

<!-- QUESTIONS -->
<div *ngIf="activeTab === 'questions'" class="questions">
  <alto-programs-questions></alto-programs-questions>
</div>

<!-- TAGS -->
<div *ngIf="activeTab === 'tags'">
  <button type="button" class="btn btn-primary float-end" (click)="openTagForm()">
    <i class="bi bi-plus-lg"></i> <span>{{ I18ns.programs.tags.createTag }}</span>
  </button>
  <h2 id="tagsAnchor">
    <img class="emoji" [src]="Emoji.Label | emoji" width="16" height="16" />
    {{ I18ns.programs.tags.title }}
  </h2>
  <p class="mt-3 mb-3 alto-grey">{{ I18ns.programs.tags.subtitle }}</p>

  <div class="mb-5">
    <div class="d-inline-block float-end">
      <alto-score-filter
        [selectedItems]="selectedScore"
        (selectChange)="getTags({ score: $event })"
      ></alto-score-filter>
    </div>
    <div class="d-inline-block">
      <alto-search
        class="search"
        [searchItems]="tagFilters.search"
        (searchChange)="getTags({ search: $event })"
      ></alto-search>
    </div>
  </div>
  <ng-container *ngIf="paginatedTags.length > 0; else noTags">
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="w-20">{{ I18ns.programs.tags.table.name }}</th>
            <th scope="col" class="text-center">
              {{ I18ns.programs.tags.table.score }}
            </th>
            <th class="w-20" scope="col">{{ I18ns.programs.tags.table.associatedQuestions }}</th>
            <th class="w-15"></th>
          </tr>
        </thead>
        <tbody [style.height]="53 * paginatedTags.length + 'px'" *ngIf="!isTagsLoading">
          <tr *ngFor="let tag of paginatedTags">
            <td>
              <span class="alto-badge primary">
                {{ tag.name }}
              </span>
            </td>
            <td class="text-center">
              <span class="alto-score" [class]="(getTagScore(tag.id) || 0) * 100 | pillColor">
                {{ getTagScore(tag.id) | percent }}
              </span>
            </td>
            <td>{{ tag.questionsCount + I18ns.programs.tags.table.questions }}</td>
            <td class="text-end px-4">
              <i class="fs-4 bi bi-trash3 cursor-pointer me-4" (click)="deleteTag(tag)"></i>
              <i class="fs-4 bi bi-pen cursor-pointer" (click)="openTagForm(tag)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <alto-pagination
        class="mx-4 d-block"
        [collectionSize]="tagsCount"
        [(page)]="tagsPage"
        (pageChange)="getTags()"
        [pageSize]="tagsPageSize"
        aria-label="Default pagination"
      ></alto-pagination>
    </div>
  </ng-container>
  <ng-template #noTags>
    <div *ngIf="!isFilteredTags; else noResult" class="nodata-placeholder text-center">
      <img [src]="Emoji.FlexedBiceps | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.programs.tags.table.placeholder }}</p>
      <button type="button" class="btn btn-primary mt-4" (click)="openTagForm()">
        <i class="bi bi-plus-lg"></i>
        {{ I18ns.programs.tags.createTag }}
      </button>
    </div>
    <ng-template #noResult>
      <div class="nodata-placeholder text-center">
        <img [src]="Emoji.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
        <p class="mt-3">{{ I18ns.shared.noData }}</p>
        <span class="mt-3 d-block">{{ I18ns.shared.noDataSubtitle }}</span>
        <button class="btn btn-primary mt-4" (click)="resetFilters()">
          <i class="bi bi-arrow-clockwise"></i>
          {{ I18ns.shared.resetFilters }}
        </button>
      </div>
    </ng-template>
  </ng-template>
</div>
