<h1>{{ I18ns.programs.title }}</h1>
<p class="mt-2 mb-4 alto-grey fs-6b">{{ I18ns.programs.subtitle }}</p>
<div class="pb-6 border-bottom">
  <alto-anchor-navigator fragment="programsAnchor">
    <button type="button" class="btn btn-outline-secondary me-3 fw-medium">
      {{ I18ns.programs.programs.title }}<span class="alto-badge ms-3">{{ programsCount }}</span>
    </button>
  </alto-anchor-navigator>
  <alto-anchor-navigator fragment="questionsAnchor">
    <button type="button" class="btn btn-outline-secondary me-3 fw-medium">
      {{ I18ns.programs.questions.title }}<span class="alto-badge ms-3">{{ questionsCount }}</span>
    </button>
  </alto-anchor-navigator>
  <alto-anchor-navigator fragment="submittedQuestionsAnchor">
    <button type="button" class="btn btn-outline-secondary me-3 fw-medium">
      {{ I18ns.programs.awaitQuestions.title
      }}<span class="alto-badge ms-3">{{ submittedQuestions.length }}</span>
    </button>
  </alto-anchor-navigator>
  <alto-anchor-navigator fragment="tagsAnchor">
    <button type="button" class="btn btn-outline-secondary me-3 fw-medium">
      {{ I18ns.programs.tags.title }}<span class="alto-badge ms-3">{{ tagsCount }}</span>
    </button>
  </alto-anchor-navigator>
</div>

<!-- PROGRAMS -->
<div class="border-bottom">
  <div>
    <a type="button" class="btn btn-primary float-end" [routerLink]="AltoRoutes.programsCreate">
      <i class="bi bi-plus-lg"></i> {{ I18ns.programs.programs.createProgram }}
    </a>
    <h2 id="programsAnchor" class="mt-6">{{ I18ns.programs.programs.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.programs.programs.subtitle }}</p>
  </div>

  <alto-program-card-list
    (programTotal)="programsCount = $event"
    [place]="'program'"
  ></alto-program-card-list>
</div>

<!-- QUESTIONS -->
<div class="py-4 border-bottom questions">
  <button type="button" class="btn btn-primary float-end" (click)="openQuestionForm()">
    <i class="bi bi-plus-lg"></i> {{ I18ns.programs.questions.createQuestion }}
  </button>
  <h2 id="questionsAnchor">{{ I18ns.programs.questions.title }}</h2>
  <p class="mb-4 alto-grey">{{ I18ns.programs.questions.subtitle }}</p>

  <div class="row mb-4">
    <div class="col-8">
      <alto-dropdown-filter
        class="me-3"
        data-cy="questionsProgramFilter"
        [data]="programsStore.programs.value"
        [displayLabel]="'name'"
        [returnValue]="'id'"
        [placeholder]="I18ns.programs.questions.filters.programs"
        (selectChange)="getQuestions({ programs: $event })"
      ></alto-dropdown-filter>
      <alto-dropdown-filter
        class="me-3"
        data-cy="questionsTagFilter"
        [data]="programsStore.tags.value"
        [returnValue]="'id'"
        [displayLabel]="'name'"
        [placeholder]="I18ns.programs.questions.filters.tags"
        (selectChange)="getQuestions({ tags: $event })"
      ></alto-dropdown-filter>
      <alto-dropdown-filter
        class="me-3"
        data-cy="questionsContributorFilter"
        [data]="contributors"
        [returnValue]="'id'"
        [displayLabel]="'fullname'"
        [placeholder]="I18ns.programs.questions.filters.contributors"
        (selectChange)="getQuestions({ contributors: $event })"
      ></alto-dropdown-filter>
    </div>
    <div class="col-4 text-end">
      <alto-search
        data-cy="questionsSearchFilter"
        (searchChange)="getQuestions({ search: $event })"
      ></alto-search>
    </div>
  </div>
  <ng-container *ngIf="questionsCount > 0; else noQuestions">
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr *ngVar="I18ns.programs.questions.table as headers">
            <th scope="col">{{ headers.question }}</th>
            <th scope="col">{{ headers.score }}</th>
            <th data-cy="questionsTableTagCol">{{ headers.tags }}</th>
            <th data-cy="questionsTableProgramCol">{{ headers.programs }}</th>
            <th data-cy="questionsTableContributorCol" class="text-center">{{ headers.author }}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody [style.height]="72 * questions.length + 'px'">
          <ng-container *ngIf="!isQuestionsLoading">
            <tr *ngFor="let question of questions">
              <td class="w-40">
                {{ question.title }}
              </td>
              <td class="w-5">
                <span class="alto-score" [class]="(getQuestionScore(question.id) || 0) * 100 | pillColor">
                  {{ getQuestionScore(question.id) | percent }}
                </span>
              </td>
              <ng-container *ngIf="question.tags && question.tags.length > 0; else elseQuestionTag">
                <td>
                  <alto-colored-pill-list [data]="question.tags" [limit]="3"></alto-colored-pill-list>
                </td>
              </ng-container>
              <ng-template #elseQuestionTag>
                <td>-</td>
              </ng-template>

              <td *ngIf="question.programs && question.programs.length > 0">
                <alto-colored-pill-list [data]="question.programs" [limit]="2"></alto-colored-pill-list>
              </td>
              <td *ngIf="!question.programs || question.programs.length < 1">-</td>

              <td class="text-center">
                <alto-img-badge [user]="getUser(question.createdBy)"></alto-img-badge>
              </td>
              <td class="cursor-pointer px-3" (click)="deleteQuestion(question)">
                <i class="fs-5 bi bi-trash3 float-end"></i>
              </td>
              <td class="cursor-pointer px-3" (click)="openQuestionForm(question)">
                <i class="fs-5 bi bi-pen float-end me-4"></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <alto-pagination
        class="mx-4 d-block"
        [collectionSize]="questionsCount"
        [(page)]="questionsPage"
        (pageChange)="changeQuestionsPage($event)"
        [pageSize]="questionsPageSize"
        [maxSize]="10"
        aria-label="Default pagination"
      ></alto-pagination>
    </div>
  </ng-container>
  <ng-template #noQuestions>
    <div class="panel text-center p-6 mb-4">
      <i class="alto-badge-big fs-5 bi bi-search"></i>
      <h2 class="my-4">{{ I18ns.programs.questions.placeholder.noData }}</h2>
      <p class="alto-grey mb-4">{{ I18ns.programs.questions.placeholder.noDataSubtitle }}</p>
      <button class="btn btn-outline-secondary me-2" (click)="resetFilters()">
        <i class="bi bi-arrow-repeat"></i>
        {{ I18ns.training.donePrograms.resetFilters }}
      </button>
      <button type="button" class="btn btn-primary ms-2" (click)="openQuestionForm()">
        <i class="bi bi-plus-lg"></i> {{ I18ns.programs.questions.placeholder.createQuestionPlaceholder }}
      </button>
    </div>
  </ng-template>
</div>

<!-- SUBMITTED QUESTIONS -->
<div class="py-4 border-bottom">
  <div>
    <h2 id="submittedQuestionsAnchor">{{ I18ns.programs.awaitQuestions.title }}</h2>
    <p class="mb-4 alto-grey">{{ I18ns.programs.awaitQuestions.subtitle }}</p>
  </div>
  <ng-container *ngIf="submittedQuestions.length > 0; else noSubmittedQuestions">
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ I18ns.programs.awaitQuestions.table.question }}</th>
            <th scope="col">{{ I18ns.programs.awaitQuestions.table.author }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="!isSubmittedQuestionsLoading">
          <tr *ngFor="let question of submittedQuestions">
            <th scope="row">{{ question.title }}</th>
            <td>
              <alto-img-badge [user]="getUser(question.createdBy)"></alto-img-badge>
            </td>
            <td>
              <i
                class="fs-5 bi bi-pen cursor-pointer float-end me-4"
                (click)="openSubmittedQuestionForm(question)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <alto-pagination
        class="mx-4 d-block"
        [collectionSize]="submittedQuestionsCount"
        [(page)]="submittedQuestionsPage"
        (pageChange)="changeSubmittedQuestionsPage()"
        [pageSize]="submittedQuestionsPageSize"
        [maxSize]="10"
        aria-label="Default pagination"
      ></alto-pagination>
    </div>
  </ng-container>
  <ng-template #noSubmittedQuestions>
    <div class="panel text-center">
      <h2>{{ I18ns.shared.noData }}</h2>
    </div>
  </ng-template>
</div>

<!-- TAGS -->
<div class="py-4 border-bottom">
  <button type="button" class="btn btn-primary float-end" (click)="openTagForm()">
    <i class="bi bi-plus-lg"></i> {{ I18ns.programs.tags.createTag }}
  </button>
  <h2 id="tagsAnchor">{{ I18ns.programs.tags.title }}</h2>
  <p class="mb-4 alto-grey">{{ I18ns.programs.tags.subtitle }}</p>

  <div class="row mb-4">
    <div class="col-8">
      <alto-dropdown-filter
        class="me-3"
        data-cy="questionsContributorFilter"
        [data]="contributors"
        [returnValue]="'id'"
        [displayLabel]="'fullname'"
        [placeholder]="I18ns.programs.questions.filters.contributors"
        (selectChange)="filterTags({ contributors: $event })"
      ></alto-dropdown-filter>

      <alto-score-filter
        data-cy="filterByScore"
        (selectChange)="filterTags({ score: $event })"
      ></alto-score-filter>
    </div>
    <div class="col-4 text-end">
      <alto-search (searchChange)="filterTags({ search: $event })"></alto-search>
    </div>
  </div>
  <ng-container *ngIf="paginatedTags.length > 0; else noTags">
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="w-30">{{ I18ns.programs.tags.table.name }}</th>
            <th scope="col" class="w-25">{{ I18ns.programs.tags.table.score }}</th>
            <th scope="col" class="w-30">{{ I18ns.programs.tags.table.associatedQuestions }}</th>
            <th class="text-center" scope="col">{{ I18ns.programs.tags.table.author }}</th>
            <th class="w-5"></th>
          </tr>
        </thead>
        <tbody *ngIf="!isTagsLoading">
          <tr *ngFor="let tag of paginatedTags">
            <td class="w-15">{{ tag.name }}</td>
            <td class="w-5">
              <span class="alto-score" [class]="(getTagScore(tag.id) || 0) * 100 | pillColor">
                {{ getTagScore(tag.id) | percent }}
              </span>
            </td>
            <td>
              <span class="alto-badge">
                {{ tag.questionsCount }} {{ I18ns.programs.tags.table.questions }}
              </span>
            </td>
            <td class="w-10 text-center">
              <alto-img-badge [user]="getUser(tag.createdBy)"></alto-img-badge>
            </td>
            <td class="cursor-pointer px-3" (click)="deleteTag(tag)">
              <i class="fs-5 bi bi-trash3 float-end"></i>
            </td>
            <td class="cursor-pointer px-3" (click)="openTagForm(tag)">
              <i class="fs-5 bi bi-pen cursor-pointer float-end me-4"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <alto-pagination
        class="mx-4 d-block"
        [collectionSize]="tagsCount"
        [(page)]="tagsPage"
        (pageChange)="filterTags()"
        [pageSize]="tagsPageSize"
        aria-label="Default pagination"
      ></alto-pagination>
    </div>
  </ng-container>
  <ng-template #noTags>
    <div class="panel text-center">
      <h2>{{ I18ns.shared.noData }}</h2>
      <p>{{ I18ns.shared.noDataSubtitle }}</p>
    </div>
  </ng-template>
</div>
