:host {
  display: block;
  padding: var(--alto-page-padding);
}

.subtitle {
  margin-top: 0.67rem;
  margin-bottom: 2rem;
}

.programs-tabs {
  margin-bottom: 3.33rem;
}

.active-programs {
  margin-bottom: 3.33rem;
}

h2 {
  margin-bottom: 0;
}

.search {
  width: 319.9994px;
}
