.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .dropdown-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}