<div class="title-row mb-4">
  <div>
    <h2>
      <img class="emoji" [src]="Emoji.RedQuestionMark | emoji" />
      {{ I18ns.programs.questions.title }}
    </h2>
    <p class="mt-3 mb-3 alto-grey">{{ I18ns.programs.questions.subtitle }}</p>
  </div>

  <button type="button" class="btn btn-primary" (click)="openQuestionForm()">
    <i class="bi bi-plus-lg"></i> <span>{{ I18ns.programs.questions.createQuestion }}</span>
  </button>
</div>

<div class="filters-row mb-4">
  <alto-input-search [searchControl]="searchControl"></alto-input-search>

  <div class="dropdown-filters">
    <alto-input-multiple-select
    [placeholder]="I18ns.programs.questions.filters.programs"
    [controls]="selectedProgramsControl"
    [options]="programsOptions"
    [enableSearch]="true">
    </alto-input-multiple-select>

    <alto-input-multiple-select
    [placeholder]="I18ns.programs.questions.filters.tags"
    [controls]="selectedTagsControl"
    [options]="tagsOptions"
    [enableSearch]="true">
    </alto-input-multiple-select>

    <alto-input-single-select-pill
    [placeholder]="I18ns.statistics.user.performance.questions.scoreFilter"
    [control]="selectedScoreControl"
    [options]="scoreOptions">
    </alto-input-single-select-pill>
  </div>
</div>

<alto-placeholder-manager [status]="questionsDataStatus">
  <div class="table-panel">
    <table class="table">
      <thead>
        <tr *ngVar="I18ns.programs.questions.table as headers">
          <th scope="col" class="w-20">{{ headers.question }}</th>
          <th scope="col" class="w-5 text-center"></th>
          <th scope="col" class="w-10 text-center">
            {{ headers.score }}
          </th>
          <th scope="col" class="w-25">{{ headers.tags }}</th>
          <th scope="col" class="w-30">{{ headers.programs }}</th>
          <th class="w-20"></th>
        </tr>
      </thead>
      <tbody [style.height]="53 * questionsInfos.length + 'px'">
        <tr *ngFor="let questionInfos of questionsInfos">
          <td class="alto-text fs-7" data-cy="questionsList">
            {{ questionInfos.question.title }}
          </td>
          <td class="w-5">
            <button
              *ngIf="questionInfos.question.imageLink"
              class="btn btn-light btn-photos d-flex justify-content-center align-items-center"
              style="color: var(--gray-50); border-radius: 20px; width: 40px;"
              (click)="openImageModal(questionInfos.question)">
              <i class="bi bi-image"></i>
            </button>
          </td>
          <td class="w-10 text-center">
            <ng-container *ngIf="questionInfos.score !== undefined; else noScore">
              <span class="alto-score" [class]="(questionInfos.score) * 100 | pillColor">
                {{ questionInfos.score | percent }}
              </span>
            </ng-container>
            <ng-template #noScore>
              <span>-</span>
            </ng-template>
          </td>
          <ng-container *ngIf="questionInfos.tags && questionInfos.tags.length > 0; else elseQuestionTag">
            <td>
              <alto-colored-pill-list
                data-cy="questionsTagsList"
                [data]="questionInfos.tags"
                color="primary"
                [limit]="3"
                [tooltipOnLimit]="true">
              ></alto-colored-pill-list>
            </td>
          </ng-container>
          <ng-template #elseQuestionTag>
            <td>-</td>
          </ng-template>

          <td *ngIf="questionInfos.programs && questionInfos.programs.length > 0">
            <alto-colored-pill-list
              [textLimit]="30"
              [data]="questionInfos.programs"
              [limit]="2"
              [tooltipOnLimit]="true">
            ></alto-colored-pill-list>
          </td>
          <td *ngIf="questionInfos.programs.length < 1">-</td>
          <td class="px-4 text-end">
            <i
              data-cy="deleteQuestionTrash"
              class="cursor-pointer fs-4 bi bi-trash3 me-4"
              (click)="deleteQuestion(questionInfos.question)"
            ></i>
            <i
              data-cy="questionEditPen"
              class="cursor-pointer fs-4 bi bi-pen"
              (click)="openQuestionForm(questionInfos.question)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>

    <alto-pagination
      class="mx-4 d-block"
      [pageControl]="questionsPageControl"
      [itemsCount]="questionsCount"
      [itemsPerPage]="questionsPageSize"
      aria-label="Default pagination"
    ></alto-pagination>
  </div>

  <div loading>
    <div class="skeleton-panel" style="height: 600px"></div>
  </div>

  <div class="nodata-placeholder text-center" noData>
    <img [src]="Emoji.NerdFace | emoji" height="24" />
    <p class="mt-3">{{ I18ns.programs.questions.table.placeholder }}</p>
    <button type="button" class="btn btn-primary mt-4" (click)="openQuestionForm()">
      <i class="bi bi-plus-lg"></i>
      {{ I18ns.programs.questions.createQuestion }}
    </button>
  </div>

  <div class="nodata-placeholder text-center" noResult>
    <img [src]="Emoji.MagnifyingGlassTiltedLeft | emoji" height="24" />
    <p class="mt-3">{{ I18ns.shared.noData }}</p>
    <span class="mt-3 d-block">{{ I18ns.shared.noDataSubtitle }}</span>
    <button class="btn btn-primary mt-4" (click)="resetFilters()">
      <i class="bi bi-arrow-clockwise"></i>
      {{ I18ns.shared.resetFilters }}
    </button>
  </div>
</alto-placeholder-manager>
