<div class="header-panel mb-5 d-flex align-items-center px-5 py-4">
  <img class="me-4" [src]="EmojiName.Gear | emoji" />

  <h1 class="m-0 d-inline-block">{{ I18ns.settings.title }}</h1>
</div>

<alto-tabs
  class="alto-tabs"
  *ngVar="I18ns.leadHome.globalEvolution.tabs as trads"
  (tabChanged)="tabChange($event)"
  [data]="[
    { label: I18ns.settings.users.title, value: 1 },
    { label: I18ns.settings.continuousSession.title, value: 2 }
  ]"
></alto-tabs>
<span [ngSwitch]="activeTab">
  <alto-settings-users *ngSwitchCase="1"></alto-settings-users>
  <alto-settings-integrations *ngSwitchCase="2"></alto-settings-integrations>
</span>
