:host {
  display: block;
  padding: var(--alto-page-padding);
}

.div-title {
  border-radius: 0.5rem;
  background: var(--primary-50, #eff8ff);
  padding: 1rem 2rem 1rem 1.5rem;
}

.settings-icon {
  font-size: 1.5rem;
  font-style: normal;
}

.settings-title {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  color: #101828;
}

.alto-tabs {
  margin-bottom: 3rem;
}
