<div class="header-panel mb-5">
  <img [src]="EmojiName.Gear | emoji" height="32" width="32" />
  <h1>{{ I18ns.settings.title }}</h1>
</div>

<div class="mb-4">
  <alto-tabs
  [selectedControl]="tabControl"
  [options]="tabOptions"
  ></alto-tabs>
</div>

<span [ngSwitch]="tabControl.value.value">
  <alto-settings-users *ngSwitchCase="ESettingsTab.Users"></alto-settings-users>
  <alto-settings-integrations *ngSwitchCase="ESettingsTab.Diffusion" [company]="company" [users]="users"></alto-settings-integrations>
</span>
