:host {
  display: block;
  padding: var(--alto-page-padding);
}

.div-title {
  border-radius: 0.6667rem;
  background: var(--primary-50, #eff8ff);
  padding: 1.3333rem 2.6667rem 1.3333rem 2rem;
}

.settings-icon {
  font-size: 2rem;
  font-style: normal;
}

.settings-title {
  font-size: 1.3333rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6667rem;
  color: #101828;
}

.alto-tabs {
  margin-bottom: 4rem;
}
