<div
  class="panel d-flex justify-content-between align-items-center"
  [class]="assignedLicensesCount > licensesCount ? 'warning' : ''"
>
  <p class="title fs-5 p-0 m-0">{{ I18ns.settings.users.licencesTitle }}</p>
  <div class="flex-fill d-flex justify-content-end align-items-center">
    <div class="progress w-30">
      <div
        class="progress-bar"
        [class]="
          assignedLicensesCount > licensesCount ? 'progressbar-error' : ''
        "
        role="progressbar"
        [style.width]="getProgressbarWidth()"
      ></div>
    </div>
    <p class="p-O m-0 ms-4">
      {{
        assignedLicensesCount +
          "/" +
          (I18ns.settings.users.licences | plural : licensesCount)
      }}
    </p>

    <div class="tooltip-container btn ms-4">
      <a>
        <i class="bi bi-gear"></i>
      </a>
      <div class="tooltip-text large">
        <p>{{ I18ns.settings.users.contactTooltip }}</p>
      </div>
    </div>
  </div>
</div>
