label {
  font-weight: 600;
}
hr {
  border-color: var(--bs-gray-300);
}
:host ::ng-deep {
  .form-control {
    font-size: 0.833rem;
    padding: 0.667rem 1rem;
  }
  ng-select {
    .ng-placeholder {
      font-size: 0.833rem;
    }
  }
}
.form-control {
  margin-bottom: 1.143rem;
  font-size: 0.833rem;
}

.form-label {
  margin-bottom: 0.667rem;
}

.input-group,
.input-group .form-control {
  height: 3.167rem;
  font-size: 0.833rem;
}

.input-group-text {
  color: var(--gray-900);
  background-color: var(--gray-200);
  padding: 0.5rem 1rem;
  font-size: 0.833rem;
}

.sidebar-body {
  overflow: auto;
  margin-bottom: 80px;
}
.footer {
  background-color: white;
  position: fixed;
  width: var(--bs-offcanvas-width);
  right: 0;
  bottom: 0;
  z-index: 100;
  .button-container {
    padding: 1.333rem 2.667rem;
    height: 6.083rem;
  }
}
.add-field {
  cursor: pointer;
  color: var(--primary-600);
  font-weight: 600;
  margin-bottom: 1.333rem;
  i {
    font-size: 2rem;
    line-height: 1rem;
    vertical-align: middle;
  }
}
.remove-field {
  cursor: pointer;
  i {
    font-size: 1.3rem;
    line-height: 1rem;
    vertical-align: top;
    color: var(--alto-grey);
  }
}
.btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
