label {
  font-weight: 600;
}
.form-control {
  margin-bottom: 1.143rem;
}

.form-label {
  margin-bottom: 0.667rem;
}

.sidebar-body {
  height: calc(100vh - 236px);
  overflow: auto;
}
.footer {
  background-color: white;
  position: fixed;
  width: var(--bs-offcanvas-width);
  right: 0;
  bottom: 0;
  z-index: 100;
  .button-container {
    padding: 1.143rem 2.286rem;
  }
}
.add-field {
  cursor: pointer;
  color: var(--primary-600);
  font-weight: 600;
  margin-bottom: 1.333rem;
  i {
    font-size: 2rem;
    line-height: 1rem;
    vertical-align: middle;
  }
}
.remove-field {
  cursor: pointer;
  i {
    font-size: 1.3rem;
    line-height: 1rem;
    vertical-align: top;
    color: var(--alto-grey);
  }
}
.btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
