<div class="text-end px-4 mt-3">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss()"></button>
</div>
<div class="px-4 my-2">
  <h2>
    <i class="alto-badge-big fs-5 tab-icon me-4 bi bi-question-circle"></i>

    {{
      isSubmitted
        ? I18ns.questions.form.title.submitted
        : isEdit
        ? I18ns.questions.form.title.edit
        : I18ns.questions.form.title.create
    }}
  </h2>
  <p class="fs-7">
    {{
      isSubmitted
        ? question?.createdByUser?.username + I18ns.questions.form.subtitle.submitted
        : I18ns.questions.form.subtitle.question
    }}
  </p>
</div>
<hr />
<div class="offcanvas-body px-4">
  <div *ngIf="isSubmitted" class="mb-4 row">
    <alto-profile-card class="col-7" [user]="question?.createdByUser"> </alto-profile-card>
    <div class="col-5 text-end">
      <a type="button" class="btn btn-outline-secondary" [href]="'mailto:' + question?.createdByUser?.email">
        <i class="bi bi-reply-all-fill"></i> {{ I18ns.shared.reply }}
      </a>
    </div>
  </div>
  <form *ngIf="questionForm" [formGroup]="questionForm">
    <label class="form-label required">{{ I18ns.questions.form.name }}</label>
    <input
      type="text"
      class="form-control"
      formControlName="title"
      placeholder="{{ I18ns.questions.form.namePlaceholder }}"
    />

    <label class="form-label required mt-3">{{ I18ns.questions.form.goodAnswer }}</label>
    <input
      type="text"
      class="form-control"
      formControlName="answersAccepted"
      placeholder="{{ I18ns.questions.form.answerPlaceholder + ' 1' }}"
    />

    <label class="form-label required mt-3">{{ I18ns.questions.form.badAnswer }}</label>
    <input
      type="text"
      class="form-control mb-1"
      formControlName="answersWrong1"
      placeholder="{{ I18ns.questions.form.answerPlaceholder + ' 1' }}"
    />
    <input
      type="text"
      class="form-control mb-1"
      formControlName="answersWrong2"
      placeholder="{{ I18ns.questions.form.answerPlaceholder + ' 2' }}"
    />
    <input
      type="text"
      class="form-control"
      formControlName="answersWrong3"
      placeholder="{{ I18ns.questions.form.answerPlaceholder + ' 3' }}"
    />

    <label class="form-label mt-3">{{ I18ns.questions.form.programs }}</label>
    <ng-select
      class="alto-form"
      [items]="programs"
      [multiple]="true"
      bindLabel="name"
      [placeholder]="I18ns.questions.form.programsPlaceholder"
      [closeOnSelect]="false"
      bindValue="id"
      formControlName="programs"
    >
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <div class="alto-badge">
          <span>{{ item.name }}</span>
          <span class="cursor-pointer ms-2 align-middle" (click)="clear(item)" aria-hidden="true">
            <i class="bi bi-x-lg"></i>
          </span>
        </div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span class="alto-badge">{{ item.name }}</span>
        <i class="bi bi-check-circle-fill"></i>
      </ng-template>
    </ng-select>

    <label class="form-label required mt-3">{{ I18ns.questions.form.tags }}</label>
    <ng-select
      class="alto-form"
      required
      [items]="tags"
      [multiple]="true"
      bindLabel="name"
      [placeholder]="I18ns.questions.form.tagsPlaceholder"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      formControlName="tags"
    >
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <div class="alto-badge">
          <span>{{ item.name }}</span>
          <span class="cursor-pointer ms-2 align-middle" (click)="clear(item)" aria-hidden="true">
            <i class="bi bi-x-lg"></i>
          </span>
        </div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span class="alto-badge">{{ item.name }}</span>
        <i class="bi bi-check-circle-fill"></i>
      </ng-template>
    </ng-select>

    <label class="form-label mt-3">{{ I18ns.questions.form.explanation }}</label>
    <textarea
      class="form-control"
      rows="5"
      formControlName="explanation"
      placeholder="{{ I18ns.questions.form.explanationPlaceholder }}"
    ></textarea>

    <label class="form-label mt-3">{{ I18ns.questions.form.link }}</label>
    <input
      type="text"
      class="form-control"
      formControlName="link"
      placeholder="{{ I18ns.questions.form.linkPlaceholder }}"
    />

    <ng-container *ngIf="isSubmitted; else elseTemplate">
      <div class="my-4">
        <button
          type="button"
          class="btn btn-outline-secondary me-3"
          aria-label="Close"
          (click)="activeOffcanvas.dismiss()"
        >
          {{ I18ns.shared.cancel }}
        </button>

        <button
          type="button"
          class="btn btn-danger me-3"
          (click)="changeStatus(QuestionSubmittedStatusEnum.Declined)"
        >
          {{ I18ns.shared.refuse }}
        </button>

        <input
          type="submit"
          [disabled]="!questionForm.valid"
          class="btn btn-primary"
          [value]="I18ns.shared.save"
          (click)="createQuestion()"
        />
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <input
        type="submit"
        [disabled]="!questionForm.valid"
        class="w-100 btn btn-primary my-4"
        [value]="I18ns.shared.save"
        (click)="createQuestion()"
      />
    </ng-template>
  </form>
</div>
