<button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss()"></button>
<div class="mx-6 my-4">
  <alto-icon-badge [size]="4" class="me-4"></alto-icon-badge>

  <h2 class="d-inline-block">
    {{
      isSubmitted
        ? I18ns.questions.form.title.submitted
        : isEdit
        ? I18ns.questions.form.title.edit
        : I18ns.questions.form.title.create
    }}
  </h2>
  <!-- <p class="alto-grey">
      {{
        isSubmitted
          ? question?.createdByUser?.firstname +
            ' ' +
            question?.createdByUser?.lastname +
            I18ns.questions.form.subtitle.submitted
          : I18ns.questions.form.subtitle.question
      }}
    </p> -->
</div>
<hr class="mb-0" />

<div class="p-6 sidebar-body">
  <div *ngIf="isSubmitted" class="mb-4 row">
    <alto-profile-card class="col-7" [user]="question?.createdByUser"> </alto-profile-card>
    <div class="col-5 text-end">
      <a type="button" class="btn btn-outline-secondary" [href]="'mailto:' + question?.createdByUser?.email">
        <i class="bi bi-reply-all-fill"></i> {{ I18ns.shared.reply }}
      </a>
    </div>
  </div>
  <form *ngIf="questionForm" [formGroup]="questionForm">
    <label class="form-label required">{{ I18ns.questions.form.name }}</label>

    <alto-text-counter
      data-cy="questionCreateTitle"
      [control]="questionForm.controls.title"
      [placeholder]="I18ns.questions.form.namePlaceholder"
      [limit]="questionHardLimit"
      [softLimit]="questionSoftLimit"
    >
    </alto-text-counter>

    <label class="form-label">{{ I18ns.questions.form.explanation }}</label>
    <textarea
      class="form-control"
      rows="5"
      formControlName="explanation"
      placeholder="{{ I18ns.questions.form.explanationPlaceholder }}"
    ></textarea>
    <ng-container *ngIf="!isNewProgram">
      <label class="form-label">{{ I18ns.questions.form.programs }}</label>
      <ng-select
        class="alto-form mb-4"
        [items]="programs"
        [multiple]="true"
        bindLabel="name"
        [placeholder]="I18ns.questions.form.programsPlaceholder"
        [closeOnSelect]="false"
        bindValue="id"
        formControlName="programs"
      >
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <div class="alto-badge">
            <span>{{ item.name }}</span>
            <span class="cursor-pointer ms-2 align-middle" (click)="clear(item)" aria-hidden="true">
              <i class="bi bi-x-lg"></i>
            </span>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <span class="alto-badge">{{ item.name }}</span>
          <i class="bi bi-check-circle-fill"></i>
        </ng-template>
      </ng-select>
    </ng-container>

    <label class="form-label required">{{ I18ns.questions.form.tags }}</label>
    <ng-select
      class="alto-form mb-4"
      data-cy="tagSelectDropdown"
      required
      [items]="tags"
      [multiple]="true"
      bindLabel="name"
      [placeholder]="I18ns.questions.form.tagsPlaceholder"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      formControlName="tags"
    >
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <div class="alto-badge">
          <span>{{ item.name }}</span>
          <span class="cursor-pointer ms-2 align-middle" (click)="clear(item)" aria-hidden="true">
            <i class="bi bi-x-lg"></i>
          </span>
        </div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span class="alto-badge">{{ item.name }}</span>
        <i class="bi bi-check-circle-fill"></i>
      </ng-template>
    </ng-select>

    <label class="form-label" for="basic-url">{{ I18ns.questions.form.link }}</label>

    <div class="input-group mb-5">
      <span class="input-group-text" id="basic-addon3">https://</span>
      <input
        id="basic-url"
        type="text"
        class="form-control mb-0"
        formControlName="link"
        placeholder="{{ I18ns.questions.form.linkPlaceholder }}"
      />
    </div>

    <hr class="m-0" />

    <!-- ANSWERS -->

    <label class="form-label required mt-5">{{ I18ns.questions.form.goodAnswer }}</label>

    <ng-container formArrayName="answersAccepted">
      <ng-container *ngFor="let answer of answersAccepted.controls; let i = index">
        <div class="d-flex align-items-center" data-cy="goodAnswerInput">
          <alto-text-counter
            class="flex-grow-1 ml-2"
            [control]="answer"
            [placeholder]="I18ns.questions.form.answerPlaceholder + ' ' + (i + 1)"
            [limit]="answerHardLimit"
            [softLimit]="answerSoftLimit"
          >
          </alto-text-counter>
          <div
            *ngIf="answersAccepted.controls.length > 1"
            class="remove-field flex-grow-2 ms-3 mb-4"
            (click)="removeAnswer('good', i)"
          >
            <i class="bi bi-trash3"></i>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <p class="add-field" *ngIf="answersAccepted.controls.length < 4" (click)="addGoodAnwswer()">
      <i class="bi bi-plus"></i> {{ I18ns.questions.form.addGoodAnswer }}
    </p>

    <label class="form-label required mb-1">{{ I18ns.questions.form.badAnswer }}</label>
    <p class="alto-grey mb-3 fs-7">
      {{ I18ns.questions.form.badAnswerSubtitle }}
    </p>

    <ng-container formArrayName="answersWrong">
      <ng-container *ngFor="let answer of answersWrong.controls; let i = index">
        <div class="d-flex align-items-center" data-cy="badAnswerInput">
          <alto-text-counter
            class="flex-grow-1 ml-2"
            [control]="answer"
            [placeholder]="I18ns.questions.form.answerPlaceholder + ' ' + (i + 1)"
            [limit]="answerHardLimit"
            [softLimit]="answerSoftLimit"
          >
          </alto-text-counter>
          <div
            *ngIf="answersWrong.controls.length > 1"
            class="remove-field flex-grow-2 ms-3 mb-4"
            (click)="removeAnswer('bad', i)"
          >
            <i class="bi bi-trash3"></i>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <p class="add-field" *ngIf="answersWrong.controls.length < 6" (click)="addBadAnwswer()">
      <i class="bi bi-plus"></i> {{ I18ns.questions.form.addBadAnswer }}
    </p>
  </form>
</div>
<div class="footer">
  <hr class="m-0" />

  <div class="button-container">
    <a type="button" class="cancel-btn" aria-label="Close" (click)="activeOffcanvas.dismiss()">
      {{ I18ns.shared.cancel }}
    </a>
    <ng-container *ngIf="isSubmitted; else elseTemplate">
      <input
        type="submit"
        [disabled]="questionForm && !questionForm.valid"
        class="btn btn-primary float-end"
        [value]="I18ns.shared.save"
        (click)="createQuestion()"
      />

      <button
        type="button"
        class="btn btn-danger me-3 float-end"
        (click)="changeStatus(QuestionSubmittedStatusEnum.Declined)"
      >
        {{ I18ns.shared.refuse }}
      </button>
    </ng-container>
    <ng-template #elseTemplate>
      <input
        type="submit"
        [disabled]="questionForm && !questionForm.valid"
        class="btn btn-primary float-end"
        [value]="I18ns.shared.save"
        (click)="createQuestion()"
      />
    </ng-template>
  </div>
</div>
