<alto-admin-header
  [title]="edit ? 'Edit a user' : 'Create a user'"
  subtitle="Find here the members of the company."
></alto-admin-header>
<div class="d-flex justify-content-between">
  <div>
    <h2>Informations</h2>
    <p class="fs-7">Fill in the general information about this company.</p>
  </div>
  <div *ngIf="userForm">
    <button
      type="button"
      class="btn btn-outline-secondary d-inline-flex align-items-center me-2"
      routerLink=".."
    >
      Cancel
    </button>
    <button
      [disabled]="!userForm.valid || userForm.pristine || !userForm.dirty"
      type="button"
      class="btn btn-primary d-inline-flex align-items-center"
      (click)="submit()"
    >
      Confirm
    </button>
  </div>
</div>
<hr />
<form *ngIf="userForm" [formGroup]="userForm">
  <!-- Name -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <label for="name" class="col-5 mb-2 required">Name</label>
      <div class="col-7 form-group">
        <div class="d-flex gap-2">
          <input type="text" class="form-control" placeholder="Example: John" formControlName="firstname" />
          <input type="text" class="form-control" placeholder="Example: Doe" formControlName="lastname" />
        </div>
      </div>
    </div>
  </div>
  <!-- Username -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Username</label>
      </div>
      <div class="col-7 form-group">
        <input type="text" class="form-control" placeholder="Example: John" formControlName="username" />
      </div>
    </div>
  </div>
  <!-- Email -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name" class="required">Email</label>
      </div>
      <div class="col-7 form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Example: john.doe@email.com"
          formControlName="email"
        />
      </div>
    </div>
  </div>
  <!-- Team -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Team</label>
      </div>
      <div class="col-7 form-group">
        <ng-select
          class="w-100"
          required
          [items]="teams"
          [multiple]="false"
          bindValue="id"
          bindLabel="shortName"
          placeholder="Search a team"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          formControlName="teamId"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <div class="badge rounded-pill p-2" [style.backgroundColor]="item.id | uuid2color">
              <span class="cursor-pointer me-1" (click)="clear(item)" aria-hidden="true">
                <i class="bi bi-x-lg"></i>
              </span>
              <span>{{ item.shortName }}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <span class="badge rounded-pill p-2" [style.backgroundColor]="item.id | uuid2color">
              {{ item.shortName }} - {{ item.longName }}
            </span>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <!-- Roles -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Roles</label>
      </div>
      <div class="col-7 form-group">
        <ng-select
          class="w-100"
          required
          [items]="rolesPossibleValues"
          [multiple]="true"
          placeholder="Select a role"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          formControlName="roles"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <div class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
              <span class="cursor-pointer me-1" (click)="clear(item)" aria-hidden="true">
                <i class="bi bi-x-lg"></i>
              </span>
              <span>{{ item }}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <span class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
              {{ item }}
            </span>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
  <!-- Slack ID -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">ID Slack</label>
      </div>
      <div class="col-7 form-group">
        <div class="d-flex gap-3">
          <input
            type="text"
            class="form-control"
            placeholder="Example: U0G9QF9C6"
            formControlName="slackId"
          />
          <button
            type="button"
            class="btn btn-primary d-inline-flex align-items-center text-nowrap"
            (click)="resetSlackId()"
          >
            Reset ID
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="userForm" class="d-flex justify-content-end pt-4">
  <div class="d-flex align-items-center">
    <button
      routerLink=".."
      type="button"
      class="btn btn-outline-secondary d-inline-flex align-items-center me-2"
    >
      Cancel
    </button>
    <button
      [disabled]="!userForm.valid || userForm.pristine || !userForm.dirty"
      type="button"
      class="btn btn-primary d-inline-flex align-items-center"
      (click)="submit()"
    >
      Confirm
    </button>
  </div>
</div>

<!-- <div class="py-4 page-max-width">
  <button type="button" class="btn btn-primary float-end" (click)="submit()">
    Save
  </button>
</div> -->
