<div class="d-flex justify-content-between">
  <div>
    <h2>Informations</h2>
    <p class="fs-7">Fill in the general information about this company.</p>
  </div>
  <div>
    <button type="button" class="btn btn-outline-secondary d-inline-flex align-items-center me-2">
      Cancel
    </button>
    <button type="button" class="btn btn-primary d-inline-flex align-items-center">
      Next
      <i class="bi bi-arrow-right ps-2"></i>
    </button>
  </div>
</div>
<hr />
<form *ngIf="userForm" [formGroup]="userForm">
  <!-- Name -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <label for="name" class="col-5 mb-2 required">Name</label>
      <div class="col-7 form-group">
        <div class="d-flex gap-2">
          <input type="text" class="form-control" placeholder="Example: John" formControlName="firstname" />
          <input type="text" class="form-control" placeholder="Example: Doe" formControlName="lastname" />
        </div>
      </div>
    </div>
  </div>
  <!-- Username -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Username</label>
      </div>
      <div class="col-7 form-group">
        <input type="text" class="form-control" placeholder="Example: John" formControlName="username" />
      </div>
    </div>
  </div>
  <!-- Email -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name" class="required">Email</label>
      </div>
      <div class="col-7 form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Example: john.doe@email.com"
          formControlName="email"
        />
      </div>
    </div>
  </div>
  <!-- Team -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Team</label>
      </div>
      <div class="col-7 form-group">
        <ng-select
          class="w-100"
          required
          [items]="teams"
          [multiple]="false"
          bindValue="id"
          bindLabel="shortName"
          placeholder="Search a team"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          formControlName="teamId"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <div class="badge rounded-pill p-2" [style.backgroundColor]="item.id | uuid2color">
              <span class="cursor-pointer me-1" (click)="clear(item)" aria-hidden="true">
                <i class="bi bi-x-lg"></i>
              </span>
              <span>{{ item.shortName }}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <span class="badge rounded-pill p-2" [style.backgroundColor]="item.id | uuid2color">
              {{ item.shortName }} - {{ item.longName }}
            </span>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <!-- Role -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Role</label>
      </div>
      <div class="col-7 form-group">
        <input type="text" class="form-control" placeholder="Select a role" formControlName="role" />
      </div>
    </div>
  </div>
  <!-- Slack ID -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">ID Slack</label>
      </div>
      <div class="col-7 form-group">
        <input type="text" class="form-control" placeholder="Example: U0G9QF9C6" formControlName="slackId" />
      </div>
    </div>
  </div>
</form>

<div class="d-flex justify-content-between">
  <div class="py-4">
    <button type="button" class="btn btn-outline float-end" (click)="submit()">
      <i class="bi bi-save"></i> Save
    </button>
  </div>
  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-outline-secondary d-inline-flex align-items-center me-2">
      Cancel
    </button>
    <button type="button" class="btn btn-primary d-inline-flex align-items-center">
      Next
      <i class="bi bi-arrow-right ps-2"></i>
    </button>
  </div>
</div>

<!-- <div class="py-4 page-max-width">
  <button type="button" class="btn btn-primary float-end" (click)="submit()">
    Save
  </button>
</div> -->
