<alto-admin-header
  [title]="edit ? 'Edit a user' : 'Create a user'"
  [subtitle]="edit ? 'Edit the user information.' : 'Enter user information to create an account.' "
></alto-admin-header>
<div class="d-flex justify-content-end">
  <div *ngIf="userForm">
    <button
      type="button"
      class="btn btn-outline-secondary d-inline-flex align-items-center me-2"
      routerLink=".."
    >
      Cancel
    </button>
    <button
      [disabled]="!userForm.valid || userForm.pristine || !userForm.dirty"
      type="button"
      class="btn btn-primary d-inline-flex align-items-center"
      (click)="submit()"
    >
      Save
      <i class="bi bi-save ps-2"></i>
    </button>
  </div>
</div>
<hr />
<form *ngIf="userForm" [formGroup]="userForm">
  <!-- Name -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <label for="name" class="col-5 mb-2 required">Name</label>
      <div class="col-7 form-group">
        <div class="d-flex gap-2">
          <input type="text" class="form-control" placeholder="Firstname" formControlName="firstname" />
          <input type="text" class="form-control" placeholder="Lastname" formControlName="lastname" />
        </div>
      </div>
    </div>
  </div>
  <!-- Email -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name" class="required">Email</label>
      </div>
      <div class="col-7 form-group">
        <input
          type="text"
          class="form-control"
          placeholder="john.doe@email.com"
          formControlName="email"
        />
      </div>
    </div>
  </div>
  <!-- Roles -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <div class="col-5 mb-2">
          <label for="name" class="required">Roles</label>
          <p class="fs-7">The user must always have at least the role `company-user`.</p>
        </div>
      </div>
      <div class="col-7 form-group">
        <ng-select
          class="w-100"
          required
          [items]="rolesPossibleValues"
          [multiple]="true"
          placeholder="Select a role"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          formControlName="roles"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <div class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
              <span
                *ngIf="item !== 'company-user'"
                class="cursor-pointer me-1"
                (click)="clear(item)"
                aria-hidden="true"
              >
                <i class="bi bi-x-lg"></i>
              </span>
              <span>{{ item }}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <span class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
              {{ item }}
            </span>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
</form>
<div *ngIf="userForm" class="d-flex justify-content-end pt-4">
  <div class="d-flex align-items-center">
    <button
      routerLink=".."
      type="button"
      class="btn btn-outline-secondary d-inline-flex align-items-center me-2"
    >
      Cancel
    </button>
    <button
      [disabled]="!userForm.valid || userForm.pristine || !userForm.dirty"
      type="button"
      class="btn btn-primary d-inline-flex align-items-center"
      (click)="submit()"
    >
      Save
      <i class="bi bi-save ps-2"></i>
    </button>
  </div>
</div>

<!-- <div class="py-4 page-max-width">
  <button type="button" class="btn btn-primary float-end" (click)="submit()">
    Save
  </button>
</div> -->
