h2 {
  line-height: 2rem;
}
.btn {
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.167rem;
  padding: 1rem 1.167rem;
  height: auto;
}
