<div class="header-panel mb-7 d-flex align-items-center">
  <img class="me-4" [src]="Emoji.PuzzlePiece | emoji" />
  <div class="d-inline-block">
    <h1 class="mb-3">{{ I18ns.collaboration.title }}</h1>
    <p class="alto-grey fs-6">{{ I18ns.collaboration.subtitle }}</p>
  </div>
</div>
<div class="mb-7">
  <span class="fw-bold breadcrumb"
    >{{ I18ns.collaboration.seeQuestion.awaiting }}
    <i class="bi bi-chevron-right fw-normal mx-3"></i>
    <p class="fw-normal breadcrumb-link">
      {{ I18ns.collaboration.seeQuestion.seeQuestion }}
    </p>
  </span>
</div>
<div class="question-panel px-5 py-4 d-flex align-items-center mb-4">
  <img class="me-4" [src]="Emoji.RedQuestionMark | emoji" />
  <p class="fw-bold fs-5">
    bonsoilwsjgml sjfmgljsdfmgkjdsfmlgkjsdf sdklfj gmlsdjkgfmljsd mlkdjfg mljsdfl gjdflg kjsdmlfgjsdlfmg j
  </p>
</div>
<p>{{I18ns.collaboration.seeQuestion.discoverQuestionsAndComments}}</p>
