<div class="py-4 border-bottom" style="max-width:1000px">
  <button type="button" class="btn btn-primary float-end">
    {{ I18ns.profile.password.update }}
  </button>
  <h1>{{ I18ns.profile.password.title }}</h1>
  <p>{{ I18ns.profile.password.subtitle }}</p>
</div>
<div class="py-4 border-bottom" style="max-width:1000px">
  <p>{{ I18ns.profile.password.newPassword }}</p>
  <div [innerHTML]="I18ns.profile.password.newPasswordRules"></div>
  <div class="input-group my-3">
    <input type="text" class="form-control" placeholder="{{ I18ns.profile.password.title }}" />
  </div>
  <p class="mt-4">{{ I18ns.profile.password.confirmNewPassword }}</p>
  <div class="input-group my-3">
    <input type="text" class="form-control" placeholder="{{ I18ns.profile.password.title }}" />
  </div>
</div>
