label {
  font-weight: 500;
}
.form-control {
  margin-bottom: 1.143rem;
}
.offcanvas-body {
  padding: 0;
  overflow: visible;
}
.footer {
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
  .button-container {
    padding: 1.143rem 2.286rem;
  }
}
