<span [ngSwitch]="place">
  <ng-container *ngIf="!this.isActive">
    <div class="row mb-5" *ngSwitchCase="'program'">
      <div class="col-5">
        <alto-search
          data-cy="programSearch"
          class="d-inline-block program-search"
          (searchChange)="filterPrograms({ search: $event })"
        ></alto-search>
      </div>
      <div class="col-7 text-end">
        <alto-dropdown-filter
          class="me-3 text-start"
          data-cy="programTeamFilter"
          [data]="teamStore.teams.value"
          [displayLabel]="'shortName'"
          [placeholder]="I18ns.programs.programs.filters.teams"
          (selectChange)="filterPrograms({ teams: $event })"
          [isColored]="true"
        ></alto-dropdown-filter>
        <alto-score-filter
          class="me-3 text-start"
          data-cy="filterByScore"
          (selectChange)="filterPrograms({ score: $event })"
        ></alto-score-filter>
        <alto-progression-filter
          class="text-start"
          [disabled]="programs.length === 0"
          [selectedItems]="[]"
          (selectChange)="filterPrograms({ progress: $event })"
        ></alto-progression-filter>
      </div>
    </div>
  </ng-container>
  <div *ngSwitchDefault></div>
</span>

<div class="row mb-4">
  <div
    class="mb-4 col-4"
    *ngFor="let prog of programsDisplay | slice : (page - 1) * pageSize : page * pageSize"
  >
    <alto-program-card
      [displayToggle]="displayToggle"
      [score]="programsScores.get(prog.id)"
      [progress]="programsProgress.get(prog.id)"
      [participation]="programsInvolvement.get(prog.id)"
      [program]="prog"
      [allTeamsCount]="teamStore.teams.value.length"
    ></alto-program-card>
  </div>
</div>

<alto-pagination
  [collectionSize]="count"
  [(page)]="page"
  [pageSize]="pageSize"
  aria-label="Default pagination"
></alto-pagination>
