<span [ngSwitch]="place">
  <div class="row mb-4" *ngSwitchCase="'home'">
    <div class="col-5"></div>
    <div class="col-7 text-end">
      <alto-dropdown-filter
        class="text-start me-3"
        [data]="teamStore.teams.value"
        [displayLabel]="'shortName'"
        [placeholder]="I18ns.programs.programs.filters.team"
        (selectChange)="filterPrograms({ teams: $event })"
        [isColored]="true"
      ></alto-dropdown-filter>
      <button
        [routerLink]="['/', AltoRoutes.lead, AltoRoutes.programs]"
        class="btn btn-outline-secondary align-bottom"
      >
        {{ I18ns.shared.showAll }} <i class="ms-2 bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="row mb-4" *ngSwitchCase="'program'">
    <div class="col-7">
      <alto-dropdown-filter
        data-cy="programTeamFilter"
        [data]="teamStore.teams.value"
        [displayLabel]="'shortName'"
        [placeholder]="I18ns.programs.programs.filters.team"
        (selectChange)="filterPrograms({ teams: $event })"
        [isColored]="true"
      ></alto-dropdown-filter>
    </div>
    <div class="col-5 text-end">
      <alto-search
        data-cy="programSearch"
        class="d-inline-block ms-3"
        (searchChange)="filterPrograms({ search: $event })"
      ></alto-search>
    </div>
  </div>
  <div *ngSwitchDefault></div>
</span>
<ng-container *ngIf="programsDisplay.length > 0; else noPrograms">
  <div class="row mb-4">
    <div
      [ngClass]="getCardWidth(width)"
      class="mb-4"
      *ngFor="let prog of programsDisplay | slice : (page - 1) * pageSize : page * pageSize"
    >
      <alto-program-card
        [displayToggle]="displayToggle"
        [score]="programsScores.get(prog.id)"
        [progress]="programsProgress.get(prog.id)"
        [participation]="programsInvolvement.get(prog.id)"
        [program]="prog"
      ></alto-program-card>
    </div>
  </div>
</ng-container>
<ng-template #noPrograms>
  <div class="panel text-center p-6 mb-4">
    <i class="alto-badge-big alto-badge-blue bi-file-earmark-text"></i>
    <h2 class="my-4">{{ I18ns.leadHome.ongoingPrograms.noData }}</h2>
    <p class="alto-grey mb-4">{{ I18ns.leadHome.ongoingPrograms.noDataSubtitle }}</p>
    <a type="button" class="btn btn-primary" href="/l/programs/e/new"
      ><i class="bi bi-plus-lg"></i> Créer un programme
    </a>
  </div>
</ng-template>

<alto-pagination
  [collectionSize]="count"
  (pageChange)="loadScores($event)"
  [(page)]="page"
  [pageSize]="pageSize"
  [maxSize]="10"
  aria-label="Default pagination"
></alto-pagination>
