<h1 class="mt-4">{{ I18ns.challenges.title }}</h1>
<p class="mb-4">{{ I18ns.challenges.subtitle }}</p>
<div class="pb-4 border-bottom">
  <alto-anchor-navigator fragment="byTeamAnchor">
    <button class="btn btn-outline-secondary me-4">
      {{ I18ns.challenges.team.shortTitle }}
    </button>
  </alto-anchor-navigator>

  <alto-anchor-navigator fragment="byUserAnchor">
    <button class="btn btn-outline-secondary me-4">
      {{ I18ns.challenges.individual.shortTitle }}
    </button>
  </alto-anchor-navigator>
</div>
<div class="py-4 border-bottom">
  <button type="button" class="btn btn-primary float-end">
    {{ I18ns.challenges.team.createChallenge }}
  </button>

  <h1 id="byTeamAnchor">{{ I18ns.challenges.team.title }}</h1>
  <p class="mb-4">{{ I18ns.challenges.team.subtitle }}</p>

  <div class="panel">
    <h2>{{ I18ns.leadHome.ongoingChallenges.byTeam }}</h2>

    <ng-container *ngIf="challengesByTeam.length > 0; else noChallengesTeam">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.name }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.teams }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.leader }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.end }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chal of challengesByTeam">
            <td>{{ chal.name }}</td>
            <td>
              <alto-colored-pill-list
                [hasDynamicColor]="true"
                [data]="chal.teams"
                [limit]="3"
              ></alto-colored-pill-list>
            </td>
            <td>
              <span
                *ngIf="chal.leadTeam"
                class="alto-badge"
                [style.backgroundColor]="chal.leadTeam.id | uuid2color"
                [style.color]="'white'"
              >
                {{ chal.leadTeam.shortName }}
              </span>
            </td>
            <td>{{ chal.endDate | date : 'shortDate' }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noChallengesTeam>
      <div class="panel text-center">
        <i class="bi bi-controller fs-5"></i>
        <h2>{{ I18ns.leadHome.ongoingChallenges.noTeamChallenges }}</h2>
        <p>{{ I18ns.leadHome.ongoingChallenges.noTeamChallengesSubtitle }}</p>
      </div>
    </ng-template>
  </div>

  <hr />

  <button type="button" class="btn btn-primary float-end mt-4">
    {{ I18ns.challenges.team.createChallenge }}
  </button>

  <h1 id="byUserAnchor" class="mt-4">{{ I18ns.challenges.individual.title }}</h1>
  <p class="mb-4">{{ I18ns.challenges.individual.subtitle }}</p>

  <div class="panel">
    <h2>{{ I18ns.leadHome.ongoingChallenges.individual }}</h2>
    <ng-container *ngIf="challengesByUser.length > 0; else noChallenges">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.name }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.teams }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.leader }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.end }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chal of challengesByUser">
            <td>{{ chal.name }}</td>
            <td>
              <alto-colored-pill-list
                [hasDynamicColor]="true"
                [data]="chal.teams"
                [limit]="3"
              ></alto-colored-pill-list>
            </td>
            <td>
              <alto-img-badge [url]="(getUser(chal.leadUser) | async)?.pictureUrl"></alto-img-badge>
            </td>
            <td>{{ chal.endDate | date : 'shortDate' }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noChallenges>
      <div class="panel text-center">
        <i class="bi bi-controller fs-5"></i>
        <h2>{{ I18ns.leadHome.ongoingChallenges.noIndividualChallenges }}</h2>
        <p>{{ I18ns.leadHome.ongoingChallenges.noIndividualChallengesSubtitle }}</p>
      </div>
    </ng-template>
  </div>
</div>
