<h1 class="mt-4">{{ I18ns.programs.title }}</h1>
<p class="mb-4">{{ I18ns.programs.subtitle }}</p>
<div class="pb-4 border-bottom">
  <alto-anchor-navigator [fragment]="'byTeamAnchor'">
    <button class="btn btn-outline-secondary me-4">
      {{ I18ns.challenges.team.shortTitle }}
    </button>
  </alto-anchor-navigator>

  <alto-anchor-navigator [fragment]="'byUserAnchor'">
    <button class="btn btn-outline-secondary me-4">
      {{ I18ns.challenges.individual.shortTitle }}
    </button>
  </alto-anchor-navigator>
</div>
<div class="py-4 border-bottom">
  <button type="button" class="btn btn-primary float-end">
    {{ I18ns.challenges.team.createChallenge }}
  </button>

  <h1 id="byTeamAnchor">{{ I18ns.challenges.team.title }}</h1>
  <p class="mb-4">{{ I18ns.challenges.team.subtitle }}</p>
  <div class="panel" *ngIf="true; else teamChallenges"></div>
  <ng-template #teamChallenges>
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button">Équipes</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ I18ns.challenges.team.table.name }}</th>
          <th scope="col">{{ I18ns.challenges.team.table.teams }}</th>
          <th scope="col">{{ I18ns.challenges.team.table.leader }}</th>
          <th scope="col">{{ I18ns.challenges.team.table.endDate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">challenge 1</th>
          <td>
            <span class="badge rounded-pill bg-primary">EPI</span>
          </td>
          <td>Aucun leader</td>
          <td>31/03</td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="fs-5 bi bi-pencil-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
<div class="py-4 border-bottom">
  <button type="button" class="btn btn-primary float-end">
    {{ I18ns.challenges.individual.createChallenge }}
  </button>

  <h1 id="byUserAnchor">{{ I18ns.challenges.individual.title }}</h1>
  <p class="mb-4">{{ I18ns.challenges.individual.subtitle }}</p>
  <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button">Équipes</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{ I18ns.challenges.individual.table.name }}</th>
        <th scope="col">{{ I18ns.challenges.individual.table.teams }}</th>
        <th scope="col">{{ I18ns.challenges.individual.table.leader }}</th>
        <th scope="col">{{ I18ns.challenges.individual.table.endDate }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">challenge 2</th>
        <td>
          <span class="badge rounded-pill bg-success">DTS</span>
        </td>
        <td>Aucun leader</td>
        <td>31/03</td>
        <td>
          <button type="button" class="btn btn-light">
            <i class="fs-5 bi bi-pencil-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
