<h1>{{ I18ns.challenges.title }}</h1>
<p class="mb-4 alto-grey">{{ I18ns.challenges.subtitle }}</p>
<div class="pb-4">
  <alto-anchor-navigator fragment="byTeamAnchor">
    <button class="btn btn-outline-secondary me-3">
      {{ I18ns.challenges.team.shortTitle }}<span class="alto-badge ms-3">{{ byTeamCount }}</span>
    </button>
  </alto-anchor-navigator>

  <alto-anchor-navigator fragment="byUserAnchor">
    <button class="btn btn-outline-secondary me-3">
      {{ I18ns.challenges.individual.shortTitle }}<span class="alto-badge ms-3">{{ byUserCount }}</span>
    </button>
  </alto-anchor-navigator>
</div>
<hr />
<div class="py-4">
  <!-- TEAMS -->
  <button
    type="button"
    class="btn btn-primary float-end"
    [routerLink]="[AltoRoutes.challengeCreate, ChallengeTypeEnumApi.ByTeam]"
  >
    <i class="bi bi-plus-lg"></i> {{ I18ns.challenges.team.createChallenge }}
  </button>

  <h2 id="byTeamAnchor">{{ I18ns.challenges.team.title }}</h2>
  <p class="mb-4 alto-grey">{{ I18ns.challenges.team.subtitle }}</p>

  <ng-container *ngIf="challengesByTeam.length > 0; else noChallengesTeam">
    <div class="row mb-4">
      <div class="col-8">
        <alto-dropdown-filter
          [data]="teamStore.teams.value"
          [displayLabel]="'shortName'"
          [placeholder]="I18ns.programs.programs.filters.team"
          (selectChange)="filterChallengesByTeam($event, ChallengeTypeEnumApi.ByTeam)"
          [isColored]="true"
        ></alto-dropdown-filter>

        <ng-select
          class="ms-3"
          [searchable]="false"
          [items]="status"
          [(ngModel)]="byTeamSelectedStatus"
          [placeholder]="I18ns.challenges.team.statusFilter"
          (ngModelChange)="filterByStatus(ChallengeTypeEnumApi.ByTeam)"
        >
          <ng-option *ngFor="let option of status" [value]="option.value"></ng-option>
        </ng-select>
      </div>
      <div class="col-4 text-end">
        <alto-search class="ms-3" (searchChange)="search($event, ChallengeTypeEnumApi.ByTeam)"></alto-search>
      </div>
    </div>

    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="w-35">{{ I18ns.leadHome.ongoingChallenges.table.name }}</th>
            <!-- <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.leader }}</th> -->
            <th scope="col" class="w-25 text-center">{{ I18ns.leadHome.ongoingChallenges.table.teams }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.startDate }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.endDate }}</th>
            <th scope="col" class="text-center">{{ I18ns.leadHome.ongoingChallenges.table.status }}</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let chal of challengesByTeamDisplay
                | slice : (byTeamPage - 1) * pageSize : byTeamPage * pageSize
            "
          >
            <td class="fw-medium alto-blue fs-6">{{ chal.name }}</td>
            <!-- <td class="text-center">
              <alto-img-badge [user]="getUser(chal.createdBy) | async" ></alto-img-badge> -->

            <!-- <span
                *ngIf="chal.leadTeam"
                class="alto-badge"
                [style.backgroundColor]="chal.leadTeam.id | uuid2color"
                [style.color]="'white'"
              >
                {{ chal.leadTeam.shortName }}
              </span> -->
            <!-- </td> -->
            <td class="text-center">
              <alto-colored-pill-list
                [hasDynamicColor]="true"
                [data]="chal.teams || []"
                [limit]="3"
              ></alto-colored-pill-list>
            </td>
            <td>{{ chal.startDate | date : 'shortDate' }}</td>
            <td>{{ chal.endDate | date : 'shortDate' }}</td>
            <td class="text-center">
              <alto-status-pill
                *ngIf="chal.status; else byTeamNoStatus"
                [status]="chal.status"
              ></alto-status-pill>
              <ng-template #byTeamNoStatus>N/A</ng-template>
            </td>
            <td class="px-4">
              <i
                class="bi bi-pen cursor-pointer float end me-4"
                [routerLink]="[AltoRoutes.challengeEdit, chal.id]"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>

      <alto-pagination
        class="mx-4 d-block"
        [ngClass]="{ invisible: challengesByTeamDisplay.length <= pageSize }"
        [(page)]="byTeamPage"
        [pageSize]="pageSize"
        [collectionSize]="challengesByTeamDisplay.length"
      ></alto-pagination>
    </div>
  </ng-container>
  <ng-template #noChallengesTeam>
    <div class="panel text-center">
      <i class="bi bi-controller fs-5"></i>
      <h2>{{ I18ns.leadHome.ongoingChallenges.noTeamChallenges }}</h2>
      <p>{{ I18ns.leadHome.ongoingChallenges.noTeamChallengesSubtitle }}</p>
    </div>
  </ng-template>

  <hr class="my-5" />

  <!-- SOLO -->
  <button
    type="button"
    class="btn btn-primary float-end mt-4"
    [routerLink]="[AltoRoutes.challengeCreate, ChallengeTypeEnumApi.ByUser]"
  >
    {{ I18ns.challenges.team.createChallenge }}
  </button>

  <h2 id="byUserAnchor" class="mt-4">{{ I18ns.challenges.individual.title }}</h2>
  <p class="mb-4 alto-grey">{{ I18ns.challenges.individual.subtitle }}</p>

  <ng-container *ngIf="challengesByUser.length > 0; else noChallenges">
    <div class="row mb-4">
      <div class="col-8">
        <alto-dropdown-filter
          class="text-start"
          [data]="teamStore.teams.value"
          [displayLabel]="'shortName'"
          [placeholder]="I18ns.programs.programs.filters.team"
          (selectChange)="filterChallengesByTeam($event, ChallengeTypeEnumApi.ByUser)"
          [isColored]="true"
        ></alto-dropdown-filter>
        <ng-select
          class="d-inline-block ms-3"
          [searchable]="false"
          [items]="status"
          [(ngModel)]="byUserSelectedStatus"
          [placeholder]="I18ns.challenges.team.statusFilter"
          (ngModelChange)="filterByStatus(ChallengeTypeEnumApi.ByUser)"
        >
          <ng-option *ngFor="let option of status" [value]="option.value"></ng-option>
        </ng-select>
      </div>
      <div class="col-4 text-end">
        <alto-search class="ms-3" (searchChange)="search($event, ChallengeTypeEnumApi.ByUser)"></alto-search>
      </div>
    </div>
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="w-35">{{ I18ns.leadHome.ongoingChallenges.table.name }}</th>
            <!-- <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.leader }}</th> -->
            <th scope="col" class="w-25 text-center">{{ I18ns.leadHome.ongoingChallenges.table.teams }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.startDate }}</th>
            <th scope="col">{{ I18ns.leadHome.ongoingChallenges.table.endDate }}</th>
            <th scope="col" class="text-center">{{ I18ns.leadHome.ongoingChallenges.table.status }}</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let chal of challengesByUserDisplay
                | slice : (byUserPage - 1) * pageSize : byUserPage * pageSize
            "
          >
            <td class="fw-medium alto-blue fs-6">{{ chal.name }}</td>
            <!-- <td class="text-center">
              <alto-img-badge [user]="getUser(chal.createdBy) | async"></alto-img-badge>
            </td> -->
            <td class="text-center">
              <alto-colored-pill-list
                [hasDynamicColor]="true"
                [data]="chal.teams ?? []"
                [limit]="3"
              ></alto-colored-pill-list>
            </td>
            <td>{{ chal.startDate | date : 'shortDate' }}</td>
            <td>{{ chal.endDate | date : 'shortDate' }}</td>
            <td class="text-center">
              <alto-status-pill
                *ngIf="chal.status; else byUserNoStatus"
                [status]="chal.status"
              ></alto-status-pill>
              <ng-template #byUserNoStatus>N/A</ng-template>
            </td>
            <td class="px-3">
              <i
                class="bi bi-pen cursor-pointer float end me-4"
                [routerLink]="[AltoRoutes.challengeEdit, chal.id]"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>

      <alto-pagination
        class="mx-4 d-block"
        [ngClass]="{ invisible: challengesByUserDisplay.length <= pageSize }"
        [(page)]="byUserPage"
        [pageSize]="pageSize"
        [collectionSize]="challengesByUserDisplay.length"
      ></alto-pagination>
    </div>
  </ng-container>
  <ng-template #noChallenges>
    <div class="panel text-center">
      <i class="bi bi-controller fs-5"></i>
      <h2>{{ I18ns.leadHome.ongoingChallenges.noIndividualChallenges }}</h2>
      <p>{{ I18ns.leadHome.ongoingChallenges.noIndividualChallengesSubtitle }}</p>
    </div>
  </ng-template>
</div>
