<div class="modal-body text-center p-5">
  <alto-icon-badge
    [icon]="'bi-exclamation-triangle'"
    [color]="'badge-double-warning'"
    [size]="4"
  ></alto-icon-badge>
  <h2 class="fw-semibold mb-4 mt-4">
    {{ title }}
  </h2>
  <p class="mb-5 alto-grey">
    {{ subtitle }}
  </p>

  <div class="row mt-6 text-center">
    <div class="col-6">
      <button
        class="btn btn-outline-secondary w-100 justify-content-sm-center"
        style="font-size: 1rem"
        (click)="closeModal()"
      >
        {{ I18ns.collaboration.modal.cancel }}
      </button>
    </div>
    <div class="col-6">
      <button
        class="btn btn-primary w-100 justify-content-sm-center"
        style="font-size: 1rem"
        (click)="confirm()"
      >
        {{ validBtn }}
      </button>
    </div>
  </div>
</div>
