<div class="row">

  <div class="col-sm-6">
    <h2>Edit user</h2>
    <form [formGroup]="userForm" class="page-max-width" *ngIf="userForm">

      <div class="row">
        <div class="col-4">
          <label class="form-label">Username</label>
          <p class="fs-7">Pour un affichage plus sympa</p>
        </div>
        <div class="col-6">
          <input class="form-control" formControlName="username" />
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-4">
          <label class="form-label">Slack ID</label>
          <p class="fs-7">Lien vers le compte Slack du user <small class="text-danger text-smaller">Make sure you know what your are doing</small></p>
        </div>
        <div class="col-6">
          <input class="form-control" formControlName="slackId" />
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-4">
          <label class="form-label">Team</label>
          <p class="fs-7">Selectionner une team</p>
        </div>
        <div class="col-6">
          <ng-select
            required
            [items]="teams"
            [multiple]="false"
            bindValue="id"
            bindLabel="shortName"
            [placeholder]="'team'"
            [selectableGroup]="true"
            [closeOnSelect]="false"
            formControlName="teamId"
          >
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
              <div class="badge rounded-pill p-2" [style.backgroundColor]="item.id | uuid2color">
                <span class="cursor-pointer me-1" (click)="clear(item)" aria-hidden="true">
                  <i class="bi bi-x-lg"></i>
                </span>
                <span>{{ item.shortName }}</span>
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <span class="badge rounded-pill p-2" [style.backgroundColor]="item.id | uuid2color">
                {{ item.shortName }} - {{ item.longName }}
              </span>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-4">
          <label class="form-label">Roles</label>
          <p class="fs-7">Affecter des roles. `company-user` doit toujours etre présent</p>
        </div>
        <div class="col-6">
          <ng-select
            required
            [items]="rolesPossibleValues"
            [multiple]="true"
            [placeholder]="'roles'"
            [selectableGroup]="true"
            [closeOnSelect]="false"
            formControlName="roles"
          >
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
              <div class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
                <span class="cursor-pointer me-1" (click)="clear(item)" aria-hidden="true">
                  <i class="bi bi-x-lg"></i>
                </span>
                <span>{{ item }}</span>
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <span class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
                {{ item }}
              </span>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" (click)="submit()" [class.disabled]="isDisabled"><p *ngIf="!isDisabled">Update</p><p *ngIf="isDisabled">Updated ✅</p></button>
    </form>
  </div>

  <div class="col-sm-6">
    <h2>Data brute de ce user Alto-API, version JSON <input type="checkbox" [(ngModel)]="display"/></h2>
    <pre *ngIf="display">{{ user | json }}</pre>
    <h2>Data brute de ce user Auth0, version JSON <input type="checkbox" [(ngModel)]="displayAuth0"/></h2>
    <pre *ngIf="displayAuth0">{{ userAuth0 | json }}</pre>
  </div>

</div>