<div>
  <alto-admin-header
    title="Companies"
    subtitle="Find all of our clients here"
    [divider]="true"
    [breadcrumbs]="[
      {
        label: 'Companies',
        url: '/admin/companies'
      }
    ]"
  ></alto-admin-header>

  <div class="d-flex justify-content-between align-items-center alto-grey fs-5 pb-4">
    <span>{{ companies.length }} company account</span>
    <a
      [routerLink]="['/', 'admin', 'companies', 'create']"
      routerLinkActive="menu-selected"
      class="btn btn-primary my-2 align-middle"
    >
      <i class="bi bi-plus-lg pe-2"></i>
      Create
    </a>
  </div>
  <div *ngIf="companies.length > 0; else elseBlock">
    <div class="d-flex justify-content-end gap-2 pb-4">
      <alto-search (searchChange)="onSearch($event)"></alto-search>
    </div>
    <div class="table-container table-panel mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">
              Company name
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let company of displayedCompanies">
            <td scope="row" 
              class="d-flex justify-content-between align-items-center">
              <a
                [routerLink]="['/', 'admin', 'companies', company.id, 'users']"
                routerLinkActive="menu-selected"
              >
                <span class="fw-bolder alto-grey">{{ company.name }}</span>
                <p class="fw-lighter alto-grey smaller">Created {{ company.createdAt| date : 'fullDate' }}, by {{ company.createdByUser.firstname }} {{company.createdByUser.lastname}} </p>
              </a>
              <ng-template #simpleName> {{ company.name }}</ng-template>
              <a 
                [routerLink]="['/','admin','companies', company.id]">
                <i class="bi bi-pencil mx-4"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <span>Page {{ page }} of {{ pageCount }}</span>
      <div class="d-flex gap-2">
        <button
          type="button"
          [disabled]="page === 1"
          (click)="onPaginator(page - 1)"
          class="btn btn-outline-secondary"
        >
          Previous
        </button>
        <button
          type="button"
          [disabled]="page === pageCount"
          (click)="onPaginator(page + 1)"
          class="btn btn-outline-secondary"
        >
          Next
        </button>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="card bg-white align-items-center py-5">
      <div class="icon-people-container mb-3">
        <i class="bi bi-people fs-4 fw-bolder"></i>
      </div>
      <span class="fs-4 fw-bolder pb-1">No company account available</span>
      <span class="pb-4 alto-second-grey">Create your first company account and add teams to it.</span>
      <div>
        <a
          type="button"
          class="btn btn-primary"
          [routerLink]="['/', 'admin', 'companies', 'create']"
          routerLinkActive="menu-selected"
        >
          <i class="bi bi-plus-lg pe-2"></i>Create a company
        </a>
      </div>
    </div>
  </ng-template>
</div>
