.button-group-container {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  height: 36px;
  border-radius: 3.33rem;
  border: 1px solid var(--gray-200);

  .option {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    padding: 0 1.333rem;

    &.checked {
      background-color: var(--alto-medium-grey);
    }

    &.left {
      border-radius: 3.33rem 0 0 3.33rem;
      border-right: 1px solid var(--gray-200);
    }

    &.right {
      border-radius: 0 3.33rem 3.33rem 0;
      border-left: 1px solid var(--gray-200);
    }

    p {
      line-height: 34px;
      font-size: 1rem;
      font-weight: 600;
    }

    i {
      font-weight: 600;
      font-size: 1.1667rem;
      line-height: 30px;
    }
  }
}