:host {
  display: block;
  padding: var(--alto-page-padding);
  & > hr {
    margin: 1.714rem 0;
  }
}
.btn-check:checked + .alto-tab-btn {
  border-bottom: 2px #175cd3 solid;
  color: #175cd3;
}

.alto-tab-btn {
  margin-right: 1rem;
  cursor: pointer;
  padding-bottom: 0.75rem;
  font-weight: 500;
}
