:host {
  display: block;
  padding: var(--alto-page-padding);
  & > hr {
    margin: 1.714rem 0;
  }
}

.alto-tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  height: 2.5rem;
  gap: 1rem;
  width: 100%;

  .tab-btn {
    font-weight: 400;
    font-size: 1rem;
    color: var(--alto-grey);
    border: none;
    cursor: pointer;
    width: fit-content;
    height: 100%;

    &.check {
      border-bottom: 2px #175cd3 solid;
      color: #175cd3;
      font-weight: 600;
    }
  }
}