<h1>{{ I18ns.training.title }}</h1>
<p class="mt-2 mb-4 alto-grey fs-6b">{{ I18ns.training.subtitle }}</p>

<!-- TABS -->
<div class="alto-tabs-container">
  <ng-container *ngFor="let option of tabOptions; let index = index; let last = last">
    <div
      (click)="switchTab(option)"
      class="tab-btn"
      [class.check]="tabControl.value === option">
      {{option.label}}
      <span *ngIf="index === 0" class="ms-3 badge rounded-pill" [ngClass]="tabControl.value === option ? 'alto-orange-bg' : 'alto-dark-grey-bg'">
        {{ startedProgramsCount }}
      </span>
    </div>
    <div *ngIf="index === tabOptions.length - 2" class="vertical-divider"></div>
  </ng-container>
</div>

<hr />

<ng-container [ngSwitch]="tabControl.value.value">
  <ng-container *ngSwitchCase="EtrainingTabs.Ongoing">
    <!--  ONGOING -->
      <alto-input-button-group [control]="ongoingFilterControl" [options]="ongoingFilterOptions"></alto-input-button-group>
    <h2>{{ I18ns.training.onGoing.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.training.onGoing.subtitle }}</p>

    <div>
      <alto-training-cards-list [pageSize]="3" [data]="onGoingProgramsDisplay">
        <div class="panel text-center p-6 mb-4">
          <i class="alto-badge-big fs-5 bi bi-file-text"></i>
          <h2 class="my-4">{{ I18ns.training.onGoing.noData }}</h2>
          <p class="alto-grey">{{ I18ns.training.onGoing.noDataSubtitle }}</p>
        </div>
      </alto-training-cards-list>
    </div>

    <hr />

    <h2>{{ I18ns.training.continuingTraining.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.training.continuingTraining.subtitle }}</p>

    <alto-continuing-training></alto-continuing-training>

    <hr />

    <h2>{{ I18ns.training.donePrograms.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.training.donePrograms.subtitle2 }}</p>

    <alto-training-cards-list [pageSize]="3" [data]="improveScorePrograms">
      <div class="panel text-center p-6 mb-4">
        <i class="alto-badge-big fs-5 bi bi-file-text"></i>
        <h2 class="my-4">{{ I18ns.training.donePrograms.noData }}</h2>
        <p class="alto-grey">{{ I18ns.training.donePrograms.noDataSubtitle }}</p>
      </div>
    </alto-training-cards-list>
  </ng-container>
  <ng-container *ngSwitchCase="EtrainingTabs.Done">
    <!-- DONE -->
    <h2>{{ I18ns.training.donePrograms.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.training.donePrograms.subtitle }}</p>

    <alto-training-cards-list [pageSize]="3" [data]="improveScorePrograms">
      <div class="panel text-center p-6 mb-4">
        <i class="alto-badge-big fs-5 bi bi-file-text"></i>
        <h2 class="my-4">{{ I18ns.training.donePrograms.noData }}</h2>
        <p class="alto-grey mb-4">{{ I18ns.training.donePrograms.noDataSubtitle }}</p>
        <button class="btn btn-outline-secondary" (click)="backToTrainings()">
          {{ I18ns.training.donePrograms.backButton }}
        </button>
      </div>
    </alto-training-cards-list>
    <hr />

    <h2>{{ I18ns.training.donePrograms.title2 }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.training.donePrograms.subtitle3 }}</p>

    <div class="row mb-4">
      <div class="col-7">
        <alto-input-button-group [options]="completionFilterOptions" [control]="completionFilterControl"></alto-input-button-group>
      </div>
      <div class="col-5 text-end">
        <alto-search (searchChange)="doneFilter({ search: $event })"></alto-search>
      </div>
    </div>

    <alto-training-cards-list [pageSize]="9" [data]="doneProgramsFiltered">
      <div class="panel text-center p-6 mb-4">
        <i class="alto-badge-big fs-5 bi bi-file-text"></i>
        <h2 class="my-4">{{ I18ns.training.donePrograms.noData }}</h2>
        <p class="alto-grey mb-4">{{ I18ns.training.donePrograms.noDataSubtitle }}</p>
        <button class="btn btn-outline-secondary" (click)="backToTrainings()">
          {{ I18ns.training.donePrograms.backButton }}
        </button>
      </div>
    </alto-training-cards-list>
  </ng-container>
  <ng-container *ngSwitchCase="EtrainingTabs.ShowAll">
    <!-- SHOW ALL -->
    <h2>{{ I18ns.training.showAll.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.training.showAll.subtitle }}</p>

    <div class="row mb-4">
      <div class="col-7">
        <alto-score-filter
          [disabled]="disabledCountScore! < 1"
          [selectedItems]="selectedItems"
          (selectChange)="allProgramsFilter({ score: $event })"
        ></alto-score-filter>
        <alto-progression-filter
          [disabled]="disabledCountProgress! < 1"
          [selectedItems]="selectedItems"
          (selectChange)="allProgramsFilter({ progress: $event })"
        ></alto-progression-filter>
      </div>
      <div class="col-5 text-end">
        <alto-search (searchChange)="allProgramsFilter({ search: $event })"> </alto-search>
      </div>
    </div>

    <alto-training-cards-list [pageSize]="9" [data]="allProgramsFiltered">
      <div class="panel text-center p-6 mb-4" *ngIf="allPrograms?.length === 0; else noResult">
        <i class="alto-badge-big fs-5 bi bi-file-text"></i>
        <h2 class="my-4">{{ I18ns.training.donePrograms.noData }}</h2>
        <p class="alto-grey">{{ I18ns.training.donePrograms.noDataSubtitle }}</p>
      </div>
      <ng-template #noResult>
        <div class="panel text-center p-6 mb-4">
          <i class="alto-badge-big fs-5 bi bi-search"></i>
          <h2 class="my-4">{{ I18ns.training.donePrograms.noResult }}</h2>
          <p class="alto-grey mb-4">{{ I18ns.training.donePrograms.noResultSubtitle }}</p>
          <button class="btn btn-outline-secondary" (click)="resetFilters()">
            <i class="bi bi-arrow-repeat"></i>
            {{ I18ns.shared.resetFilters }}
          </button>
        </div>
      </ng-template>
    </alto-training-cards-list>
  </ng-container>
</ng-container>
