.input-search {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 23rem;

  .search-icon {
    position: absolute;
    left: 1rem;
  }

  .input-field {
    border: 1px solid var(--blue-gray-200);
    border-radius: 1.5rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--blue-gray-600);
    width: 100%;
    height: 36px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      outline: none;
      border-color: var(--blue-gray-400);
      box-shadow: 0 0 0 0.25rem rgba(59, 130, 246, 0.25);
    }
  }

  .delete-icon {
    position: absolute;
    right: 1rem;
  }
}
