<div class="modal-header">
  <div>
    <h4 class="modal-title" id="modal-title">Upload and attach files</h4>
    <span>Upload files with users assigned to teams.</span>
  </div>
</div>
<div class="modal-body">
  <alto-dropzone [multiple]="false" (change)="onDropzoneEvent($event)">
    <span subtitle class="fs-7">Following the CSV format : <i>email, ShortName team</i></span>
  </alto-dropzone>
  <div *ngIf="displayedUsers.length > 0" class="table-container table-panel mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>email</th>
          <th>Team</th>
          <th scope="col" class="action-btn-list"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of displayedUsers; let index = index">
          <td>
            <span>{{ user.email }}</span>
          </td>
          <td>
            <span class="alto-badge" [style]="user.team.id | teamColor">{{ user.team.shortName }}</span>
          </td>
          <td class="action-btn-list-container">
            <div class="shaddow"></div>
            <div class="d-flex action-btn-list align-items-center gap-2">
              <button type="button" class="btn btn-link" (click)="deleteUser(user)">
                <i class="alto-second-grey bi bi-trash"></i>
              </button>
              <button type="button" class="btn btn-link">
                <i class="alto-second-grey bi bi-pencil"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="px-2">
      <alto-pagination
        [(page)]="page"
        [collectionSize]="csvData.length"
        [pageSize]="pageSize"
        (pageChange)="refreshUsers()"
      ></alto-pagination>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary flex-grow-1" (click)="modal.dismiss('cancel click')">
    Cancel
  </button>
  <button type="button" class="btn btn-primary flex-grow-1" (click)="modal.close(csvData)">Confirm</button>
</div>
