<div class="mb-4 d-flex justify-content-between">
  <alto-input-search [searchControl]="questionSearchControl"></alto-input-search>

  <alto-input-single-select-pill
    [placeholder]="I18ns.statistics.user.performance.questions.scoreFilter"
    [control]="scoreControl"
    [options]="scoreOptions"
  ></alto-input-single-select-pill>
</div>

<alto-placeholder-manager [status]="questionsDataStatus">
  <div class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-35">
            {{ I18ns.statistics.globalPerformance.questionsTable.columns.question }}
          </th>
          <th scope="col" class="w-10 text-center">
            {{ I18ns.statistics.globalPerformance.questionsTable.columns.globalScore }}
          </th>
          <th scope="col" class="w-10 text-center">
            {{ I18ns.statistics.globalPerformance.questionsTable.columns.scoreEvolution }}
          </th>
          <th scope="col" class="w-20 text-center">
            {{ I18ns.statistics.globalPerformance.questionsTable.columns.usersNumber }}
          </th>
          <th scope="col" class="w-25">
            {{ I18ns.statistics.globalPerformance.questionsTable.columns.badTeams }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionInfos of questions" class="align-middle">
          <td>
            {{ questionInfos.question.title | sliceWithDots : 150 }}
          </td>
          <td class="text-center">
            <ng-container *ngIf="questionInfos.currentStats.score; else elseTemplate">
              <span class="alto-score" [class]="(questionInfos.currentStats.score || 0) * 100 | pillColor">{{
                questionInfos.currentStats.score | percent
              }}</span>
            </ng-container>
            <ng-template #elseTemplate>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalPerformance.questionsTable.columns.noScore }}
              </p>
            </ng-template>
          </td>
          <td class="text-center">
            <alto-progression-badge
              class="d-inline-block ms-3"
              [score]="questionInfos.progression"
              *ngIf="questionInfos.progression !== undefined; else noScoreEvolution"
            ></alto-progression-badge>
            <ng-template #noScoreEvolution>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalPerformance.questionsTable.columns.noScoreEvolution }}
              </p>
            </ng-template>
          </td>
          <td class="text-center">
            <span *ngIf="questionInfos.currentStats.usersCount > 0; else noUsersCount">
              {{ questionInfos.currentStats.usersCount }}
            </span>
            <ng-template #noUsersCount>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalPerformance.questionsTable.columns.noUsersCount }}
              </p>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="questionInfos.currentStats.teams; else noBadTeam">
              <alto-colored-pill-list
                [hasDynamicColor]="true"
                [limit]="3"
                [textLimit]="15"
                [data]="getBadTeams(questionInfos.currentStats.teams)"
              ></alto-colored-pill-list>
            </ng-container>
            <ng-template #noBadTeam>
              <p class="alto-grey text-start">
                {{ I18ns.statistics.globalPerformance.questionsTable.columns.noBadTeams }}
              </p>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <alto-pagination
      *ngIf="questionsDataStatus === EPlaceholderStatus.GOOD"
      class="mx-4 d-block"
      [pageControl]="questionsPageControl"
      [itemsCount]="questionsCount"
      [itemsPerPage]="questionsPageSize"
    ></alto-pagination>
  </div>

  <div class="col nodata-placeholder d-flex justify-content-center align-items-center" noData>
    <div class="text-center">
      <img [src]="Emoji.Collision | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalPerformance.questionsTable.placeholder }}</p>
      <a type="button" class="btn btn-primary mt-4" [routerLink]="['/', AltoRoutes.lead, AltoRoutes.programs, AltoRoutes.programsEdit, AltoRoutes.programsNew]">
        <i class="bi bi-plus-lg"></i>{{ I18ns.programs.programs.createProgram }}
      </a>
    </div>
  </div>
  <div class="text-center nodata-placeholder" noResult>
    <img [src]="Emoji.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
    <p class="mt-3">
      {{ I18ns.shared.noData }}
    </p>
    <span class="d-inline-block mt-3">
      {{ I18ns.shared.noDataSubtitle }}
    </span>
  </div>
  <div class="skeleton-panel mt-5" style="height: 266px" loading></div>
</alto-placeholder-manager>
