.dropdown {
  display: block;

  .dropdown-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 3.167rem;
    border-radius: 3.167rem;
    cursor: pointer;

    &.form {
      border-radius: 0.3rem;
    }
  }

  .title-container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    justify-content: space-between;

    .title {
      font-weight: 500;
    }
  }

  .dropdown-menu {
    max-width: 200%;
    max-height: 25rem;
    overflow-y: scroll;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ced4da;
    z-index: 1;
    padding: 0;
    border-radius: 5px;

    &.show {
      display: block;
    }

    &.medium-w {
      min-width: 150%;
    }

    .dropdown-search {
      padding: 0;
      outline: none;
      background: none;
      display: flex;
      align-items: center;
      position: relative;

      .search-icon {
        position: absolute;
        left: 1rem;
      }

      .search-field {
        width: 100%;
        height: 3.167rem;
        border: none;
        padding: 1rem 3rem;

        &:focus {
          outline: none;
          border-color: var(--blue-gray-400);
        }
      }

      .delete-icon {
        position: absolute;
        right: 1rem;
      }
    }

    .dropdown-item {
      padding: 8px 10px;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      &:active {
        color: black;
        background-color: var(--gray-50);
      }
    }

    .selected {
      background-color: var(--gray-50);
    }

    .pill {
      color: var(--blue-gray-600);
      background: var(--blue-gray-50);
      border-radius: 1.5rem;
      padding: 0 0.5rem;
    }
  }
}

.alto-badge {
  background-color: var(--bs-primary);
  color: white;
}
