<ng-container>
  <div class="header d-flex flex-row">
    <div class="d-flex flex-row align-items-center">
      <alto-icon-badge [icon]="'bi-lightbulb'" [color]="'badge-double-purple'"></alto-icon-badge>
      <span class="fw-semibold text-purple m-sm-2">Question suggérée</span>
    </div>
    <div class="{{ statusClass }} align-self-center">
      {{ status }}
    </div>
  </div>
  <div class="middle d-flex flex-row bg-white">
    <div>
      <alto-img-badge [size]="24" [user]="getUser(suggQuestion?.createdBy) | async"></alto-img-badge>
    </div>
    <div class="d-flex flex-column">
      <div>
        <span class="fw-semibold">{{ user?.firstname }} {{ user?.lastname }} </span
        ><span class="date-text">{{ suggQuestion?.createdAt | date : 'shortDate' }}</span>
      </div>
      <div>
        <span class="light-text">
          {{ suggQuestion?.title }}
        </span>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="footer d-flex flex-row bg-white">
    <div class="d-flex flex-row header1">
      <a class="cancel-btn" (click)="refuse()" *ngIf="suggQuestion?.status === 'submitted'">
        <i class="bi bi-x-lg"></i> Refuser
      </a>
    </div>
    <div>
      <a class="blue-btn" (click)="refuse()" *ngIf="suggQuestion?.status === 'submitted'">
        <i class="bi bi-plus-lg"></i> Créer la question {{ status !== 'submitted' }}
      </a>
    </div>
  </div>
</ng-container>
