.header{
  border-radius: 12px 12px 0px 0px;
  background: var(--purple-25);
  padding: 16px 20px;
  align-self: stretch;
  justify-content: space-between;  
}

.middle{
  padding: 16px 20px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.separator{
  margin: 0px 20px;
  border: 1px solid #EAECF0;
}

.footer{
  border-radius: 0px 0px 12px 12px;
  padding: 16px 20px;
  align-self: stretch;
  justify-content: space-between;  
}

.light-text{
  color: var(--alto-grey);
  line-height: 20px; 
}

.date-text{
  color: var(--alto-grey);
  font-size: 10px;
  line-height: 20px;
  margin-left: 12px;
}