<h1>{{ I18ns.leadTeam.title }}</h1>
<p class="mb-4 alto-grey">{{ I18ns.leadTeam.subtitle }}</p>
<div>
  <alto-anchor-navigator fragment="teamsAnchor">
    <button type="button" class="btn btn-outline-secondary me-4">
      {{ I18ns.leadTeam.teams.shortTitle }}
      <span class="alto-badge">{{ teams.length }}</span>
    </button>
  </alto-anchor-navigator>
  <alto-anchor-navigator fragment="membersAnchor">
    <button type="button" class="btn btn-outline-secondary me-4">
      {{ I18ns.leadTeam.members.shortTitle }}
      <span class="alto-badge">{{ absoluteUsersCount }}</span>
    </button>
  </alto-anchor-navigator>
</div>

<hr class="my-5" />

<!-- TEAMS -->
<div>
  <button type="button" class="btn btn-primary float-end" (click)="openTeamForm()">
    <i class="bi bi-plus-lg"></i> {{ I18ns.leadTeam.createTeam }}
  </button>
  <h2 id="teamsAnchor">{{ I18ns.leadTeam.teams.title }}</h2>
  <p class="mb-4 alto-grey">{{ I18ns.leadTeam.teams.subtitle }}</p>
  <ng-container *ngIf="paginatedTeams.length > 0; else noTeams">
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="w-30">{{ I18ns.leadTeam.teams.table.name }}</th>
            <th scope="col" class="w-10 text-center">{{ I18ns.leadTeam.teams.table.initials }}</th>
            <th scope="col" class="w-20 text-center">{{ I18ns.leadTeam.teams.table.usersCount }}</th>
            <th scope="col" class="w-25">{{ I18ns.leadTeam.teams.table.averageScore }}</th>
            <th scope="col" class="text-center">{{ I18ns.leadTeam.teams.table.creationDate }}</th>
            <th class="w-5"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of paginatedTeams" class="align-middle">
            <td class="fw-medium">
              {{ team.longName }}
            </td>
            <td class="text-center">
              <span class="alto-badge" [style]="team.id | teamColor">{{ team.shortName }}</span>
            </td>
            <td class="w-20 text-center">
              {{ I18ns.leadTeam.teams.table.users | plural : getTeamUsersCount(team.id) }}
            </td>
            <td>
              <div class="progress">
                <div
                  class="progress-bar d-inline-block"
                  role="progressbar"
                  [style]="'width:' + team.score + '%'"
                ></div>
              </div>
              <ng-container *ngIf="team.score"> {{ team.score }} % </ng-container>
            </td>
            <td class="text-center">
              {{ team.createdAt | date : 'shortDate' }}
            </td>
            <td>
              <i class="fs-5 bi bi-pencil cursor-pointer" (click)="openTeamForm(team)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <alto-pagination
        class="mx-4 d-block"
        [collectionSize]="teams.length"
        (pageChange)="changeTeamsPage($event)"
        [pageSize]="teamsPageSize"
        [page]="teamsPage"
      ></alto-pagination>
    </div>
  </ng-container>
  <ng-template #noTeams>
    <div class="panel text-center">
      <h2>{{ I18ns.shared.noData }}</h2>
      <p>{{ I18ns.shared.noDataSubtitle }}</p>
    </div>
  </ng-template>
</div>

<hr class="my-5" />

<!-- MEMBERS -->

<div>
  <button type="button" class="btn btn-outline-secondary float-end" (click)="airtableRedirect()">
    <i class="bi bi-person-plus me-2 fs-5"></i>
    <span class="align-text-bottom">{{ I18ns.leadTeam.members.invite }}</span>
  </button>
  <h2 id="membersAnchor">{{ I18ns.leadTeam.members.title }}</h2>
  <p class="mb-3 alto-grey">{{ I18ns.leadTeam.members.subtitle }}</p>

  <div class="row py-4">
    <div class="col-4">
      <div class="panel">
        <i
          class="alto-grey bi bi-question-circle float-end"
          placement="top"
          ngbTooltip="{{ I18ns.leadTeam.members.statistics.totalTooltip }}"
        ></i>
        <p class="alto-grey mb-3">{{ I18ns.leadTeam.members.statistics.total }}</p>
        <h1>{{ absoluteUsersCount }}</h1>
      </div>
    </div>
    <div class="col-4">
      <div class="panel">
        <i
          class="alto-grey bi bi-question-circle float-end"
          placement="top"
          ngbTooltip="{{ I18ns.leadTeam.members.statistics.regularMembersTooltip }}"
        ></i>
        <p class="alto-grey mb-3">{{ I18ns.leadTeam.members.statistics.active }}</p>
        <h1>{{ activeUsersCount }}</h1>
      </div>
    </div>
    <div class="col-4">
      <div class="panel">
        <i
          class="alto-grey bi bi-question-circle float-end"
          placement="top"
          ngbTooltip="{{ I18ns.leadTeam.members.statistics.iregularMembersTooltip }}"
          placement="start"
        ></i>
        <p class="alto-grey mb-3">{{ I18ns.leadTeam.members.statistics.inactive }}</p>
        <h1>{{ absoluteUsersCount - activeUsersCount }}</h1>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <alto-search
      class="float-end d-inline-block"
      (searchChange)="filterUsers({ search: $event })"
    ></alto-search>

    <alto-dropdown-filter
      class="d-inline-block me-3"
      [data]="teams"
      [displayLabel]="'shortName'"
      [isColored]="true"
      [placeholder]="I18ns.leadTeam.members.filters.teams"
      (selectChange)="filterUsers({ teams: $event })"
    ></alto-dropdown-filter>
    <alto-dropdown-filter
      class="d-inline-block me-3"
      displayLabel="name"
      returnValue="name"
      [data]="scoreFilters"
      [multiple]="false"
      [placeholder]="I18ns.leadTeam.members.filters.score"
      (selectChange)="filterUsers({ score: $event })"
    ></alto-dropdown-filter>
  </div>

  <ng-container *ngIf="paginatedUsers.length > 0; else noUsers">
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="w-35">{{ I18ns.leadTeam.members.table.name }}</th>
            <th scope="col" class="w-5">{{ I18ns.leadTeam.members.table.team }}</th>
            <th scope="col">{{ I18ns.leadTeam.members.table.averageScore }}</th>
            <th scope="col" class="text-center w-20">
              {{ I18ns.leadTeam.members.table.questionsPerMonth }}
              <i
                class="alto-grey bi bi-question-circle"
                placement="top"
                ngbTooltip="{{ I18ns.leadTeam.members.table.questionsPerMonthTooltip }}"
              ></i>
            </th>
            <th class="w-5"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedUsers" class="align-middle">
            <td>
              <alto-profile-card [user]="user"></alto-profile-card>
            </td>
            <td>
              <span class="alto-badge" [style]="user.teamId || '' | teamColor">
                {{ usersMap.get(user.id) }}
              </span>
            </td>
            <td>
              <div class="progress">
                <div
                  class="progress-bar d-inline-block"
                  role="progressbar"
                  [style]="user.score && 'width:' + (user.score | percent : '1.0-0' : 'en-US')"
                ></div>
              </div>
              <ng-container *ngIf="user.score">{{ user.score | percent }}</ng-container>
            </td>
            <td class="text-center">
              {{ getQuestionsByUser(user.id)[0] }}
              <alto-progression-badge
                *ngIf="getQuestionsByUser(user.id)[1]"
                class="d-inline-block ms-3"
                [score]="getQuestionsByUser(user.id)[1]"
              ></alto-progression-badge>
            </td>
            <td>
              <i class="fs-5 bi bi-pencil cursor-pointer" (click)="openUserEditionForm(user)"></i>
            </td>
          </tr>
        </tbody>
      </table>

      <alto-pagination
        class="mx-4 d-block"
        [collectionSize]="usersCount"
        (pageChange)="changeUsersPage(usersScores, $event)"
        [pageSize]="usersPageSize"
        [page]="usersPage"
      ></alto-pagination>
    </div>
  </ng-container>
  <ng-template #noUsers>
    <div class="panel text-center">
      <h2>{{ I18ns.shared.noData }}</h2>
      <p>{{ I18ns.shared.noDataSubtitle }}</p>
    </div>
  </ng-template>
</div>
