:host {
  display: block;
  padding: var(--alto-page-padding);
}
.progress {
  width: calc(100% - 3.6rem);
  margin-right: 0.571rem;
}

.gap {
  height: 2.5rem;
}

.double-badge {
  border-radius: 8.33333rem;
  border: 8px solid var(--primary-50, #eff8ff);
  margin-top: -4px;
}

.panel {
  height: 6.833rem;
  .second-col {
    padding-left: 1.667rem;
  }
}

.member-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
