:host {
  display: block;
  padding: var(--alto-page-padding);
}
.progress {
  width: calc(100% - 3.6rem);
  margin-right: 0.571rem;
}

.welcome-panel {
  background-color: var(--primary--50);
  border-radius: 0.67rem;
  padding: 1.14rem 1.7rem;
}

.gap {
  height: 2.5rem;
}

.short-border-end::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 1.2rem;
  bottom: 1.2rem;
  width: 1px;
  background-color: var(--alto-border);
}

.double-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary--50);
  color: var(--primary);
}

.info-wrapper {
  flex-grow: 1; // make this element take up any remaining space
}

.info-stats {
  display: flex;
  align-items: center; // align the badge and the h1 tag vertically
  justify-content: space-between; // space the h1 and the badge equally
}
