:host {
  display: block;
  padding: var(--alto-page-padding);
}

:host ::ng-deep {
  alto-search {
    .search-group {
      min-width: 26.6667rem;
    }
  }
}

.team-table tbody tr {
  height: 3.333rem;
}
.members-table tbody tr {
  height: 4.667rem;
}
.members {
  margin-top: 3.333rem;
}
alto-search {
  width: 26.667rem;
}
h1 {
  line-height: 2rem;
  vertical-align: bottom;
}
h2 {
  .emoji {
    height: 1.667rem;
    margin-right: 0.667rem;
    vertical-align: bottom;
  }
}
.progress {
  width: calc(100% - 4.5rem);
  margin-right: 0.571rem;
}

.double-badge {
  border-radius: 8.33333rem;
  border: 8px solid var(--primary-50, #eff8ff);
  margin-top: -4px;
}

.panel {
  height: 6.833rem;
  padding: 0 1.667rem;
  display: flex;
  & > div {
    flex: 1 0 0;
    display: flex;
    align-items: center;
  }
  .second-col {
    padding-left: 1.667rem;
  }
}

.danger {
  background-color: var(--error-50);
  color: var(--error-600);
}
