.incoming {
  background-color: var(--alto-medium-grey);
  color: var(--gray-900);
}
.ongoing {
  background-color: var(--bs-success);
  color: white;
}
.ended {
  background-color: var(--alto-grey);
  color: white;
}
