<div class="container-gl">
  <div>
    <div class="logo">
      <img src="/assets/img/logo.svg" alt="Alto Logo" />
      <span class="company-name">Alto Admin</span>
    </div>

    <div class="menu">
      <div>
        <a [routerLink]="'home'" routerLinkActive="menu-selected">
          Home
        </a>
        <a [routerLink]="'companies'" routerLinkActive="menu-selected">
          Companies
        </a>
        <a [routerLink]="'companies'" routerLinkActive="menu-selected">
          Users
        </a>
      </div>
      <div class="bottom-block">
          Me        
      </div>
    </div>
    
  </div>
  
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>
