<div class="d-flex px-3 py-4">
  <div class="float-start mx-3 alto-badge-big"><i class="bi bi-filter fs-4 fw-bolder"></i></div>
  <div class="">
    <h2>Filters</h2>
    <p class="fs-7">You can filter users through different options.</p>
  </div>
  <div class="d-flex flex-grow-1 justify-content-end align-items-start">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss()"></button>
  </div>
</div>
<hr />
<div class="offcanvas-body h-100">
  <form *ngIf="userForm" [formGroup]="userForm">
    <label class="form-label required">Roles</label>
    <div>
      <ng-select
        class="w-100"
        required
        [items]="rolesPossibleValues"
        placeholder="Select a role"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        formControlName="roles"
        [multiple]="true"
      >
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <div class="badge rounded-pill p-2" [style.backgroundColor]="item | role2BackgroundColor" [style.color]="item | role2color">
            <span class="cursor-pointer me-1" (click)="clear(item)" aria-hidden="true">
              <i class="bi bi-x-lg"></i>
            </span>
            <span>{{ item }}</span>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <span class="badge rounded-pill p-2" [style.backgroundColor]="item | role2BackgroundColor" [style.color]="item | role2color">
            {{ item }}
          </span>
        </ng-template>
      </ng-select>
    </div>
  </form>
  <button type="button" class="btn btn-primary mt-4" (click)="activeOffcanvas.close(userForm.value)">
    Save
  </button>
</div>
