<alto-admin-header-remove-impersonation></alto-admin-header-remove-impersonation>
<h1 class="text-danger">Accès interdit</h1>
<h3>Vous n'avez pas les droits suffisants pour accéder à cette page</h3>

<p>Veuillez contacter un membre de l'équipe Alto</p>
<br><br><br>
<div *ngIf="user">
<p>Veuillez donner ces information à Alto pour apporter du contexte</p>
<p>votre email : <strong>{{user.email}}</strong></p>
<p>vos roles sont :</p>
<pre>{{user.roles | json}}</pre>
<button class="btn btn-primary" (click)="disconnect()">Se déconnecter</button>
<button class="btn btn-primary" (click)="goHome()">Home</button>
</div>