:host {
  display: block;
  padding: var(--alto-page-padding);
}
.emoji-title {
  height: 2rem;
}
h1 {
  line-height: 2rem;
  vertical-align: bottom;
  display: inline-block;
}

alto-search {
  width: 26.667rem;
}
.infos {
  height: 4.333rem;
  background-color: var(--primary-25);
  border-radius: 0.67rem;
  padding: 1.14rem 1.7rem;
  color: var(--primary-600);
  margin-bottom: 4rem;
}

.recap-panel-header {
  padding: 1.333rem 2rem;
  background-color: var(--gray-50);
  border-radius: 0.667rem 0.667rem 0 0;
  h2 {
    margin: 0;
  }
}
.recap-panel {
  border-radius: 0 0 0.667rem 0.667rem;
  border-top: 0;
  padding: 2rem;
  font-weight: 600;

  .emoji {
    height: 1.667rem;
    margin-right: 0.667rem;
  }

  .bi {
    color: var(--gray-900);
  }

  .pill-outline {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }
}

:host ::ng-deep .recap-panel alto-colored-pill-list .alto-badge,
.recap-panel .alto-badge:not(.pill-outline),
.recap-panel .alto-score {
  height: 2.333rem;
  min-width: 2.333rem;
  line-height: 2.333rem;
  padding: 0 1rem;
  font-size: 1rem;
}

.form-nav {
  border-bottom: 1px solid var(--gray-200);
  .step {
    display: inline-block;
    padding-bottom: 1rem;
    font-size: 1.167rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.333rem;
    border-radius: 0.667rem 0.667rem 0 0;
    margin-right: 3rem;
  }
  .highlight-step {
    background-color: var(--bs-primary);
    color: white;
    font-weight: 600;

    .tab-icon {
      color: white;
    }
  }
}

.bottom-hr {
  border-top-color: var(--gray-400);
}
