<div class="header-panel2 mb-8">
  <img class="emoji-title me-4" [src]="EmojiName.Bullseye | emoji" width="28" height="28" />
  <h1>{{ isEdit && !isNewProgram ? I18ns.programs.forms.edit : I18ns.programs.forms.create }}</h1>
</div>

<div class="mt-4 form-nav">
  <div
    data-cy="informationsTab"
    class="step"
    [ngClass]="{
      'cursor-pointer': isEdit,
      'highlight-step': currentStep === 1
    }"
    (click)="changeTab(1)"
  >
    <i class="fs-5 tab-icon me-3 bi bi-file-text"></i>
    <span>{{ I18ns.programs.forms.step1.title }}</span>
  </div>
  <div
    data-cy="questionsTab"
    class="step"
    [ngClass]="{
      'cursor-pointer': isEdit,
      'highlight-step': currentStep === 2
    }"
    (click)="changeTab(2)"
  >
    <i class="fs-5 tab-icon me-3 bi bi-question-circle"></i>
    <span>{{ I18ns.programs.forms.step2.title }}</span>
  </div>
  <div
    data-cy="recapTab"
    class="step"
    [ngClass]="{ 'cursor-pointer': isEdit, 'highlight-step': currentStep === 3 }"
    (click)="changeTab(3)"
  >
    <i class="fs-5 tab-icon me-3 bi bi-share"></i>
    <span>{{ I18ns.programs.forms.step3.title }}</span>
  </div>
</div>

<div [ngSwitch]="currentStep" class="mt-6">
  <!-- INFORMATIONS -->
  <div *ngSwitchCase="1">
    <div class="infos">
      <i class="me-3 bi bi-info-circle"></i>
      <span class="">{{ I18ns.programs.forms.step1.subtitle }}</span>
    </div>

    <alto-programs-form [isEdit]="isEdit" [form]="programForm"></alto-programs-form>

    <hr class="mt-8 bottom-hr" />

    <div class="row">
      <div class="col-6">
        <button class="btn btn-outline-secondary" (click)="cancel()">
          {{ I18ns.shared.cancel }}
        </button>
      </div>
      <div class="col-6 text-end">
        <button
          class="btn btn-primary"
          (click)="changeTab(2)"
          data-cy="programCreateNext"
          [disabled]="programForm && !programForm.valid"
        >
          <span *ngIf="isEdit">
            {{ I18ns.shared.next }}
          </span>
          <span *ngIf="!isEdit">
            {{ I18ns.programs.forms.step1.create }}
          </span>
          <i class="bi bi-arrow-right-short"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- QUESTIONS -->
  <div *ngSwitchCase="2">
    <div class="infos">
      <i class="me-3 bi bi-info-circle"></i>
      <span class="">{{ I18ns.programs.forms.step2.subtitle }}</span>
    </div>

    <ng-container *ngIf="(questionsAssociatedDisplay?.data?.length || 0) > 0; else noAssociatedQuestions">
      <div class="row">
        <div class="col-6">
          <h2>
            <img class="emoji" [src]="EmojiName.RedQuestionMark | emoji" width="16" height="16" />
            {{ I18ns.programs.forms.step2.associatedQuestions.title }}
          </h2>
          <p class="subtitle alto-grey mb-4">{{ I18ns.programs.forms.step2.associatedQuestions.subtitle }}</p>

          <alto-search class="mb-6" (searchChange)="searchQuestions($event)"></alto-search>
        </div>
        <div class="col-6 text-end">
          <button class="btn btn-primary mb-8" (click)="openQuestionForm()" data-cy="createNewQuestion">
            <i class="bi bi-plus-lg"></i> <span>{{ I18ns.programs.forms.step2.new }}</span>
          </button>
        </div>
      </div>

      <!-- ASSOCIATED QUESTIONS' LIST -->

      <alto-questions-table
        class="mb-8"
        [data]="questionsAssociatedDisplay"
        [isChecked]="true"
        (changeQuestionAssociation)="addOrRemoveQuestion($event)"
        (openQuestionForm)="openQuestionForm($event)"
        (pageChange)="associatedQuestionPageChange($event)"
      >
      </alto-questions-table>
    </ng-container>
    <ng-template #noAssociatedQuestions>
      <div class="text-center">
        <p class="fw-medium mb-8">{{ I18ns.programs.forms.step2.newSubtitle }}</p>

        <button class="btn btn-primary mb-8" (click)="openQuestionForm()" data-cy="createNewQuestion">
          <i class="bi bi-plus-lg"></i> <span>{{ I18ns.programs.forms.step2.new }}</span>
        </button>
        <p class="fw-medium mb-8">{{ I18ns.programs.forms.step2.or }}</p>
      </div>
    </ng-template>

    <ng-container *ngIf="(questionsAssociatedDisplay?.data?.length || 0) > 0; else noAssociatedQuestions2">
      <h2>
        <img class="emoji" [src]="EmojiName.RedQuestionMark | emoji" width="16" height="16" />
        {{ I18ns.programs.forms.step2.existing2.title }}
      </h2>
      <p class="subtitle alto-grey mb-4">{{ I18ns.programs.forms.step2.existing2.subtitle }}</p>
    </ng-container>

    <ng-template #noAssociatedQuestions2>
      <h2>
        <img class="emoji" [src]="EmojiName.Memo | emoji" width="16" height="16" />
        {{ I18ns.programs.forms.step2.existing.title }}
      </h2>
      <p class="subtitle alto-grey mb-4">{{ I18ns.programs.forms.step2.existing.subtitle }}</p>
    </ng-template>

    <div class="row mb-6">
      <div class="col-6">
        <alto-search (searchChange)="searchQuestions($event)"></alto-search>
      </div>

      <div class="col-6 text-end">
        <alto-dropdown-filter
          class="text-start"
          [data]="programStore.tags.value"
          [returnValue]="'id'"
          [displayLabel]="'name'"
          [placeholder]="I18ns.programs.questions.filters.tags"
          [selectedItems]="selectedTags"
          (selectChange)="tagChange($event)"
        ></alto-dropdown-filter>
      </div>
    </div>

    <!-- QUESTION LIST -->
    <alto-questions-table
      [data]="questionsDisplay"
      [isChecked]="false"
      (changeQuestionAssociation)="addOrRemoveQuestion($event)"
      (openQuestionForm)="openQuestionForm($event)"
      (pageChange)="questionPageChange($event)"
    >
    </alto-questions-table>

    <hr class="mt-8" class="bottom-hr" />

    <div class="row">
      <div class="col-6">
        <button class="btn btn-outline-secondary" (click)="changeTab(1)">
          <i class="fs-3 bi bi-arrow-left-short"></i><span>{{ I18ns.shared.previous }}</span>
        </button>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-primary" (click)="changeTab(3)">
          <span>{{ I18ns.shared.next }}</span
          ><i class="fs-3 bi bi-arrow-right-short"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- SUMMARY  -->
  <div *ngSwitchCase="3">
    <div class="infos">
      <i class="me-3 bi bi-info-circle"></i>
      <span class="">{{ I18ns.programs.forms.step3.subtitle }}</span>
    </div>
    <h2 class="mb-5">
      <img class="emoji" [src]="EmojiName.PageFacingUp | emoji" width="18" height="18" />
      {{ I18ns.programs.forms.step3.title2 }}
    </h2>

    <div class="panel recap-panel-header">
      <h2>{{ programForm.controls.name.value }}</h2>
    </div>
    <div class="panel recap-panel">
      <div class="row mb-4">
        <div class="col-3">
          <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" width="20" height="20" />
          {{ I18ns.programs.forms.step1.teams }}
        </div>
        <div class="col-9 p-0 text-end">
          <alto-colored-pill-list
            [data]="mapTeams(programForm.controls.teams.value || [])"
            [hasDynamicColor]="true"
            [limit]="6"
          ></alto-colored-pill-list>
          <span class="ms-3 alto-badge cursor-pointer plus-badge" (click)="changeTab(1)">
            <i class="bi bi-plus-lg"></i>
          </span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-5">
          <img class="emoji" [src]="EmojiName.SportsMedal | emoji" width="20" height="20" />
          {{ I18ns.programs.forms.step1.expectation }}
        </div>
        <div class="col-7 p-0 d-flex align-items-center justify-content-end">
          <span class="alto-score pill-green"
            >{{ (programForm.controls.expectation.value || 0) / 100 | percent }}
          </span>
          <span class="ms-3 alto-badge pill-outline cursor-pointer" (click)="changeTab(1)">
            <i class="bi bi-pen"></i>
          </span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-5">
          <img class="emoji" [src]="EmojiName.RedQuestionMark | emoji" width="20" height="20" />
          {{ I18ns.programs.forms.questionCount }}
        </div>
        <div class="col-7 p-0 d-flex align-items-center justify-content-end">
          <span data-cy="questionCount" class="alto-badge">{{ this.editedProgram?.questionsCount }}</span>
          <span class="ms-3 alto-badge pill-outline cursor-pointer" (click)="changeTab(2)">
            <i class="bi bi-pen"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <img class="emoji" [src]="EmojiName.Warning | emoji" width="20" height="20" />
          {{ I18ns.programs.forms.step1.priority }}
        </div>
        <div class="col-7 p-0 d-flex align-items-center justify-content-end">
          <span class="alto-badge" [ngClass]="getPriorityClass(programForm.controls.priority.value)">
            {{ getPriorityName(programForm.controls.priority.value) }}
          </span>
          <span class="ms-3 alto-badge pill-outline cursor-pointer" (click)="changeTab(1)">
            <i class="bi bi-pen"></i>
          </span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="isEdit">
      <div class="col-12 text-center mt-8">
        <a data-cy="deleteProgram" class="btn btn-danger" (click)="delete()">
          <i class="bi bi-trash3"></i><span>{{ I18ns.programs.delete.btn }}</span>
        </a>
      </div>
    </ng-container>

    <hr class="mt-8 bottom-hr" />

    <div class="row mb-4">
      <div class="col-6">
        <button class="btn btn-outline-secondary" (click)="changeTab(2)">
          <i class="fs-3 bi bi-arrow-left-short"></i><span>{{ I18ns.shared.previous }}</span>
        </button>
      </div>
      <div class="col-6 text-end">
        <a
          class="btn btn-primary float-end"
          (click)="validateProgram()"
          [routerLink]="['/', AltoRoutes.lead, AltoRoutes.programs]"
          >{{ I18ns.programs.forms.step3.validate }}</a
        >
      </div>
    </div>
  </div>
</div>
