<div class="header-panel mb-8">
  <img class="emoji-title me-4" [src]="EmojiName.Bullseye | emoji" />
  <h1>{{ isEdit ? I18ns.programs.forms.edit : I18ns.programs.forms.create }}</h1>
</div>

<div class="mt-4 form-nav">
  <div
    data-cy="informationsTab"
    class="step"
    [ngClass]="{
      'cursor-pointer': isEdit,
      'highlight-step': currentStep === 1
    }"
    (click)="isEdit && changeTab(1)"
  >
    <i class="fs-5 tab-icon me-3 bi bi-file-text"></i>
    <span>{{ I18ns.programs.forms.step1.title }}</span>
  </div>
  <div
    data-cy="questionsTab"
    class="step"
    [ngClass]="{
      'cursor-pointer': isEdit,
      'highlight-step': currentStep === 2
    }"
    (click)="isEdit && changeTab(2)"
  >
    <i class="fs-5 tab-icon me-3 bi bi-question-circle"></i>
    <span>{{ I18ns.programs.forms.step2.title }}</span>
  </div>
  <div
    data-cy="recapTab"
    class="step"
    [ngClass]="{ 'cursor-pointer': isEdit, 'highlight-step': currentStep === 3 }"
    (click)="isEdit && changeTab(3)"
  >
    <i class="fs-5 tab-icon me-3 bi bi-share"></i>
    <span>{{ I18ns.programs.forms.step3.title }}</span>
  </div>
</div>

<div [ngSwitch]="currentStep" class="mt-6">
  <!-- INFORMATIONS -->
  <div *ngSwitchCase="1">
    <div class="infos">
      <i class="me-3 bi bi-info-circle"></i>
      <span class="">{{ I18ns.programs.forms.step1.subtitle }}</span>
    </div>

    <alto-programs-form [isEdit]="isEdit" [form]="programForm"></alto-programs-form>
    <div class="row">
      <div class="col-6">
        <a class="cancel-btn" (click)="cancel()">
          {{ I18ns.shared.cancel }}
        </a>
      </div>
      <div class="col-6 text-end">
        <button
          class="btn btn-primary"
          (click)="goNext()"
          data-cy="programCreateNext"
          [disabled]="programForm && !programForm.valid"
        >
          <span>
            <!-- {{ isEdit ? I18ns.shared.save : I18ns.shared.next }} -->
            {{ I18ns.shared.next }}
          </span>
          <i class="bi bi-arrow-right-short"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- QUESTIONS -->
  <div *ngSwitchCase="2">
    <div class="infos">
      <i class="me-3 bi bi-info-circle"></i>
      <span class="">{{ I18ns.programs.forms.step2.subtitle }}</span>
    </div>

    <div class="text-center">
      <!-- <p class="fw-medium mb-8">{{ I18ns.programs.forms.step2.newSubtitle }}</p> -->
      <button data-cy="createNewQuestion" class="btn btn-primary mb-8" (click)="openQuestionForm()">
        <i class="bi bi-plus-lg"></i> <span>{{ I18ns.programs.forms.step2.new }}</span>
      </button>
      <p class="fw-medium mb-8">{{ I18ns.programs.forms.step2.or }}</p>
    </div>

    <p class="fw-medium mb-5">{{ I18ns.programs.forms.step2.existing }}</p>
    <div class="panel questions-panel">
      <div>
        <ng-select
          class="me-4 w-35"
          [items]="programStore.tags.value$ | async"
          [multiple]="true"
          bindValue="id"
          bindLabel="name"
          [placeholder]="I18ns.programs.forms.step1.tagsPlaceholder"
          [closeOnSelect]="false"
          [(ngModel)]="selectedTags"
          (ngModelChange)="getQuestions()"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <div class="alto-badge">
              <span class="cursor-pointer me-2 align-middle" (click)="clear(item)" aria-hidden="true">
                <i class="bi bi-x-lg"></i>
              </span>
              <span>{{ item.name }}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <span class="alto-badge">{{ item.name }}</span>
            <i class="bi bi-check-circle-fill"></i>
          </ng-template>
        </ng-select>
        <alto-search (searchChange)="searchQuestions($event)"></alto-search>
      </div>

      <!-- QUESTION LIST -->
      <ng-container *ngFor="let quest of questionsDisplay">
        <div class="row">
          <div class="form-check form-switch col-1">
            <input
              class="form-check-input cursor-pointer"
              #switchQuestion
              type="checkbox"
              [checked]="quest.isChecked"
              (change)="addOrRemoveQuestion(quest.id, !switchQuestion.checked)"
            />
          </div>
          <div class="col-9 fs-7 fw-medium lh-lg" data-cy="questionTitle">{{ quest.title }}</div>
          <div class="col-2 text-end cursor-pointer" (click)="openQuestionForm(quest)">
            <i class="bi bi-pen"></i>
          </div>
        </div>
      </ng-container>
    </div>

    <alto-pagination
      class="mt-4"
      [(page)]="questionPage"
      [pageSize]="questionPageSize"
      [collectionSize]="questionsCount"
      (pageChange)="questionPageChange($event)"
    ></alto-pagination>
    <hr class="mt-8" />
    <div class="row">
      <div class="col-6">
        <button class="btn btn-outline-secondary" (click)="cancel()">
          <i class="bi bi-arrow-left-short"></i><span>{{ I18ns.shared.previous }}</span>
        </button>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-primary" (click)="goNext()">
          <span>{{ I18ns.shared.next }}</span
          ><i class="bi bi-arrow-right-short"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- SUMMARY  -->
  <div *ngSwitchCase="3">
    <div class="infos">
      <i class="me-3 bi bi-info-circle"></i>
      <span class="">{{ I18ns.programs.forms.step3.subtitle }}</span>
    </div>
    <h2 class="mb-5">
      <img class="emoji" [src]="EmojiName.PageFacingUp | emoji" />
      {{ I18ns.programs.forms.step3.title2 }}
    </h2>

    <div class="panel recap-panel-header">
      <h2>{{ programForm.controls.name.value }}</h2>
    </div>
    <div class="panel recap-panel">
      <div class="row mb-4">
        <div class="col-3">
          <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" />
          {{ I18ns.programs.forms.step1.teams }}
        </div>
        <div class="col-9 p-0 text-end">
          <alto-colored-pill-list
            [data]="mapTeams(programForm.controls.teams.value || [])"
            [hasDynamicColor]="true"
            [limit]="6"
          ></alto-colored-pill-list>
          <span class="ms-3 alto-badge cursor-pointer" (click)="changeTab(1)">
            <i class="bi bi-plus-lg"></i>
          </span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-5">
          <img class="emoji" [src]="EmojiName.SportsMedal | emoji" />
          {{ I18ns.programs.forms.step1.expectation }}
        </div>
        <div class="col-7 p-0 d-flex align-items-center justify-content-end">
          <span class="alto-score pill-green"
            >{{ (programForm.controls.expectation.value || 0) / 100 | percent }}
          </span>
          <span class="ms-3 alto-badge pill-outline cursor-pointer" (click)="changeTab(1)">
            <i class="bi bi-pen"></i>
          </span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-5">
          <img class="emoji" [src]="EmojiName.RedQuestionMark | emoji" />
          {{ I18ns.programs.forms.questionCount }}
        </div>
        <div class="col-7 p-0 d-flex align-items-center justify-content-end">
          <span data-cy="questionCount" class="alto-badge">{{ this.editedProgram?.questionsCount }}</span>
          <span class="ms-3 alto-badge pill-outline cursor-pointer" (click)="changeTab(2)">
            <i class="bi bi-pen"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <img class="emoji" [src]="EmojiName.Warning | emoji" />
          {{ I18ns.programs.forms.step1.priority }}
        </div>
        <div class="col-7 p-0 d-flex align-items-center justify-content-end">
          <span class="alto-badge" [ngClass]="getPriorityClass(programForm.controls.priority.value)">
            {{ getPriorityName(programForm.controls.priority.value) }}
          </span>
          <span class="ms-3 alto-badge pill-outline cursor-pointer" (click)="changeTab(1)">
            <i class="bi bi-pen"></i>
          </span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="isEdit">
      <div class="col-12 text-center mt-8">
        <a data-cy="deleteProgram" class="btn btn-danger" (click)="delete()">
          <i class="bi bi-trash3"></i><span>{{ I18ns.programs.delete.btn }}</span>
        </a>
      </div>
    </ng-container>
  </div>
</div>
