:host {
  display: block;
  padding: var(--alto-page-padding);
}
.step {
  padding-bottom: 1rem;
  border-bottom: 2px #eaecf0 solid;
  font-weight: bold;
}
.highlight-step {
  border-bottom: 2px var(--bs-primary) solid;
  .tab-icon {
    background-color: var(--bs-primary);
    color: white;
  }
}
.passed-step {
  border-bottom: 2px var(--alto-blue) solid;
  .tab-icon {
    background-color: var(--alto-blue);
    color: white;
  }
}

.hidden {
  display: none;
}
