h2 {
  line-height: 2rem;
}

.title {
  font-size: 1.1667rem;
  line-height: 1.6667rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6667rem;
}

.btn {
  font-size: 1.1667rem;
  font-weight: 700;
  justify-content: center;
  padding: 1rem 1.1667rem;
  align-items: center;
}

.buttons-div {
  margin-top: 2.6667rem;
}
