<div>
  <i
    class="fs-1 bi mb-3 d-inline-block"
    [class]="result === 'correct' ? 'bi-check-circle-fill text-green' : 'bi-x-circle-fill text-red'"
  ></i>
  <h1>
    {{ result === 'correct' ? I18ns.training.quizz.canva.goodAnswer : I18ns.training.quizz.canva.badAnswer }}
  </h1>
  <p class="alto-grey">
    {{
      result === 'correct'
        ? I18ns.training.quizz.canva.goodResultSubtitle + ' "' + correctAnswers + '".'
        : I18ns.training.quizz.canva.badResultSubtitle + ' "' + correctAnswers + '".'
    }}
  </p>
  <hr />
  <h2>{{ I18ns.training.quizz.canva.explanation }}</h2>
  <p class="fs-6b alto-grey">{{ explanation ? explanation : I18ns.training.quizz.canva.noExplanation }}</p>
  <h2 class="mt-4">{{ I18ns.training.quizz.canva.reference }}</h2>
  <ng-container *ngIf="link; else elseTemplate">
    <a class="text-primary d-inline-block w-100" [href]="link" target="_blank">
      <span class="link-crop">{{ link }} </span>
      <i class="text-primary align-text-bottom fs-5 bi bi-box-arrow-up-right"></i>
    </a>
  </ng-container>
  <ng-template #elseTemplate>
    <p class="alto-grey fs-6b">{{ I18ns.training.quizz.canva.noReference }}</p>
  </ng-template>
</div>
<div class="footer">
  <hr />
  <button class="float-end btn" [class]="result === 'correct' ? 'btn-green' : 'btn-red'" (click)="next()">
    {{ I18ns.training.quizz.canva.continue }}
    <i class="bi bi-arrow-right-short"></i>
  </button>
</div>
