<h2>Users across all companies</h2>
<p>This user list comes directly from Auth0</p>

<p>ℹ️ No buttons means it cannot be found in Alto-API : ask dev for help</p>

<div class="row mb-3">
  <div class="col-5">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input
        type="search"
        class="form-control"
        placeholder="Search (3 letters min)"
        #qSearch
        (keyup)="changeUsersPage(qSearch.value)"
        (search)="changeUsersPage(qSearch.value)"
      />
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">email</th>
      <th scope="col">email verified</th>
      <th scope="col">created date</th>
      <th scope="col">last login</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of authusers">
      <th scope="row">{{ user.username }}</th>
      <td>{{user.email}}</td>
      <td><span *ngIf="user.email_verified"><i class="bi bi-check2-square"></i></span></td>
      <td>{{user.created_at | date:"medium"}}</td>
      <td>{{user.last_login | date:"medium"}}</td>
      <td>
        <a *ngIf="user.user_metadata && user.user_metadata.altoId" [routerLink]="['/', 'admin', 'users',user.user_metadata.altoId]" routerLinkActive="menu-selected" class="btn btn-primary">
          Voir
        </a>
      </td>
    </tr>
  </tbody>
</table>