<h2>Users</h2>
<p>This user list comes directly from Auth0</p>

<div class="row mb-3">
  <div class="col-5">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input
        type="search"
        class="form-control"
        placeholder="Search"
        #qSearch
        (keyup)="changeUsersPage(qSearch.value)"
        (search)="changeUsersPage(qSearch.value)"
      />
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">email</th>
      <th scope="col">email verified</th>
      <th scope="col">created date</th>
      <th scope="col">last login</th>      
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of authusers">
      <th scope="row">{{ user.username }}</th>
      <td>{{user.email}}</td>
      <td>{{user.email_verified}}</td>
      <td>{{user.created_at}}</td>
      <td>{{user.last_login}}</td>
      <td>
        <a *ngIf="user.user_metadata && user.user_metadata.altoId" [routerLink]="['/', 'admin', 'users',user.user_metadata.altoId]" routerLinkActive="menu-selected" class="btn btn-primary" (click)="setImpersonation(user.email)">
          Voir
        </a>
      </td>
    </tr>
  </tbody>
</table>

<!-- <ngb-pagination
    [collectionSize]="usersCount"
    [(page)]="usersPage"
    (pageChange)="changeUsersPage()"
    [pageSize]="usersPageSize"
    [maxSize]="10"
    aria-label="Default pagination"
  ></ngb-pagination> -->
