<alto-admin-header
  *ngIf="company"
  title="Questions"
  subtitle="View & upload questions for this company"
  [divider]="true"
  [breadcrumbs]="[
    {
      label: 'Companies',
      url: '/admin/home'
    },
    {
      label: company.name,
      url: ['/', 'admin', 'companies', company.id]
    }
  ]"
></alto-admin-header>
<div *ngIf="company" class="d-flex justify-content-between align-items-center alto-grey fs-5 pb-4">
  <div class="d-flex flex-column">
    <span class="fs-6">{{ questions.length }} questions in the company</span>
  </div>
  <div class="d-flex align-items-center gap-3">
    <button type="button" (click)="uploadQuestions()" class="btn btn-outline-secondary">
      <i class="bi bi-cloud-upload"></i>
      Upload questions using CSV file
    </button>
  </div>
</div>
<div *ngIf="questions.length > 0" class="table-container table-panel">
  <table class="table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Good answers</th>
        <th>bad answers</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of displayedQuestions">
        <td>{{ question.title }}</td>
        <td>{{ question.answersAccepted.length }}</td>
        <td>{{ question.answersWrong.length }}</td>
      </tr>
    </tbody>
  </table>
  <alto-pagination
    class="mx-4"
    [collectionSize]="questions.length"
    (pageChange)="changeQuestionsPage($event)"
    [pageSize]="questionsPageSize"
    [page]="questionsPage"
  >
  </alto-pagination>
</div>
