<alto-placeholder-manager [status]="teamsDataStatus">
  <div class="row mb-4"></div>
  <div class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-20">{{ I18ns.statistics.globalEngagement.teamsTable.columns.team }}</th>
          <th scope="col" class="w-20 text-center">
            {{ I18ns.statistics.globalEngagement.teamsTable.columns.answeredQuestions }}
          </th>
          <th scope="col" class="w-20 text-center">
            {{ I18ns.statistics.globalEngagement.teamsTable.columns.suggestedQuestions }}
          </th>
          <th scope="col" class="w-20 text-center">
            {{ I18ns.statistics.globalEngagement.teamsTable.columns.comments }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of paginatedTeams" class="align-middle">
          <td>
            <span class="alto-badge" [style]="team.team?.id | teamColor">{{ team.team?.name }}</span>
          </td>
          <td class="text-center">
            {{ team.answeredQuestionsCount }}
            <alto-progression-badge
              class="ms-3 d-inline-block"
              [score]="team.answeredQuestionsProgression"
            ></alto-progression-badge>
          </td>
          <td class="text-center">
            {{ team.submittedQuestionsCount }}
            <alto-progression-badge
              class="ms-3 d-inline-block"
              [score]="team.submittedQuestionsProgression"
            ></alto-progression-badge>
          </td>
          <td class="text-center">
            {{ team.commentsCount }}
            <alto-progression-badge
              class="ms-3 d-inline-block"
              [score]="team.commentsProgression"
            ></alto-progression-badge>
          </td>
        </tr>
      </tbody>
    </table>
    <alto-pagination
      class="mx-4 d-block"
      [collectionSize]="teamsDisplay.length"
      (pageChange)="changeTeamsPage($event)"
      [pageSize]="teamsPageSize"
      [page]="teamsPage"
    ></alto-pagination>
  </div>

  <div class="col nodata-placeholder d-flex justify-content-center align-items-center" noData>
    <div class="text-center">
      <img [src]="EmojiName.Rocket | emoji" height="24" />
      <p class="mt-3">{{ I18ns.statistics.globalEngagement.teamsTable.placeholderTitle }}</p>
      <span class="mt-3 d-inline-block">{{
        I18ns.statistics.globalEngagement.teamsTable.placeholderSubtitle
      }}</span>
    </div>
  </div>
</alto-placeholder-manager>
