.leaderboard-header {
  background-color: var(--primary-50);
  border-radius: 0.33rem;
  padding: 0.33rem 0.67rem;
  h4 {
    font-size: 1.16667rem;
    font-weight: 700;
    line-height: 1.66667rem;
    margin: 0;
  }
}

.alto-score {
  min-width: 5.1667rem;
}

.leaderboard-item {
  margin-top: 1rem;
}
