<div class="panel">
  <div class="pb-4">
    <h2>{{ title }}</h2>
    <p class="alto-grey">{{ subtitle }}</p>
  </div>

  <!-- TOP -->
  <div class="leaderboard-header">
    <img class="me-2" [src]="Emoji.Trophy | emoji" height="16" />
    <h4 class="d-inline-block">{{ I18ns.shared.leaderboard }}</h4>
  </div>
  <div *ngFor="let item of top; let itemIndex = index" class="leaderboard-item">
    <span class="float-end alto-score" [class]="item.score * 100 | pillColor">{{
      item.score | percent
    }}</span>
    <p class="d-inline-block me-2 fw-bold" [class]="getScoreColor(item.score * 100)">
      {{ getPosition(item.name) + '/' + leaderboard.length }}
    </p>
    <p class="d-inline-block">{{ item.name }}</p>
  </div>

  <p *ngIf="leaderboard.length > size * 2" class="mt-3">...</p>

  <!-- FLOP -->
  <div *ngFor="let item of flop; let itemIndex = index" class="leaderboard-item">
    <span class="float-end alto-score" [class]="item.score * 100 | pillColor">{{
      item.score | percent
    }}</span>
    <p class="d-inline-block me-2 fw-bold" [class]="getScoreColor(item.score * 100)">
      {{ getPosition(item.name) + '/' + leaderboard.length }}
    </p>
    <p class="d-inline-block">{{ item.name }}</p>
  </div>
</div>
