<div class="panel">
  <div class="leaderboard-header mb-2">
    <img class="me-2" [src]="Emoji.Trophy | emoji" height="16" width="16" />
    <h3 class="d-inline-block mb-0">{{ title || I18ns.shared.leaderboard }}</h3>
  </div>
  <div class="pb-4">
    <p class="alto-grey">{{ subtitle }}</p>
  </div>

  <!-- TOP -->
  <div *ngFor="let item of top; let i = index" class="leaderboard-item" data-cy="leaderboard-line">
    <alto-progression-badge
      class="ms-2 float-end"
      *ngIf="config.includes('progress')"
      [score]="item.progression"
    ></alto-progression-badge>
    <span
      *ngIf="config.includes('score')"
      class="float-end alto-score"
      [class]="item.score * 100 | pillColor"
      >{{ item.score | percent }}</span
    >
    <span *ngIf="config.includes('count')" data-cy="line-score" class="float-end">{{ item.score }}</span>
    <p
      class="d-inline-block me-2 fw-bold"
      [class]="config.includes('count') ? getPositionColor(item.index) : getScoreColor(item.score)"
    >
      {{ item.index + '/' + leaderboard.length }}
    </p>
    <p class="d-inline-block">{{ item.name }}</p>
  </div>

  <p [hidden]="leaderboard.length <= size * 2" class="mt-3">...</p>

  <!-- FLOP -->
  <div *ngFor="let item of flop; let i = index" class="leaderboard-item" data-cy="leaderboard-line">
    <alto-progression-badge
      class="ms-2 float-end"
      *ngIf="config.includes('progress')"
      [score]="item.progression"
    ></alto-progression-badge>
    <span
      *ngIf="config.includes('score')"
      class="float-end alto-score"
      [class]="item.score * 100 | pillColor"
      >{{ item.score | percent }}</span
    >
    <span *ngIf="config.includes('count')" class="float-end">{{ item.score }}</span>
    <p
      class="d-inline-block me-2 fw-bold"
      [class]="config.includes('count') ? getPositionColor(item.index) : getScoreColor(item.score)"
    >
      {{ item.index + '/' + leaderboard.length }}
    </p>
    <p class="d-inline-block">{{ item.name }}</p>
  </div>
</div>
