<ng-container *ngIf="true">
  <div class="header d-flex flex-row">
    <div class="d-flex flex-row header1">
      <alto-icon-badge [icon]="'bi-lightbulb'" [color]="'badge-double-purple'"></alto-icon-badge>
      <span style="color: #5925dc; font-weight: 600">Question suggérée</span>
    </div>
    <div class="{{ statusClass }}" style="align-self: center">
      {{ status }}
    </div>
  </div>
  <div class="middle d-flex flex-row">
    <div>
      <alto-img-badge [size]="24" [user]="getUser(questionSugg?.createdBy) | async"></alto-img-badge>
    </div>
    <div class="d-flex flex-column">
      <div>
        <span style="font-weight: 600">{{ user?.firstname }} {{ user?.lastname }} </span
        ><span class="date-text">{{ questionSugg?.createdAt | date : 'shortDate' }}</span>
      </div>
      <div>
        <span class="light-text">
          {{ questionSugg?.title }}
        </span>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="footer d-flex flex-row">
    <div class="d-flex flex-row header1">
      <!-- not working... status is the oppostie -->
      <a class="cancel-btn" (click)="refuse()" *ngIf="questionSugg?.status === 'submitted'">
        <i class="bi bi-x-lg"></i> Refuser
      </a>
    </div>
    <div>
      <!-- not working... status is the oppostie -->
      <a class="blue-btn" (click)="refuse()" *ngIf="questionSugg?.status === 'submitted'">
        <i class="bi bi-plus-lg"></i> Créer la question {{ status !== 'submitted' }}
      </a>
    </div>
  </div>
</ng-container>
