:host {
  div {
    > * {
      display: inline-flex;
    }
    .cross-btn {
      vertical-align: top;
      cursor: pointer;
      width: 18px;
    }
  }
}

.inline {
  margin: 0.2rem auto;
  max-width: 700px;
  @media (max-width: 700px) {
    max-width: 300px;
  }
  transition: opacity 2s;
}
.toast-container {
  z-index: 60;
  position: fixed;
  top: 0;
  left: calc(50vw - 165px);
  width: 330px;
  .toast {
    margin: auto;
    display: block;
    transition: opacity 0.5s;
    font-size: 1rem;
  }
  .msg-body {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    padding-top: 0.5rem;
  }
}
.warn {
  background-color: var(--bs-warning);
  color: white;
}
.info {
  background-color: var(--bs-info);
}
.success {
  color: white;
  background-color: var(--bs-success);
  border: 1px solid white;
}
.error {
  color: white;
  background-color: var(--bs-danger);
}
.cross {
  height: 16px;
  width: 16px;
}
.cross:hover {
  opacity: 0.7;
}
.byebye {
  opacity: 0;
}
