header {
  display: flex;
  align-items: center;
  gap: 0.667rem;
  h2 {
    margin: 0;
  }
}

.time-picker {
  position: absolute;
  bottom: 0;
  right: 0;
}

.chart-container {
  height: 400px;
}
