<div class="mt-6 mb-5 position-relative">
  <div class="col-6">
    <h2 data-cy="statEngagementTitle1">
      <img class="emoji" [src]="EmojiName.Locomotive | emoji" height="16" width="16" />
      {{ I18ns.statistics.globalEngagement.activity.title }}
    </h2>
    <p class="mb-4 alto-grey">{{ I18ns.statistics.globalEngagement.activity.subtitle }}</p>
  </div>
  <div class="col-6 text-end">
    <alto-time-picker
      class="time-picker"
      [duration]="duration"
      (durationSelected)="updateTimePicker($event)"
    ></alto-time-picker>
  </div>
</div>

<alto-placeholder-manager [status]="guessesDataStatus">
  <div class="panel mb-5">
    <h3>{{ I18ns.statistics.globalEngagement.activity.chartTitle }}</h3>
    <p class="alto-grey">{{ I18ns.statistics.globalEngagement.activity.chartSubtitle }}</p>
    <alto-chart-basicline
      class="chart-container"
      data-cy="chartBasicline"
      [chartOption]="guessChartOptions"
    ></alto-chart-basicline>
  </div>

  <div class="nodata-placeholder" noData>
    <h3 class="mb-5 fs-6">{{ I18ns.statistics.globalEngagement.placeholders.inactiveTeamsTitle }}</h3>
    <div class="text-center">
      <img [src]="EmojiName.SleepingFace | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalEngagement.placeholders.inactiveTeams }}</p>
      <span class="mt-3 d-block">{{
        I18ns.statistics.globalEngagement.placeholders.inactiveTeamsSubtitle
      }}</span>
    </div>
  </div>
  <div class="skeleton-panel mb-5" style="height: 483px" loading></div>
</alto-placeholder-manager>

<alto-placeholder-manager [status]="guessesLeaderboardDataStatus">
  <alto-leaderboard
    [config]="['count', 'progress']"
    [data]="leaderboard"
    [title]="I18ns.statistics.globalEngagement.leaderboard.title"
    [subtitle]="I18ns.statistics.globalEngagement.leaderboard.subtitle"
  ></alto-leaderboard>

  <div class="nodata-placeholder" noData>
    <h3 class="mb-5 fs-6">{{ I18ns.statistics.globalEngagement.leaderboard.title }}</h3>
    <div class="text-center">
      <img [src]="EmojiName.Trophy | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalEngagement.placeholders.noLeaderboard }}</p>
    </div>
  </div>
  <div class="skeleton-panel" style="height: 278px" loading></div>
</alto-placeholder-manager>
<hr class="my-7" />

<div class="mt-6 mb-5 position-relative">
  <div class="col-6">
    <h2 class>
      <img class="emoji" [src]="EmojiName.NerdFace | emoji" height="16" width="16" />
      {{ I18ns.statistics.globalEngagement.engagement.title }}
    </h2>
    <p class="mb-4 alto-grey">{{ I18ns.statistics.globalEngagement.engagement.subtitle }}</p>
  </div>
  <div class="col-6 text-end">
    <alto-time-picker
      class="time-picker"
      [duration]="duration"
      (durationSelected)="updateTimePicker($event)"
    ></alto-time-picker>
  </div>
</div>

<alto-placeholder-manager [status]="collaborationDataStatus">
  <div class="panel mb-5">
    <h3>{{ I18ns.statistics.globalEngagement.engagement.chartTitle }}</h3>
    <p class="alto-grey">{{ I18ns.statistics.globalEngagement.engagement.chartSubtitle }}</p>
    <alto-chart-basicline
      class="chart-container"
      data-cy="chartBasicLine"
      [chartOption]="collaborationChartOptions"
    >
    </alto-chart-basicline>
  </div>

  <div class="nodata-placeholder" noData>
    <h3 class="mb-5 fs-6">{{ I18ns.statistics.globalEngagement.placeholders.noDataYetTitle }}</h3>
    <div class="text-center">
      <img [src]="EmojiName.BeachWithUmbrella | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalEngagement.placeholders.noDataYet }}</p>
      <span class="mt-3 d-block">{{ I18ns.statistics.globalEngagement.placeholders.noDataYetSubtitle }}</span>
    </div>
  </div>
  <div class="skeleton-panel mb-5" style="height: 483px" loading></div>
</alto-placeholder-manager>
<hr class="my-7" />

<div class="mt-5 mb-5 position-relative">
  <div class="col-6">
    <h2>
      <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" height="16" width="16" />
      {{ I18ns.statistics.globalEngagement.teamsTable.title }}
    </h2>
    <p class="mb-4 alto-grey">{{ I18ns.statistics.globalEngagement.teamsTable.subtitle }}</p>
  </div>
  <div class="col-6 text-end">
    <alto-time-picker
      class="time-picker"
      [duration]="duration"
      (durationSelected)="updateTimePicker($event)"
    ></alto-time-picker>
  </div>
</div>

<alto-placeholder-manager [status]="teamsDataStatus">
  <div class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-25">{{ I18ns.statistics.globalEngagement.teamsTable.columns.team }}</th>
          <th *ngIf="hasConnector" scope="col" class="w-25 text-center">
            {{ I18ns.statistics.globalEngagement.teamsTable.columns.answeredQuestions }}
          </th>
          <th *ngIf="hasConnector" scope="col" class="w-25 text-center">
            {{ I18ns.statistics.globalEngagement.teamsTable.columns.answers }}
          </th>
          <th *ngIf="hasConnector" scope="col" class="w-25 text-center">
            {{ I18ns.statistics.globalEngagement.teamsTable.columns.questions }}
          </th>
          <th scope="col" class="w-25 text-center">
            {{ I18ns.statistics.globalEngagement.teamsTable.columns.suggestedQuestions }}
          </th>
          <th scope="col" class="w-25 text-center">
            {{ I18ns.statistics.globalEngagement.teamsTable.columns.comments }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of paginatedTeams" class="align-middle">
          <td>
            <span class="alto-badge" [style]="team.team?.id | teamColor">{{ team.team?.name }}</span>
          </td>
          <td *ngIf="hasConnector" class="alto-grey text-center">
            <span
              *ngIf="team.questionsPushedCount; else noQuestion"
              class="alto-score"
              [class]="team.answeredQuestionsProgression | pillColor"
              >{{ team.answeredQuestionsProgression + '%' }}</span
            >
            <ng-template #noQuestion>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalEngagement.teamsTable.columns.noQuestions }}
              </p>
            </ng-template>
          </td>
          <td *ngIf="hasConnector">
            <p class="alto-grey text-center">
              {{ team.answeredQuestionsCount }}
            </p>
          </td>
          <td *ngIf="hasConnector">
            <p class="alto-grey text-center">
              {{ team.questionsPushedCount }}
            </p>
          </td>
          <td class="text-center">
            <span *ngIf="team.submittedQuestionsCount > 0; else noSubmittedQuestion">
              {{ team.submittedQuestionsCount }}
              <alto-progression-badge
                class="ms-3 d-inline-block"
                [score]="team.submittedQuestionsProgression"
              ></alto-progression-badge>
            </span>
            <ng-template #noSubmittedQuestion>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalEngagement.teamsTable.columns.noSuggeredQuestions }}
              </p>
            </ng-template>
          </td>
          <td class="text-center">
            <span *ngIf="team.commentsCount > 0; else noComments">
              {{ team.commentsCount }}
              <alto-progression-badge
                class="ms-3 d-inline-block"
                [score]="team.commentsProgression"
              ></alto-progression-badge>
            </span>
            <ng-template #noComments>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalEngagement.teamsTable.columns.noComments }}
              </p>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <alto-pagination
      class="mx-4 d-block"
      [collectionSize]="teamsDisplay.length"
      (pageChange)="changeTeamsPage($event)"
      [pageSize]="teamsPageSize"
      [page]="teamsPage"
    ></alto-pagination>
  </div>

  <div class="nodata-placeholder" noData>
    <div class="text-center">
      <img [src]="EmojiName.Rocket | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalEngagement.teamsTable.placeholderTitle }}</p>
      <span class="mt-3 d-inline-block">{{
        I18ns.statistics.globalEngagement.teamsTable.placeholderSubtitle
      }}</span>
    </div>
  </div>
  <div class="skeleton-panel" style="height: 357px" loading></div>
</alto-placeholder-manager>
