<div class="mb-5 position-relative">
  <div class="col-6">
    <h2 class>
      <img class="emoji" [src]="EmojiName.Locomotive | emoji" />
      {{ I18ns.statistics.globalEngagement.activity.title }}
    </h2>
    <p class="mb-4 alto-grey">{{ I18ns.statistics.globalEngagement.activity.subtitle }}</p>
  </div>
  <div class="col-6 text-end">
    <alto-time-picker
      class="time-picker"
      [duration]="duration"
      (durationSelected)="updateTimePicker($event)"
    ></alto-time-picker>
  </div>
</div>

<div class="panel mb-5">
  <alto-placeholder-manager [status]="guessesDataStatus">
    <alto-chart-basicline data-cy="chartBasicline" [chartOption]="guessChartOptions"></alto-chart-basicline>

    <div class="nodata-placeholder" noData>
      <div class="text-center">
        <img [src]="" />
      </div>
    </div>
  </alto-placeholder-manager>
</div>

<alto-leaderboard
  [leaderboard]="leaderboard"
  [title]="I18ns.statistics.globalEngagement.activity.leaderboard.title"
  [subtitle]="I18ns.statistics.globalEngagement.activity.leaderboard.subtitle"
></alto-leaderboard>

<div class="mt-5 position-relative">
  <div class="col-6">
    <h2 class>
      <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" />
      {{ I18ns.statistics.globalEngagement.teamsTable.title }}
    </h2>
    <p class="mb-4 alto-grey">{{ I18ns.statistics.globalEngagement.teamsTable.subtitle }}</p>
  </div>
  <div class="col-6 text-end">
    <alto-time-picker
      class="time-picker"
      [duration]="duration"
      (durationSelected)="updateTimePicker($event)"
    ></alto-time-picker>
  </div>
</div>

<alto-team-engagement-table [duration]="duration"></alto-team-engagement-table>
