<!-- TEAMS -->
<alto-time-picker
  [duration]="duration"
  (durationSelected)="changeDuration($event)"
  class="float-end"
></alto-time-picker>
<h2 id="teamsAnchor" class="me-3">
  <img class="emoji" [src]="Emoji.BustsInSilhouette | emoji" height="16" width="16" /> {{ I18ns.statistics.perTeams.sections.teams }}
</h2>
<p class="mb-5 alto-grey">{{ I18ns.statistics.perTeams.sections.teamsSubtitle }}</p>

<alto-placeholder-manager [status]="teamsDataStatus">
  <alto-per-teams-table [type]="'team'" [data]="teamsDisplay"></alto-per-teams-table>
  <div class="nodata-placeholder" noData>
    <div class="text-center">
      <img [src]="Emoji.FlexedBiceps | emoji" height="24" width="24" />
      <p class="mt-3">
        {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.placeholderTitle }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.placeholderSubtitle }}
      </span>
    </div>
  </div>
  <div class="skeleton-panel" style="height: 356px" loading></div>
</alto-placeholder-manager>

<!-- MEMBERS -->
<div class="mt-6">
  <alto-time-picker
    [duration]="duration"
    (durationSelected)="changeDuration($event)"
    class="float-end"
  ></alto-time-picker>
  <h2 id="membersAnchor">
    <img class="emoji" [src]="Emoji.BustsInSilhouette | emoji" height="16" width="16" />
    {{ I18ns.statistics.perTeams.sections.members }}
  </h2>
  <p class="alto-grey mb-4">{{ I18ns.statistics.perTeams.sections.membersSubtitle }}</p>
  <alto-dropdown-filter
    class="float-end"
    [placeholder]="I18ns.statistics.perTeams.teamsFilter"
    [data]="teams"
    [displayLabel]="'name'"
    (selectChange)="filterMembers({ teams: $event })"
  ></alto-dropdown-filter>
  <alto-search class="mb-5" (searchChange)="filterMembers({ search: $event })"></alto-search>

  <alto-placeholder-manager [status]="membersDataStatus">
    <alto-per-teams-table [type]="'user'" [data]="membersDisplay"></alto-per-teams-table>
    <div class="nodata-placeholder text-center" noResult>
      <img [src]="Emoji.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.shared.noData }}</p>
      <span class="mt-3 d-block">{{ I18ns.shared.noDataSubtitle }}</span>
    </div>
    <div class="text-center nodata-placeholder" noData>
      <img [src]="Emoji.FourOclock | emoji" height="24" width="24" />
      <p class="mt-3">
        {{ I18ns.statistics.globalPerformance.perThemePerformance.scoreEvolutionChart.placeholderTitle }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.statistics.globalPerformance.perThemePerformance.scoreEvolutionChart.placeholderSubtitle }}
      </span>
    </div>
  <div class="skeleton-panel" style="height: 356px" loading></div>
  </alto-placeholder-manager>
</div>
