<!-- TEAMS -->
<alto-time-picker (durationSelected)="changeDuration($event)" class="float-end"></alto-time-picker>
<h2 id="teamsAnchor" class="me-3">
  <img class="emoji" [src]="Emoji.BustsInSilhouette | emoji" /> {{ I18ns.statistics.perTeams.sections.teams }}
</h2>
<p class="mb-5 alto-grey">{{ I18ns.leadTeam.teams.subtitle }}</p>

<alto-per-teams-table [type]="'team'" [data]="teamsDisplay"></alto-per-teams-table>

<!-- MEMBERS -->
<div class="mt-6">
  <alto-time-picker (durationSelected)="changeDuration($event)" class="float-end"></alto-time-picker>
  <h2 id="membersAnchor">
    <img class="emoji" [src]="Emoji.BustsInSilhouette | emoji" />
    {{ I18ns.statistics.perTeams.sections.members }}
  </h2>
  <p class="alto-grey mb-4">{{ I18ns.leadTeam.members.subtitle }}</p>
  <alto-dropdown-filter
    class="float-end"
    [placeholder]="I18ns.statistics.perTeams.teamsFilter"
    [data]="teams"
    [displayLabel]="'name'"
    (selectChange)="filterMembers({ teams: $event })"
  ></alto-dropdown-filter>
  <alto-search class="mb-5" (searchChange)="filterMembers({ search: $event })"></alto-search>
  <alto-per-teams-table [type]="'user'" [data]="membersDisplay"></alto-per-teams-table>
</div>
