<div class="">
  <alto-admin-header title="Companies" subtitle="L'ensemble de nos clients"></alto-admin-header>
  <div class="tabs">
    <alto-admin-tabs>
      <alto-admin-tab [tabTitle]="'Informations'" icon="bi-file-text">
        <form *ngIf="companyForm" [formGroup]="companyForm">
          <!-- Name -->
          <div class="py-4 border-bottom">
            <div class="w-80 row">
              <label for="name" class="col-5 mb-2 required">Corporate name</label>
              <div class="col-7 form-group">
                <input type="text" class="form-control" placeholder="Example: Apple" formControlName="name" />
              </div>
            </div>
          </div>
          <!-- Domain -->
          <div class="row py-4 border-bottom">
            <div class="w-80 row">
              <label for="domain" class="col-5 mb-2">Domain</label>
              <div class="col-7 form-group">
                <input
                  type="select"
                  class="form-control"
                  placeholder="Example: apple.com"
                  formControlName="domain"
                />
              </div>
            </div>
          </div>
          <!-- Logo -->
          <div class="row py-4 border-bottom">
            <div class="w-80 row">
              <label for="domain" class="col-5 mb-2">Logo</label>
              <div class="col-7 form-group">
                <alto-dropzone [multiple]="false" (change)="onSelectLogo($event)"></alto-dropzone>
              </div>
            </div>
          </div>
          <!-- Billing -->
          <div class="row py-4 border-bottom">
            <div class="w-80 row">
              <label for="domain" class="col-5 mb-2">Billing</label>
              <div class="col-7 form-group">
                <input
                  type="select"
                  class="form-control"
                  placeholder="Lorem ipsum"
                  formControlName="domain"
                />
              </div>
            </div>
          </div>
          <!-- Teams -->
          <div class="row py-4 border-bottom">
            <div class="w-80 row">
              <label for="domain" class="col-5 mb-2">Teams</label>
              <div class="col-7 form-group">
                <ng-select
                  class="w-100"
                  [items]="teams"
                  [multiple]="true"
                  bindLabel="name"
                  placeholder="teams"
                  [selectableGroup]="true"
                  [closeOnSelect]="false"
                  bindValue="id"
                  formControlName="teams"
                >
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <div class="badge rounded-pill p-2" [style.backgroundColor]="item.id | uuid2color">
                      <span class="cursor-pointer me-1" (click)="clear(item)" aria-hidden="true">
                        <i class="bi bi-x-lg"></i>
                      </span>
                      <span>{{ item.shortName }}</span>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span class="badge rounded-pill p-2" [style.backgroundColor]="item.id | uuid2color">
                      {{ item.longName }}
                    </span>
                  </ng-template>
                </ng-select>
                <div formArrayName="newTeams">
                  <ng-container *ngFor="let newTeam of newTeamsFormArrayControls; let i = index">
                    <div class="row align-items-end position-relative" [formGroup]="newTeam">
                      <div class="col">
                        <label class="form-label">Long name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Example: Sales Development Representative"
                          formControlName="longName"
                        />
                      </div>
                      <div class="col">
                        <label class="form-label">Short name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Example: SDR"
                          formControlName="shortName"
                        />
                      </div>
                      <div class="position-absolute team-delete-btn">
                        <button type="button" class="btn btn-outline-danger" (click)="deleteTeam(i)">
                          <i class="bi bi-x-lg"></i>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                  <div>
                    <button type="button" class="btn" (click)="addTeam()">
                      <i class="bi bi-plus-lg"></i>Add a team
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Users -->
          <div class="row py-4 border-bottom">
            <div class="w-80 row">
              <label for="domain" class="col-5 mb-2">Users</label>
              <div class="col-7 form-group">
                <alto-dropzone [multiple]="false" (change)="onSelectUser($event)"></alto-dropzone>
              </div>
            </div>
          </div>
        </form>
      </alto-admin-tab>
      <alto-admin-tab [tabTitle]="'Program settings'" icon="bi-gear"> Tab 2 content </alto-admin-tab>
    </alto-admin-tabs>
    <div class="py-4">
      <button type="button" class="btn btn-primary float-end" (click)="submit()">Save</button>
    </div>
  </div>

  <!-- <form *ngIf="companyForm" [formGroup]="companyForm">
    <div class="row py-4 border-bottom">
      <label for="name" class="col-5 mb-2">name</label>
      <div class="col-7 form-group">
        <input type="select" class="form-control" placeholder="name" formControlName="name" />
      </div>
    </div>
    <div class="row py-4 border-bottom">
      <label for="domain" class="col-5 mb-2"
        >domain (pour matcher les user automatiquement sur slack par ex)</label
      >
      <div class="col-7 form-group">
        <input type="select" class="form-control" placeholder="domain" formControlName="domain" />
      </div>
    </div>
  </form>
</div>

<div class="py-4">
  <button type="button" class="btn btn-primary float-end" (click)="submit()">Save</button>
</div> -->
</div>
