<div class="">
  <alto-admin-header
    *ngIf="company && edit; else createHeader"
    title="Edit this company"
    subtitle="Edit the information about {{ company.name }}"
    [breadcrumbs]="[
      {
        label: 'Companies',
        url: '/admin/home'
      },
      {
        label: company.name,
        url: ['/', 'admin', 'companies', company.id]
      }
    ]"
  ></alto-admin-header>
  <ng-template #createHeader
    ><alto-admin-header
      title="Create a new company"
      subtitle="Enter the company information"
      [breadcrumbs]="[
        {
          label: 'Companies',
          url: '/admin/home'
        }
      ]"
    ></alto-admin-header
  ></ng-template>
  <div class="tabs">
        <hr />
        <form *ngIf="companyForm" [formGroup]="companyForm">
          <!-- Name -->
          <div class="py-4 border-bottom">
            <div class="w-80 row">
              <label for="name" class="col-5 mb-2 required">Company name</label>
              <div class="col-7 form-group">
                <input type="text" class="form-control" placeholder="Example: Apple" formControlName="name" />
              </div>
            </div>
          </div>
          <!-- Users -->
          <div class="py-4 border-bottom">
            <div class="w-80 row">
              <div *ngIf="!edit" class="col-5 mb-2">
                <label for="name" class="required">Add users</label>
                <p class="fs-7 alto-red">At least one company admin</p>
              </div>
              <div *ngIf="edit" class="col-5 mb-2">
                <label for="name">Add more users</label>
              </div>
              <div class="col-7 form-group">
                <alto-admin-users-upload-form [form]="companyForm"></alto-admin-users-upload-form>
              </div>
            </div>
          </div>
        </form>
      

      <!-- SETTINGS TAB -->
        <form *ngIf="companyForm" [formGroup]="companyForm">
          <!-- Slack account -->
          <div class="py-4 border-bottom">
            <div class="w-80 row">
              <label for="name" class="col-5 mb-2">Slack account</label>
              <div class="col-7 form-group">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                    formControlName="slackActive"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault">Active Slack</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Slack admin -->
          <div class="py-4 border-bottom">
            <div class="w-80 row">
              <div class="col-5 mb-2">
                <label for="name">Slack admin</label>
                <p class="fs-7">The security admin user of the Slack workspace.</p>
              </div>
              <div class="col-7 form-group">
                <input type="text" class="form-control" formControlName="slackAdmin" placeholder="Email" />
              </div>
            </div>
          </div>
          <!-- Web access -->
          <div class="py-4">
            <div class="w-80 row">
              <div class="col-5 mb-2">
                <label for="name">Web access</label>
                <p class="fs-7">Choose if your user can access the web app</p>
              </div>
              <div class="col-7 form-group">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault2"
                    formControlName="usersHaveWebAccess"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault2">Access authorized</label>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="py-4" *ngIf="company && edit">
          <div class="w-80 row">
            <div class="col-5 mb-2">
              <label for="name">Questions</label>
              <p class="fs-7">Currently disabled. Ask Guillaume if needed</p>
            </div>
            <div class="col-7 form-group">
              <a
                [routerLink]="['/', 'admin', 'companies', company.id, 'questions']"
                class="btn btn-primary disabled"
                style="cursor: default; pointer-events: none;"
              > 
                Upload questions
              </a>
            </div>
          </div>
        </div>
    <div class="d-flex justify-content-end">
      <div>
        <button
          [routerLink]="'/admin/home'"
          type="button"
          class="btn btn-outline-secondary d-inline-flex align-items-center me-2"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary d-inline-flex align-items-center"
          (click)="submit()"
          [disabled]="isFormDisabled()"
        >
          Save
          <i class="bi bi-save ps-2"></i>
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <p *ngIf="isFormDisabled() && !edit" class="alto-red">Missing data / company-admin user</p>
    </div>
  </div>
</div>
