.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .buttons-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

.programs-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.full-row {
    justify-content: space-between;
  }

  &.partial-row {
    justify-content: flex-start;
    gap: 1rem;
  }

  .program-card {
    height: 18rem;
    border: 1px solid var(--gray-200);
    border-radius: 0.5rem;
    cursor: pointer;
    width: 32%;
    padding: 1.5rem;

    .title {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.33333rem;
      color: var(--gray-900);
    }

    .subtitle {
      @extend .title;
      color: var(--gray-500);
    }

    &:hover {
      border-color: var(--primary-300);
    }

    .title-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .alto-badge {
        line-height: 2.1rem;
      }

      .edit-btn {
        padding: 5px 12px 5px 12px;
        border: 1px solid var(--gray-200);
        border-radius: 8.3333rem;
        font-size: 0.8333rem;
        background-color: white;
        color: var(--alto-text-color2);
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: var(--gray-500);
          color: white;
        }
      }

      .title-overflow {
        padding-right: 5rem;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .teams-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 0.5rem;
      margin-bottom: 1rem;

      .teams-title {
        display: flex;
        flex-direction: row;
        width: fit-content;
        white-space: nowrap;
        color: var(--gray-500);
      }
    }

    .score-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.3rem;

      .score-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.2rem;

        .score-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    &.disabled {
      cursor: default;
      filter: grayscale(100%);
      opacity: 0.5;

      &:hover {
        border-color: var(--gray-200);
      }
    }
    background-color: white;
  }
}