.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .buttons-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

.program-btn {
  position: relative;

  .program-btn-menu {
    position: absolute;
    right: 0;
    width: 370px;
    display: none;
    background-color: #fff;
    z-index: 1;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px #66708559;

    &.show {
      display: block;
    }

    .program-btn-item {
      margin: 8px 10px;
      display: flex;
      flex-direction: row;
      color: var(--alto-grey);
      cursor: pointer;
      border-radius: 8px;

      &.classic {
        position: relative;
        overflow: hidden;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20%;
          height: 100%;
          background-color: var(--primary-50);
          transition: width 0.5s ease;
          z-index: -1;
        }

        &:hover::before {
          width: 100%;
        }

        .icon {
          background-color: var(--primary-50);
          border-radius: 8px;
          min-width: 75px;
          min-height: 75px;
        }

        i,
        h3 {
          color: var(--alto-text-blue);
        }
      }

      &.accelerated {
        position: relative;
        overflow: hidden;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: var(--orange-50);
          transition: width 0.5s ease;
          z-index: -1;
        }

        &:hover::before {
          width: 100%;
        }

        .icon {
          border-radius: 8px;
          min-width: 75px;
          min-height: 75px;
          background-color: var(--orange-50);
        }

        i,
        h3 {
          color: var(--orange-600);
        }
      }
    }
  }
}

.programs-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.full-row {
    justify-content: space-between;
  }

  &.partial-row {
    justify-content: flex-start;
    gap: 1rem;
  }

  .program-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 231px;
    border: 1px solid var(--gray-200);
    border-radius: 0.5rem;
    cursor: pointer;
    width: 32%;
    padding: 11px 20px 11px 20px;

    hr {
      margin: 0.6667rem 0;
    }

    .title {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.33333rem;
      color: var(--gray-900);
    }

    .subtitle {
      @extend .title;
      color: var(--gray-500);
    }

    &:hover {
      border-color: var(--primary-300);
    }

    &.accelerated {
      &:hover {
        border-color: var(--orange-300);
      }
    }

    .title-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .badges-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;

        .pill {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      .alto-badge {
        line-height: 2.1rem;
      }

      .edit-btn {
        padding: 5px 12px 5px 12px;
        border: 1px solid var(--gray-200);
        border-radius: 8.3333rem;
        font-size: 0.8333rem;
        background-color: white;
        color: var(--alto-text-color2);
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: var(--gray-500);
          color: white;
        }
      }

      .title-overflow {
        padding-right: 1rem;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .teams-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 0.5rem;

      .teams-title {
        display: flex;
        flex-direction: row;
        width: fit-content;
        white-space: nowrap;
        color: var(--gray-500);
      }
    }

    .score-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.3rem;

      .score-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;

        .score-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    &.disabled {
      cursor: default;
      filter: grayscale(100%);
      opacity: 0.5;

      &:hover {
        border-color: var(--gray-200);
      }
    }
    background-color: white;
  }
}
