<div class="d-flex justify-content-between align-items-center mb-5">
  <div>
    <h2>
      <img class="emoji" [src]="Emoji.BustsInSilhouette | emoji" width="16" height="16" />
      {{ I18ns.programs.programs.title }} ({{ company.programs.length }})
    </h2>
    <p class="mt-2 alto-grey">{{ I18ns.programs.programs.subtitle }}</p>
  </div>

  <div class="program-btn">
    <a type="button" class="btn btn-primary" (click)="toggleDropdown()">
      <div>
        {{ I18ns.programs.programs.createProgram }}
      </div>
      <i class="ms-2 bi" [class]="isCreateProgramBtnOpen ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </a>
    <div
      class="program-btn-menu mt-2"
      [ngClass]="{ show: isCreateProgramBtnOpen }"
      (click)="$event.stopPropagation()"
    >
      <div class="program-btn-item classic" [routerLink]="AltoRoutes.programsCreate">
        <div class="icon d-flex align-items-center justify-content-center">
          <i class="bi bi-bullseye fs-1"></i>
        </div>
        <div class="ms-4 mt-3">
          <h3 class="fs-5">{{ I18ns.programs.programs.classicProgram.title }}</h3>
          <p class="fs-6">{{ I18ns.programs.programs.classicProgram.subtitle }}</p>
        </div>
      </div>
      <div
        class="program-btn-item accelerated"
        [routerLink]="AltoRoutes.programsCreate"
        [queryParams]="{ isAccelerated: true }"
      >
        <div class="icon d-flex align-items-center justify-content-center">
          <i class="bi bi-rocket-takeoff fs-1"></i>
        </div>
        <div class="ms-4 mt-3">
          <h3 class="fs-5">{{ I18ns.programs.programs.acceleratedProgram.title }}</h3>
          <p class="fs-6">{{ I18ns.programs.programs.acceleratedProgram.subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<alto-input-button-group
  [options]="programTypeOptions"
  [control]="programTypeControl"
></alto-input-button-group>
<div class="buttons-row">
  <div class="buttons-section">
    <alto-input-search [searchControl]="searchControl"></alto-input-search>
  </div>
  <div class="buttons-section">
    <alto-input-multiple-select
      [placeholder]="I18ns.leadTeam.members.filters.teams"
      [controls]="teamsControls"
      [options]="teamsOptions"
      [enableSearch]="true"
    >
    </alto-input-multiple-select>

    <alto-input-single-select-pill
      [placeholder]="I18ns.leadTeam.members.filters.score"
      [control]="scoreControl"
      [options]="scoreOptions"
    >
    </alto-input-single-select-pill>
  </div>
</div>

<alto-placeholder-manager [status]="dataStatus">
  <div
    *ngFor="let programCards of programCardsRows"
    class="programs-row mb-5"
    [class.full-row]="programCards.length === 3"
    [class.partial-row]="programCards.length < 3"
  >
    <div
      *ngFor="let programCard of programCards"
      class="program-card"
      [class.disabled]="!programCard.isActiveControl.value"
      [routerLink]="
        programCard.isActiveControl.value
          ? ['/', AltoRoutes.lead, AltoRoutes.programs, AltoRoutes.programsEdit, programCard.program.id]
          : null
      "
      [queryParams]="programCard.isActiveControl.value ? { tab: ETab.Summary } : null"
    >
      <div class="title-section mb-3">
        <span
          class="fs-6 alto-badge d-flex flex-nowrap"
          [class]="programCard.program.isAccelerated ? 'orange' : 'primary'"
        >
          <i
            class="bi me-2"
            [class]="programCard.program.isAccelerated ? 'bi-rocket-takeoff' : 'bi-bullseye'"
          ></i>
          <p>
            {{
              programCard.program.isAccelerated
                ? (I18ns.programs.programs.accelerated | plural : 1)
                : (I18ns.programs.programs.classic | plural : 1)
            }}
          </p>
        </span>
        <div class="d-flex flex-nowrap" (click)="$event.stopPropagation()">
          <button
            *ngIf="programCard.isActiveControl.value"
            type="button"
            class="edit-btn me-3"
            [routerLink]="
              programCard.isActiveControl.value
                ? ['/', AltoRoutes.lead, AltoRoutes.programs, AltoRoutes.programsEdit, programCard.program.id]
                : null
            "
            [queryParams]="programCard.isActiveControl.value ? { tab: ETab.Informations } : null"
          >
            {{ I18ns.shared.edit }}
            <i class="ms-1 bi bi-pencil-square"></i>
          </button>
          <alto-input-toggle [control]="programCard.isActiveControl"></alto-input-toggle>
        </div>
      </div>
      <p class="title-overflow title mb-3">
        {{ programCard.program.name }}
      </p>
      <ng-container *ngIf="programCard.program.teamIds.length > 0; else noTeam">
        <div class="teams-section">
          <img [src]="Emoji.BustsInSilhouette | emoji" height="16" width="16" />
          <p class="teams-title">{{ I18ns.shared.assignedTeams }} :</p>
          <div class="tooltip-container">
            <span class="alto-badge teams">{{ programCard.program.teamIds.length }}</span>

            <div class="tooltip-text">
              <p>{{ programCard.teamsTooltip }}</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noTeam>
        <div class="alto-badge">{{ I18ns.shared.noTeam }}</div>
      </ng-template>

      <hr />

      <div class="score-section">
        <div class="score-details">
          <p class="score-row">
            <span class="subtitle">
              <img class="pe-1 mb-2" [src]="Emoji.PlayButton | emoji" height="14" width="14" />
              {{ I18ns.programs.programs.involvement }}
            </span>
            <span
              class="alto-score"
              [class]="(programCard.participation ? programCard.participation * 100 : '') | pillColor"
            >
              {{ programCard.participation ? (programCard.participation | percent) : '-' }}
            </span>
          </p>
          <p class="score-row">
            <span class="subtitle">
              <img class="pe-1 mb-2" [src]="Emoji.SportsMedal | emoji" height="14" width="14" />
              {{ I18ns.programs.programs.score }}
            </span>
            <span class="alto-score" [class]="(programCard.score ? programCard.score * 100 : '') | pillColor">
              {{ programCard.score ? (programCard.score | percent) : '-' }}
            </span>
          </p>
          <p class="score-row">
            <span class="subtitle">
              <img class="pe-1 mb-2" [src]="Emoji.CheckMarkButton | emoji" height="14" width="14" />
              {{ I18ns.programs.programs.membersHaveValidated }}
            </span>
            <span
              class="alto-score"
              [class]="
                (programCard.userValidatedProgramCount ? programCard.userValidatedProgramCount * 100 : '')
                  | pillColor
              "
            >
              {{ programCard.userValidatedProgramCount }} / {{ programCard.totalUsersCount }}
            </span>
          </p>
        </div>
        <p class="fs-7 alto-grey">{{ I18ns.shared.createdAt }} {{ programCard.program.createdAt | date }}</p>
      </div>
    </div>
  </div>

  <alto-pagination [pageControl]="pageControl" [itemsCount]="itemsCount" [itemsPerPage]="pageSize">
  </alto-pagination>

  <div class="row mb-4" loading>
    <div *ngFor="let key of [1, 2, 3]" class="mb-4 col-4">
      <div class="skeleton-panel" style="height: 18rem"></div>
    </div>
  </div>

  <div class="nodata-placeholder text-center" noResult>
    <img [src]="Emoji.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
    <p class="mt-3">{{ I18ns.programs.programs.placeholderTitle }}</p>
    <span class="mt-3 d-block">{{ I18ns.programs.programs.placeholderSubtitle }}</span>
    <button class="btn btn-primary mt-4" (click)="resetFilters()">
      <i class="bi bi-arrow-clockwise"></i>
      {{ I18ns.shared.resetFilters }}
    </button>
  </div>

  <div class="nodata-placeholder text-center" noData>
    <img [src]="Emoji.BuildingConstruction | emoji" height="24" width="24" />
    <p class="mt-3">{{ I18ns.leadHome.ongoingPrograms.placeholder }}</p>
    <a type="button" class="btn btn-primary mt-4" href="/l/programs/e/new"
      ><i class="bi bi-plus-lg"></i>{{ I18ns.programs.programs.createProgram }}
    </a>
  </div>
</alto-placeholder-manager>
