:host ::ng-deep {
  .ng-select.ng-select-opened.ng-select-bottom > .ng-select-container,
  .ng-select.ng-select-opened.ng-select-top > .ng-select-container,
  .ng-select .ng-select-container {
    border-radius: 0.333rem;
  }
}
label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.667rem;
}
.footer {
  background-color: white;
  position: fixed;
  width: var(--bs-offcanvas-width);
  right: 0;
  bottom: 0;
  z-index: 100;
  .button-container {
    padding: 1.143rem 2.286rem;
  }
}

.subtitles {
  color: var(--gray-500, #667085);
  font-size: 0.8333rem;
}

hr {
  border-color: var(--gray-300);
  margin: 1.333rem;
}
