<div class="text-end px-4 mt-3">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss()"></button>
</div>
<div class="row m-5 g-0">
  <div class="col-2" style="width: 2.857rem">
    <i class="alto-badge-big alto-badge-blue me-4 bi bi-people"></i>
  </div>
  <div class="col ms-4">
    <h2>{{ I18ns.leadTeam.members.forms.edition.title }}</h2>
    <p class="alto-grey">{{ I18ns.leadTeam.members.forms.edition.subtitle }}</p>
  </div>
</div>

<hr class="mb-0" />

<div class="p-6 sidebar-body">
  <alto-img-badge class="d-inline-block" [user]="user" [size]="72"></alto-img-badge>
  <div class="d-inline-block ms-4 align-top mt-3">
    <h2 class="mb-2">
      {{ user?.firstname + ' ' + user?.lastname }}
    </h2>
    <span class="alto-grey">{{ user?.email }}</span>
  </div>
  <hr class="mb-0" />

  <form *ngIf="userForm" [formGroup]="userForm">
    <label class="form-label mt-4">{{ I18ns.leadTeam.members.forms.edition.teams }}</label>
    <ng-select
      data-cy="editMemberTeam"
      [items]="teams"
      [multiple]="false"
      bindLabel="shortName"
      [placeholder]="I18ns.leadTeam.members.forms.edition.teamsPlaceholder"
      [closeOnSelect]="true"
      [selectableGroup]="true"
      bindValue="id"
      formControlName="team"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="alto-badge fs-6b" [style]="item.id | teamColor">
          <span>{{ item.shortName }}</span>
        </div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span class="alto-badge fs-6b" [style]="item.id | teamColor">
          {{ item.shortName }}
        </span>
      </ng-template>
    </ng-select>

    <label class="mt-4 mb-2" *ngIf="profile.id !== user?.id">{{
      I18ns.leadTeam.members.forms.edition.type
    }}</label>

    <select *ngIf="profile.id !== user?.id" class="form-select" formControlName="type" id="type">
      <option value="company-user">{{ I18ns.leadTeam.members.forms.edition.standardType }}</option>
      <option value="company-admin">{{ I18ns.leadTeam.members.forms.edition.adminType }}</option>
    </select>

    <p class="my-4" *ngIf="profile.id !== user?.id">
      {{ I18ns.leadTeam.members.forms.edition.typeSubtitle }}
    </p>
  </form>
</div>
<div class="footer">
  <hr class="m-0" />
  <div class="button-container">
    <button
      type="button"
      class="btn btn-outline-secondary"
      aria-label="Close"
      (click)="activeOffcanvas.dismiss()"
    >
      {{ I18ns.shared.cancel }}
    </button>
    <button
      data-cy="editMemberSave"
      type="submit"
      class="btn btn-primary float-end"
      [disabled]="!userForm.valid"
      (click)="editUser()"
    >
      <i class="bi bi-save me-3"></i> {{ I18ns.shared.save }}
    </button>
  </div>
</div>
