<div class="mb-5">
  <h2>
    <img class="emoji align-middle mb-2" [src]="EmojiName.Locomotive | emoji" height="16" width="16" />
    {{ I18ns.statistics.user.engagement.userActivity.title }}
    <div class="ms-4 user-profile d-inline-block">
      <alto-img-badge [user]="user" [size]="24" class="d-inline-block align-bottom"></alto-img-badge>
      <span class="mb-2 ms-2 fw-medium alto-grey d-inline-block align-middle">
        {{ user.firstname + ' ' + user.lastname }}
      </span>
    </div>
    <span class="ms-4 alto-badge" [style]="user.team?.id | teamColor">{{ user.team?.name }}</span>
  </h2>
  <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.user.engagement.userActivity.subtitle }}</p>
</div>

<alto-placeholder-manager [status]="answersChartStatus">
  <div class="panel">
    <alto-time-picker
      class="float-end"
      [duration]="duration"
      (durationSelected)="updateTimePicker($event)"
    ></alto-time-picker>
    <h3>{{ I18ns.statistics.user.engagement.userActivity.chartTitle }}</h3>
    <p class="alto-grey mb-4">
      {{ I18ns.statistics.user.engagement.userActivity.chartSubtitle }}
    </p>
    <div class="chart-container">
      <alto-chart-basicline [chartOption]="answersChartOptions"></alto-chart-basicline>
    </div>
  </div>
  <div class="nodata-placeholder" empty>
    <h3 class="mb-5 fs-6">
      {{ I18ns.statistics.user.engagement.userActivity.chartTitle }}
    </h3>
    <div class="text-center">
      <img [src]="EmojiName.SleepingFace | emoji" height="24" width="24" />
      <p class="mt-3">
        {{ I18ns.statistics.user.engagement.userActivity.placeholder.title }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.statistics.user.engagement.userActivity.placeholder.subtitle }}
      </span>
    </div>
  </div>
  <div class="skeleton-panel mb-5" style="height: 497px" loading></div>
</alto-placeholder-manager>

<hr class="my-7" />

<div class="mb-5">
  <h2>
    <img class="emoji align-middle mb-2" [src]="EmojiName.NerdFace | emoji" height="16" width="16" />
    {{ I18ns.statistics.user.engagement.userEngagement.title }}
    <div class="ms-4 user-profile d-inline-block">
      <alto-img-badge [user]="user" [size]="24" class="d-inline-block align-bottom"></alto-img-badge>
      <span class="mb-2 ms-2 fw-medium alto-grey d-inline-block align-middle">
        {{ user.firstname + ' ' + user.lastname }}
      </span>
    </div>
    <span class="ms-4 alto-badge" [style]="user.team?.id | teamColor">{{ user.team?.name }}</span>
  </h2>
  <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.user.engagement.userEngagement.subtitle }}</p>
</div>
<alto-placeholder-manager [status]="contributionChartStatus">
  <div class="panel">
    <alto-time-picker
      class="float-end"
      [duration]="duration"
      (durationSelected)="updateTimePicker($event)"
    ></alto-time-picker>
    <h3>{{ I18ns.statistics.user.engagement.userEngagement.chartTitle }}</h3>
    <p class="alto-grey mb-4">
      {{ I18ns.statistics.user.engagement.userEngagement.chartSubtitle }}
    </p>
    <div class="chart-container">
      <alto-chart-basicline [chartOption]="contributionChartOptions"></alto-chart-basicline>
    </div>
  </div>
  <div class="nodata-placeholder" empty>
    <h3 class="mb-5 fs-6">
      {{ I18ns.statistics.user.engagement.userActivity.chartTitle }}
    </h3>
    <div class="text-center">
      <img [src]="EmojiName.BeachWithUmbrella | emoji" height="24" width="24" />
      <p class="mt-3">
        {{ I18ns.statistics.user.engagement.userEngagement.placeholder.title }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.statistics.user.engagement.userEngagement.placeholder.subtitle }}
      </span>
    </div>
  </div>
  <div class="skeleton-panel mb-5" style="height: 497px" loading></div>
</alto-placeholder-manager>
