<div>
  <ng-container *ngFor="let d of data | slice : 0 : limit || 50">
    <span *ngIf="d" class="alto-badge me-3" [style]="hasDynamicColor ? (d.id | teamColor) : ''" [class]="color"
      >{{ getText(d) | slice : 0 : textLimit }}<span [hidden]="getText(d).length < textLimit">...</span>
    </span>
  </ng-container>

  <div *ngIf="tooltip" class="tooltip-container">
    <span class="alto-badge" [class]="color"
      >+{{ data.length - limit }}</span
    >

    <div class="tooltip-text large">
      <p>
        {{ tooltip }}
      </p>
    </div>
  </div>
</div>
