<h1 id="welcome">{{ I18ns.leadHome.title + user.firstname | titlecase }}</h1>
<p class="mb-4 alto-grey fs-6b">{{ I18ns.userHome.subtitle }}</p>

<!-- STATISTICS -->
<alto-user-home-statistics [durationControl]="durationControl"></alto-user-home-statistics>

<!-- PROGRAM RUNS -->
<div class="row mt-6 mb-2">
  <div class="col-5">
    <h2 class="title">{{ I18ns.userHome.programsRun.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.userHome.programsRun.subtitle }}</p>
  </div>
  <div class="col-7 text-end">
    <button class="btn btn-outline-secondary z-index-max" [routerLink]="['/', AltoRoutes.user, AltoRoutes.training]">
      {{ I18ns.shared.showAll }}
      <i class="ms-2 bi bi-arrow-right"></i>
    </button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-4">
    <div
      class="panel highlighted-panel pe-auto ongoing-session-panel"
      [routerLink]="['/', AltoRoutes.user, AltoRoutes.training, AltoRoutes.trainingSession]"
    >
      <div class="calendar d-flex justify-content-center align-middle">
        <i class="my-auto fs-2 text-primary bi bi-calendar"></i>
      </div>
      <h2 class="mt-4">{{ I18ns.userHome.programsRun.continueSession }}</h2>
      <p class="alto-grey mb-4">{{ I18ns.userHome.programsRun.continueSessionSubtitle }}</p>
      <div class="users-counter">
        <alto-img-badge-list
          *ngIf="continuousSessionUsers.length > 0"
          [users]="continuousSessionUsers"
          class="align-middle"
        ></alto-img-badge-list>
        <span class="fs-7" [ngClass]="{ 'ms-4': continuousSessionUsers.length > 0 }">
          {{ I18ns.userHome.programsRun.continueSessionCounts | plural : continuousSessionUsers.length }}
        </span>
      </div>
    </div>
  </div>
  <div
    class="col-4"
    *ngFor="let item of myProgramRunsCards | slice : (pageControl.value - 1) * pageSize : pageControl.value * pageSize"
  >
    <alto-training-card class="mb-4" [data]="item"></alto-training-card>
  </div>
  <alto-pagination
    class="d-block"
    [ngClass]="{ invisible: myProgramRunsCards.length <= pageSize }"
    [pageControl]="pageControl"
    [itemsCount]="myProgramRunsCards.length"
    [itemsPerPage]="pageSize"
    aria-label="Default pagination"
  ></alto-pagination>

  <!-- TEAMS -->
  <div class="mt-4 mb-2">
    <h2 class="title">{{ I18ns.userHome.teams.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.userHome.teams.subtitle }}</p>
  </div>

  <alto-placeholder-manager [status]="leaderboardDataStatus">
    <alto-leaderboard
    [data]="leaderboardUsers"
    [config]="['score']"
    [title]="I18ns.statistics.team.masteryLevel.leaderboard"
    [subtitle]="I18ns.statistics.team.masteryLevel.leaderboardSubtitle">
    </alto-leaderboard>

    <div class="nodata-placeholder chart-container" noData>
      <div class="text-center">
        <img [src]="EmojiName.FourOclock | emoji" height="24" width="24" />
        <p class="mt-3">
          {{ I18ns.userHome.statistics.progression.noData }}
        </p>
        <span class="d-inline-block mt-3">
          {{ I18ns.userHome.statistics.progression.noDataSubtitle }}
        </span>
      </div>
    </div>
    <div class="skeleton-panel mb-5" style="height: 497px" loading></div>
  </alto-placeholder-manager>
</div>
