<h1>{{ I18ns.leadHome.title + userName | titlecase }}</h1>
<p class="mb-4 alto-grey fs-6b">{{ I18ns.userHome.subtitle }}</p>
<div class="row mt-5 mb-4">
  <div class="col-5">
    <h2 class="title">{{ I18ns.userHome.programsRun.title }}</h2>
    <p class="mt-2 mb-4 alto-grey">{{ I18ns.userHome.programsRun.subtitle }}</p>
  </div>
  <div class="col-7 text-end">
    <button class="btn btn-outline-secondary" [routerLink]="['/', AltoRoutes.user, AltoRoutes.training]">
      {{ I18ns.shared.showAll }}
      <i class="ms-2 bi bi-arrow-right"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div
      class="panel highlighted-panel pe-auto ongoingSessionPanel"
      [routerLink]="['/', AltoRoutes.user, AltoRoutes.training, AltoRoutes.trainingSession]"
    >
      <div class="calendar d-flex justify-content-center align-middle">
        <i class="my-auto fs-2 text-primary bi bi-calendar"></i>
      </div>
      <h2 class="mt-4">{{ I18ns.userHome.programsRun.continueSession }}</h2>
      <p class="alto-grey mb-4">{{ I18ns.userHome.programsRun.continueSessionSubtitle }}</p>
      <p class="text-end alto-light-grey fs-7">
        {{ I18ns.userHome.programsRun.continueSessionCounts | plural : guessesCount }}
      </p>
    </div>
  </div>
  <div
    class="col-4"
    *ngFor="let item of myProgramRunsCards | slice : (page - 1) * pageSize : page * pageSize"
  >
    <alto-training-card class="mb-4" [data]="item" (click)="goToTraining()"></alto-training-card>
  </div>
  <alto-pagination
    class="mx-4 d-block"
    [ngClass]="{ invisible: myProgramRunsCards.length <= pageSize }"
    [collectionSize]="myProgramRunsCards.length"
    [page]="page"
    (pageChange)="paginateProgramRuns($event)"
    [pageSize]="pageSize"
    aria-label="Default pagination"
  ></alto-pagination>
</div>
