:host {
  display: block;
  padding: var(--alto-page-padding);
}

// TODO : HORRIBLE TERRIBLE QUICK FIX
.z-index-max {
  position: relative;
  z-index: 9999;
}

.welcome-panel {
  background-color: #9bfaa3;
  border-radius: 0.67rem;
  padding: 1.14rem, 1.7rem;
}

.users-counter {
  width: calc(100% - 3.429rem);
  position: absolute;
  bottom: 1.143rem;
}
.ongoing-session-panel {
  height: 17.286rem;
  position: relative;
}

.calendar {
  border-radius: 50%;
  background-color: #d1e9ff;
  width: 60px;
  height: 60px;
}

.highlighted-panel {
  cursor: pointer;
}
.highlighted-panel:hover {
  border-color: #84caff;
  border-radius: 12px;
}

@media (max-width: 1300px) {
  alto-img-badge {
    display: none;
  }
}
alto-img-badge {
  width: 2.857rem;
  display: inline-block;
  vertical-align: middle;
}

.position-1 {
  color: gold;
}

.position-2 {
  color: silver;
}

.position-3 {
  color: coral;
}
