:host {
  display: block;
  padding: var(--alto-page-padding);
}

.calendar {
  border-radius: 50%;
  background-color: #d1e9ff;
  width: 60px;
  height: 60px;
}

.highlighted-panel {
  cursor: pointer;
}
.highlighted-panel:hover {
  border-color: #84caff;
  border-radius: 12px;
}
