:host {
  display: block;
  padding: var(--alto-page-padding);
}

.ongoing-session-panel {
  height: 17.286rem;
}

.calendar {
  border-radius: 50%;
  background-color: #d1e9ff;
  width: 60px;
  height: 60px;
}

.highlighted-panel {
  cursor: pointer;
}
.highlighted-panel:hover {
  border-color: #84caff;
  border-radius: 12px;
}

@media (max-width: 1300px) {
  alto-img-badge {
    display: none;
  }
}
alto-img-badge {
  width: 2.857rem;
  display: inline-block;
  vertical-align: middle;
}

.position-1 {
  color: gold;
}

.position-2 {
  color: silver;
}

.position-3 {
  color: coral;
}
