<button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss()"></button>
<div class="mx-6 my-4">
  <alto-icon-badge [size]="4" class="me-4"></alto-icon-badge>

  <p class="title d-inline-block">
    {{
      isSubmitted
        ? I18ns.questions.form.title.submitted
        : isEdit
        ? I18ns.questions.form.title.edit
        : I18ns.questions.form.title.create
    }}
  </p>
</div>
<hr class="mb-0" />

<div class="p-6 sidebar-body">
  <form *ngIf="questionForm" [formGroup]="questionForm">
    <label class="form-label required">{{ I18ns.questions.form.name }}</label>

    <alto-text-counter
      data-cy="questionCreateTitle"
      [control]="questionForm.controls.title"
      [placeholder]="I18ns.questions.form.namePlaceholder"
      [limit]="questionHardLimit"
      [softLimit]="questionSoftLimit"
    >
    </alto-text-counter>

    <label class="form-label">{{ I18ns.questions.form.explanation }}</label>
    <textarea
      class="form-control"
      rows="5"
      formControlName="explanation"
      placeholder="{{ I18ns.questions.form.explanationPlaceholder }}"
    ></textarea>

    <div class="mb-4">
      <label class="form-label mb-1">{{ I18ns.questions.form.image }}</label>
      <p class="alto-grey mb-3 fs-7">
        {{ I18ns.questions.form.imageSubtitle }}
      </p>
      <div class="custom-file-input" *ngIf="!imageUrl">
        <input type="file" (change)="onFileSelected($event)" id="fileInput" accept="image/*">
        <label for="fileInput" class="file-input-label">
          <i class="bi bi-image icon-image"></i>
          <span>Télécharger une image</span>
        </label>
        <p class="alto-grey mb-3 fs-7">
          {{ I18ns.questions.form.imageRequirements }}
        </p>
      </div>
       <div class="image-container">
        <button *ngIf="imageUrl" (click)="deleteImage()" class="delete-button">
          <i class="bi bi-x" style="font-size: 20px;"></i>
        </button>
        <img [src]="imageUrl" alt="image" *ngIf="imageUrl" />
      </div>
    </div>

    <ng-container *ngIf="!isProgramEdit">
      <label class="form-label">{{ I18ns.questions.form.programs }}</label>
      <ng-select
        class="alto-form mb-4"
        [items]="programs"
        [multiple]="true"
        bindLabel="name"
        [placeholder]="I18ns.questions.form.programsPlaceholder"
        [closeOnSelect]="false"
        bindValue="id"
        formControlName="programs"
      >
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <div class="alto-badge">
            <span data-cy="programsNames">{{ item.name | sliceWithDots : 30 }}</span>
            <span class="cursor-pointer ms-2 align-middle" (click)="clear(item)" aria-hidden="true">
              <i class="bi bi-x-lg"></i>
            </span>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <span class="alto-badge">{{ item.name | sliceWithDots : 30 }}</span>
          <i class="bi bi-check-circle-fill"></i>
        </ng-template>
      </ng-select>
    </ng-container>

    <label class="form-label required">{{ I18ns.questions.form.tags }}</label>
    <ng-select
      class="alto-form mb-4"
      data-cy="tagSelectDropdown"
      required
      [items]="tags"
      [multiple]="true"
      bindLabel="name"
      [placeholder]="I18ns.questions.form.tagsPlaceholder"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      formControlName="tags"
    >
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <div class="alto-badge primary">
          <span>{{ item.name }}</span>
          <span class="cursor-pointer ms-2 align-middle" (click)="clear(item)" aria-hidden="true">
            <i class="bi bi-x-lg"></i>
          </span>
        </div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span class="alto-badge primary">{{ item.name }}</span>
        <i class="bi bi-check-circle-fill"></i>
      </ng-template>
    </ng-select>

    <label class="form-label" for="basic-url">{{ I18ns.questions.form.link }}</label>

    <div class="input-group mb-5">
      <span class="input-group-text" id="basic-addon3">https://</span>
      <input
        id="basic-url"
        type="text"
        class="form-control mb-0"
        formControlName="link"
        placeholder="{{ I18ns.questions.form.linkPlaceholder }}"
      />
    </div>

    <hr class="m-0" />

    <!-- ANSWERS -->

    <label class="form-label required mt-5">{{ I18ns.questions.form.goodAnswer }}</label>

    <ng-container formArrayName="answersAccepted">
      <ng-container *ngFor="let answer of answersAccepted.controls; let i = index">
        <div class="d-flex align-items-center">
          <alto-text-counter
            data-cy="goodAnswerInput"
            class="flex-grow-1 ml-2"
            [control]="answer"
            [placeholder]="I18ns.questions.form.goodAnswerPlaceholder"
            [limit]="answerHardLimit"
            [softLimit]="answerSoftLimit"
          >
          </alto-text-counter>
          <div
            *ngIf="answersAccepted.controls.length > 1"
            class="remove-field flex-grow-2 ms-3 mb-4"
            (click)="removeAnswer('good', i)"
          >
            <i class="bi bi-trash3"></i>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <p class="add-field" *ngIf="answersAccepted.controls.length < 4" (click)="addGoodAnwswer()">
      <i class="bi bi-plus-lg"></i> {{ I18ns.questions.form.addGoodAnswer }}
    </p>

    <label class="form-label required mb-1">{{ I18ns.questions.form.badAnswer }}</label>
    <p class="alto-grey mb-3 fs-7">
      {{ I18ns.questions.form.badAnswerSubtitle }}
    </p>

    <ng-container formArrayName="answersWrong">
      <ng-container *ngFor="let answer of answersWrong.controls; let i = index">
        <div class="d-flex align-items-center">
          <alto-text-counter
            data-cy="badAnswerInput"
            class="flex-grow-1 ml-2"
            [control]="answer"
            [placeholder]="I18ns.questions.form.badAnswerPlaceholder"
            [limit]="answerHardLimit"
            [softLimit]="answerSoftLimit"
          >
          </alto-text-counter>
          <div
            *ngIf="answersWrong.controls.length > 1"
            class="remove-field flex-grow-2 ms-3 mb-4"
            (click)="removeAnswer('bad', i)"
          >
            <i class="bi bi-trash3"></i>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <p class="add-field" *ngIf="answersWrong.controls.length < 6" (click)="addBadAnwswer()">
      <i class="bi bi-plus-lg"></i> {{ I18ns.questions.form.addBadAnswer }}
    </p>
  </form>
</div>
<div class="footer">
  <hr class="m-0" />

  <div class="button-container">
    <a type="button" class="cancel-btn" aria-label="Close" (click)="activeOffcanvas.dismiss()">
      {{ I18ns.shared.cancel }}
    </a>
    <ng-container *ngIf="isSubmitted; else elseTemplate">
      <button
        type="submit"
        [disabled]="questionForm && !questionForm.valid"
        class="btn btn-primary float-end"
        (click)="createQuestion()"
      >
        <i class="bi bi-plus"></i>
        <span>{{ I18ns.shared.create }} </span>
      </button>
    </ng-container>
    <ng-template #elseTemplate>
      <ng-container *ngIf="isEdit; else notEdit">
        <input
          type="submit"
          [disabled]="questionForm && !questionForm.valid"
          class="btn btn-primary float-end"
          [value]="I18ns.shared.submit"
          (click)="createQuestion()"
        />
      </ng-container>
      <ng-template #notEdit>
        <button
          type="submit"
          [disabled]="questionForm && !questionForm.valid"
          class="btn btn-primary float-end"
          (click)="createQuestion()"
        >
          <i class="bi bi-plus"></i>
          <span>{{ I18ns.shared.create }} </span>
        </button>
      </ng-template>
    </ng-template>
  </div>
</div>
