.calendar {
  border-radius: 50%;
  background-color: #d1e9ff;
  width: 3.429rem;
  height: 3.429rem;
}
.highlighted-panel {
  cursor: pointer;
}
.highlighted-panel:hover {
  border-color: #84caff;
  border-radius: 12px;
}
.small-panel {
  height: 8.429rem;
}
.continuing-session-panel {
  height: 18rem;
  position: relative;
}
.users-counter {
  width: calc(100% - 3.429rem);
  position: absolute;
  bottom: 1.143rem;
}
