<div class="row">
  <div class="col-6">
    <div
      class="panel continuing-session-panel highlighted-panel pe-auto"
      [routerLink]="['/', AltoRoutes.user, AltoRoutes.training, AltoRoutes.trainingSession]"
    >
      <div class="calendar d-flex justify-content-center align-middle">
        <i class="my-auto fs-4 text-primary bi bi-calendar4"></i>
      </div>
      <h2 class="mt-4">{{ I18ns.userHome.programsRun.continueSession }}</h2>
      <p class="alto-grey mb-4">{{ I18ns.userHome.programsRun.continueSessionSubtitle }}</p>
      <div class="users-counter">
        <hr />
        <alto-img-badge-list
          *ngIf="continuousSessionUsers.length > 0"
          [users]="continuousSessionUsers"
          class="align-middle"
        ></alto-img-badge-list>
        <span class="fs-7" [ngClass]="{ 'ms-4': continuousSessionUsers.length > 0 }">
          {{ I18ns.userHome.programsRun.continueSessionCounts | plural : continuousSessionUsers.length }}
        </span>
      </div>
    </div>
  </div>

  <div class="col-6 row">
    <div class="col-6">
      <div class="panel mb-4 small-panel">
        <span class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.score }}
        </span>
        <i
          class="alto-grey bi bi-question-circle float-end"
          ngbTooltip="{{ I18ns.training.continuingTraining.panels.scoreTooltip }}"
        ></i>
        <div class="mt-5">
          <h1 class="d-inline-block">{{ avgScore | percent }}</h1>
          <alto-progression-badge
            class="float-end mt-2"
            [score]="avgScoreProgression"
          ></alto-progression-badge>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4 small-panel">
        <span class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.frequency }}
        </span>
        <i
          class="alto-grey bi bi-question-circle float-end"
          ngbTooltip="{{ I18ns.training.continuingTraining.panels.frequencyTooltip }}"
        ></i>
        <div class="mt-5">
          <h1 class="d-inline-block">{{ regularity | percent }}</h1>
          <alto-progression-badge
            class="float-end mt-2"
            [score]="regularityProgression"
          ></alto-progression-badge>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4 small-panel">
        <span class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.streak }}
        </span>
        <i
          class="alto-grey bi bi-question-circle float-end"
          ngbTooltip="{{ I18ns.training.continuingTraining.panels.streakTooltip }}"
        ></i>
        <ng-container *ngIf="streak; else currentStreakPlaceholder">
          <h1 class="mt-4">{{ streak + ' ' + (I18ns.shared.days | plural : streak) }}</h1>
        </ng-container>
        <ng-template #currentStreakPlaceholder>
          <p class="alto-grey mt-4">
            {{ I18ns.training.continuingTraining.panels.currentStreakPlaceholder }}
          </p>
        </ng-template>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4 small-panel">
        <span class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.bestStreak }}
        </span>
        <i
          class="alto-grey bi bi-question-circle float-end"
          ngbTooltip="{{ I18ns.training.continuingTraining.panels.bestStreakTooltip }}"
        ></i>
        <ng-container *ngIf="longestStreak; else longestStreakPlaceholder">
          <h1 class="mt-4">{{ longestStreak + ' ' + (I18ns.shared.days | plural : longestStreak) }}</h1>
        </ng-container>
        <ng-template #longestStreakPlaceholder>
          <p class="alto-grey mt-4">
            {{ I18ns.training.continuingTraining.panels.longestStreakPlaceholder }}
          </p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
