<div class="row">
  <div class="col-6">
    <div
      class="panel highlighted-panel pe-auto"
      [routerLink]="['/', AltoRoutes.user, AltoRoutes.training, AltoRoutes.trainingSession]"
    >
      <div class="calendar d-flex justify-content-center align-middle">
        <i class="my-auto fs-4 text-primary bi bi-calendar4"></i>
      </div>
      <h2 class="mt-4">{{ I18ns.userHome.programsRun.continueSession }}</h2>
      <p class="alto-grey mb-4">{{ I18ns.userHome.programsRun.continueSessionSubtitle }}</p>
      <hr />
      <p class="text-end alto-light-grey fs-7">
        {{ I18ns.userHome.programsRun.continueSessionCounts | plural : guessesCount }}
      </p>
    </div>
  </div>
  <div class="col-6 row">
    <div class="col-6">
      <div class="panel mb-4">
        <p class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.score }}
        </p>
        <h1 class="mt-4">0</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4">
        <p class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.frequency }}
        </p>
        <h1 class="mt-4">0</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4">
        <p class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.streak }}
        </p>
        <h1 class="mt-4">0</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4">
        <p class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.bestStreak }}
        </p>
        <h1 class="mt-4">0</h1>
      </div>
    </div>
  </div>
</div>
