<div class="row">
  <div class="col-6">
    <div
      class="panel highlighted-panel pe-auto"
      [routerLink]="['/', AltoRoutes.user, AltoRoutes.training, AltoRoutes.trainingSession]"
    >
      <div class="calendar d-flex justify-content-center align-middle">
        <i class="my-auto fs-4 text-primary bi bi-calendar4"></i>
      </div>
      <h2 class="mt-4">{{ I18ns.userHome.programsRun.continueSession }}</h2>
      <p class="alto-grey mb-4">{{ I18ns.userHome.programsRun.continueSessionSubtitle }}</p>
      <hr />
      <p class="text-end alto-light-grey fs-7">
        {{ I18ns.userHome.programsRun.continueSessionCounts | plural : guessesCount }}
      </p>
    </div>
  </div>
  <div class="col-6 row">
    <div class="col-6">
      <div class="panel mb-4 small-panel">
        <span class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.score }}
        </span>
        <i
          class="alto-grey bi bi-question-circle float-end"
          ngbTooltip="{{ I18ns.userHome.statistics.averageScore.tooltip }}"
        ></i>
        <div class="mt-5">
          <h1 class="d-inline-block">{{ avgScore }} %</h1>
          <alto-progression-badge class="float-end mt-2" [score]="previousAvgScore"></alto-progression-badge>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4 small-panel">
        <span class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.frequency }}
        </span>
        <i
          class="alto-grey bi bi-question-circle float-end"
          ngbTooltip="{{ I18ns.userHome.statistics.averageScore.tooltip }}"
        ></i>
        <div class="mt-5">
          <h1 class="d-inline-block">{{ regularity | percent }}</h1>
          <alto-progression-badge
            class="float-end mt-2"
            [score]="previousRegularity"
          ></alto-progression-badge>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4 small-panel">
        <span class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.streak }}
        </span>
        <i
          class="alto-grey bi bi-question-circle float-end"
          ngbTooltip="{{ I18ns.userHome.statistics.averageScore.tooltip }}"
        ></i>
        <h1 class="mt-4">{{ streak + ' ' + (I18ns.shared.days | plural : streak) }}</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="panel mb-4 small-panel">
        <span class="alto-grey">
          {{ I18ns.training.continuingTraining.panels.bestStreak }}
        </span>
        <i
          class="alto-grey bi bi-question-circle float-end"
          ngbTooltip="{{ I18ns.userHome.statistics.averageScore.tooltip }}"
        ></i>
        <h1 class="mt-4">{{ longestStreak + ' ' + (I18ns.shared.days | plural : longestStreak) }}</h1>
      </div>
    </div>
  </div>
</div>
