:host {
  display: block;
  padding: var(--alto-page-padding);
}
.timer {
  span {
    min-width: 11.429rem;
    display: inline-block;
  }
}
alto-answer-card {
  padding: 0 1.714rem 1.714rem 0;
}

alto-answer-card:nth-child(even) {
  padding: 0 0 1.714rem 0;
}

.question-title {
  h1 {
    font-size: 2.571rem;
  }
  h2 {
    font-size: 1.429rem;
  }
}
.dontknowinput {
  input {
    width: 20px;
  }
  input:checked ~ label {
    color: #0d6efd;
  }
  label {
    font-size: 1.429rem;
    font-weight: 500;
    color: var(--alto-text-color2);
  }
}

h1 {
  margin-bottom: 4.571rem;
}
.footer {
  margin-top: 4.571rem;
}
