:host {
  display: block;
  padding: var(--alto-page-padding);
}
.timer {
  span {
    min-width: 11.429rem;
    display: inline-block;
  }
}
alto-answer-card {
  padding: 0 1.714rem 1.714rem 0;
}

alto-answer-card:nth-child(even) {
  padding: 0 0 1.714rem 0;
}

#dontknowinput ~ label {
  font-size: 1.18rem;
  color: #344054;
}

#dontknowinput:checked ~ label {
  color: #0d6efd;
}

h1 {
  margin-bottom: 4.571rem;
}
.footer {
  margin-top: 4.571rem;
}
