:host {
  display: block;
}
.mask {
  position: fixed;
  background-color: #ffffff87;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 150;
}
.loader-container {
  width: 21rem;
  padding: 12px 0;
  margin: 45vh auto;
  text-align: center;
  p {
    margin: 1.143rem 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.spinner-border {
  border-right-color: #ec644a;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
