<div class="mb-5 position-relative">
  <div class="col-6">
    <h2>
      <img class="emoji" [src]="EmojiName.FlexedBiceps | emoji" height="16" width="16" />
      {{ I18ns.statistics.globalPerformance.perTeamPerformance.title }}
    </h2>
    <p class="mb-4 alto-grey">{{ I18ns.statistics.globalPerformance.perTeamPerformance.subtitle }}</p>
  </div>
  <div class="col-6 text-end">
    <alto-time-picker
      class="time-picker"
      [durationControl]="durationControl"
    ></alto-time-picker>
  </div>
</div>

<alto-performance-by-teams [duration]="durationControl.value" [company]="company"></alto-performance-by-teams>
<hr class="my-7">

<div class="mb-5 position-relative">
  <div class="col-6">
    <h2 class>
      <img class="emoji" [src]="EmojiName.Label | emoji" height="16" width="16" />
      {{ I18ns.statistics.globalPerformance.perThemePerformance.title }}
    </h2>
    <p class="mb-4 alto-grey">{{ I18ns.statistics.globalPerformance.perThemePerformance.subtitle }}</p>
  </div>
  <div class="col-6 text-end">
    <alto-time-picker
      class="time-picker2"
      [durationControl]="durationControl"
    ></alto-time-picker>
  </div>
</div>

<alto-performance-by-themes [durationControl]="durationControl"></alto-performance-by-themes>
<hr class="my-7">

<div class="mb-4 position-relative">
  <alto-time-picker
    class="time-picker2"
    [durationControl]="durationControl"
  ></alto-time-picker>
  <h2 class>
    <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" height="16" width="16" />
    {{ I18ns.statistics.globalPerformance.teamsTable.title }}
  </h2>
  <p class="mb-4 alto-grey">{{ I18ns.statistics.globalPerformance.teamsTable.subtitle }}</p>
</div>

<alto-performance-teams-table [duration]="durationControl.value" [company]="company"></alto-performance-teams-table>
<hr class="my-7">

<div class="mb-4 position-relative">
  <alto-time-picker
    class="time-picker2"
    [durationControl]="durationControl"
  ></alto-time-picker>
  <h2 class>
    <img class="emoji" [src]="EmojiName.RedQuestionMark | emoji" height="16" width="16" />
    {{ I18ns.statistics.globalPerformance.questionsTable.title }}
  </h2>
  <p class="mb-4 alto-grey">{{ I18ns.statistics.globalPerformance.questionsTable.subtitle }}</p>
</div>

<alto-performance-questions-table [duration]="durationControl.value"></alto-performance-questions-table>
