<div class="mb-4 position-relative">
  <alto-time-picker
    class="time-picker"
    [duration]="duration"
    (durationSelected)="updateTimePicker($event)"
  ></alto-time-picker>
  <h2>{{ I18ns.statistics.globalPerformance.perTeamPerformance.title }}</h2>
  <p class="alto-grey pb-3">{{ I18ns.statistics.globalPerformance.perTeamPerformance.subtitle }}</p>
</div>
<alto-performance-by-teams [duration]="duration"></alto-performance-by-teams>

<hr />

<div class="mb-4 position-relative">
  <alto-time-picker
    class="time-picker2"
    [duration]="duration"
    (durationSelected)="updateTimePicker($event)"
    name="timePicker2"
  ></alto-time-picker>
  <h2>{{ I18ns.statistics.globalPerformance.perThemePerformance.title }}</h2>
  <p class="alto-grey pb-3">{{ I18ns.statistics.globalPerformance.perThemePerformance.subtitle }}</p>
</div>
<alto-performance-by-themes [duration]="duration"></alto-performance-by-themes>

<hr />
