@media (max-width: 1300px) {
  alto-img-badge {
    display: none;
  }
}
alto-img-badge {
  width: 2.857rem;
  display: inline-block;
}
.name {
  font-weight: 600;
}
.email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.names-container {
  width: calc(100% - 5rem);
  vertical-align: text-bottom;
  margin-left: 1.5rem;
}
