<div class="d-flex justify-content-between align-items-center mb-5">
  <div>
    <h2>
      <img class="emoji align-middle mb-2" [src]="EmojiName.FlexedBiceps | emoji" height="16" width="16" />
      {{ I18ns.statistics.user.performance.masteringLevel.title }}
      <div class="ms-4 user-profile d-inline-block">
        <alto-img-badge [user]="user" [size]="24" class="d-inline-block align-bottom"></alto-img-badge>
        <span class="mb-2 ms-2 fw-medium alto-grey d-inline-block align-middle">
          {{ user.fullname }}
        </span>
      </div>
      <span class="ms-4 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
    </h2>
    <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.user.performance.masteringLevel.subtitle }}</p>
  </div>

  <alto-time-picker
  class="me-4 float-end"
  [durationControl]="durationControl"
  ></alto-time-picker>
</div>

<alto-placeholder-manager [status]="userChartStatus">
  <div class="panel">
    <h3>{{ I18ns.statistics.user.performance.masteringLevel.chartTitle }}</h3>
    <p class="alto-grey mb-4">
      {{ I18ns.statistics.user.performance.masteringLevel.chartSubtitle }}
    </p>
    <div class="chart-container">
      <alto-chart-basicline [chartOption]="userChartOptions" [tooltipTitleFormatter]="tooltipTitleFormatter"></alto-chart-basicline>
    </div>
  </div>
  <div class="nodata-placeholder" noData>
    <h3 class="mb-5 fs-6">
      {{ I18ns.statistics.user.performance.masteringLevel.chartTitle }}
    </h3>
    <div class="text-center">
      <img [src]="EmojiName.FourOclock | emoji" height="24" width="24" />
      <p class="mt-3">
        {{ I18ns.statistics.user.performance.masteringLevel.placeholder.title }}
      </p>
      <span class="d-inline-block mt-3">
        {{ I18ns.statistics.user.performance.masteringLevel.placeholder.subtitle }}
      </span>
    </div>
  </div>
  <div class="skeleton-panel mb-5" style="height: 497px" loading></div>
</alto-placeholder-manager>

<hr class="my-7" />

<div>
  <h2>
    <img class="emoji align-middle mb-2" [src]="EmojiName.Label | emoji" height="16" width="16" />
    {{ I18ns.statistics.user.performance.themeMastering.title }}
    <div class="ms-4 user-profile d-inline-block">
      <alto-img-badge [user]="user" [size]="24" class="d-inline-block align-bottom"></alto-img-badge>
      <span class="mb-2 ms-2 fw-medium alto-grey d-inline-block align-middle">
        {{ user.fullname }}
      </span>
    </div>
    <span class="ms-4 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
  </h2>
  <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.user.performance.themeMastering.subtitle }}</p>
</div>

<div class="panel">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h3>{{ I18ns.statistics.user.performance.themeMastering.spiderChart.title }}</h3>
      <p class="alto-grey mb-4">
        {{ I18ns.statistics.user.performance.themeMastering.spiderChart.subtitle }}
      </p>
    </div>

    <alto-input-multiple-select
    [placeholder]="I18ns.statistics.user.performance.themeMastering.tagFilter"
    [controls]="tagsControl"
    [options]="tagsOptions">
    </alto-input-multiple-select>
  </div>

  <alto-placeholder-manager [status]="spiderChartStatus">
    <alto-placeholder-manager>
      <alto-chart-radar [chartOption]="spiderChartOptions"></alto-chart-radar>
    </alto-placeholder-manager>
    <div class="nodata-placeholder" noData>
      <ng-container *ngIf="tagsOptions.length < 3; else selectTags">
        <h3 class="mb-5 fs-6">
          {{ I18ns.statistics.user.performance.themeMastering.spiderChart.title }}
        </h3>
        <div class="text-center">
          <img [src]="EmojiName.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
          <p class="mt-3">
            {{ I18ns.statistics.user.performance.themeMastering.spiderChart.placeholder.empty }}
          </p>
        </div>
      </ng-container>

      <ng-template #selectTags>
        <div class="text-center">
          <img [src]="EmojiName.FaceWithMonocle | emoji" height="24" width="24" />
          <p class="mt-3">
            {{
              tagsControl.value.length < 3
                ? I18ns.statistics.user.performance.themeMastering.spiderChart.placeholder.lessThan3Tags
                : I18ns.statistics.user.performance.themeMastering.spiderChart.placeholder.MoreThan6Tags
            }}
          </p>
        </div>
      </ng-template>
    </div>
    <div class="nodata-placeholder" noResult>
      <h3 class="mb-5 fs-6">
        {{ I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.title }}
      </h3>
      <div class="text-center">
        <img [src]="EmojiName.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
        <p class="mt-3">
          {{ I18ns.shared.placeholders.noResultInTimeframe.title }}
        </p>
        <span class="d-inline-block mt-3">
          {{ I18ns.shared.placeholders.noResultInTimeframe.subtitle }}
        </span>
      </div>
    </div>
    <div class="skeleton-panel" style="height: 500px" loading></div>
  </alto-placeholder-manager>
</div>
