.panel-full {
  background-color: white;
  border-radius: 1.333rem;
  border: 1px solid var(--gray-300);
  margin: 2.667rem;
  height: 93vh;
}

.background-img {
  opacity: 0.1;
  height: 80%;
}
.text-404 {
  z-index: 10;
  margin-top: -3rem;
  h1 {
    font-size: 1.667rem;
    font-weight: 600;
  }
  .btn span {
    font-size: 1rem;
  }
}
