<alto-admin-header-remove-impersonation></alto-admin-header-remove-impersonation>
<div class="panel-full d-flex justify-content-center align-items-center">
  <img
    class="position-absolute top-0 end-0 background-img m-7"
    src="https://raw.githubusercontent.com/microsoft/fluentui-emoji/main/assets/Confused%20face/Color/confused_face_color.svg"
  />
  <div class="text-center text-404">
    <img
      class="emoji"
      src="https://raw.githubusercontent.com/microsoft/fluentui-emoji/main/assets/Confused%20face/Color/confused_face_color.svg"
      height="48"
    />
    <h1 class="my-5">{{ I18ns.shared.noTeams.title }}</h1>
    <p class="fs-5 subtitles">{{ I18ns.shared.noTeams.subtitle }}</p>
    <a class="btn btn-primary mt-6" href="mailto:{{ adminMail }}">
      <i class="bi bi-envelope"></i>
      <span>{{ I18ns.shared.noTeams.button }}</span>
    </a>
  </div>
</div>
