:host {
  background-color: #101828;
  height: 100vh;
  position: fixed;
  color: #f2f4f7;

  width: 20rem;
  @media (max-width: 1300px) {
    width: 230px;
  }
}
.logo {
  margin: 2.286rem 0 2rem 1.714rem;

  .company-name {
    margin-left: 0.5rem;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.429rem;
  }
}

.menu {
  a.module {
    display: block;
    border-radius: 6px;
    margin: 0 1.143rem 0.286rem 1.143rem;
    height: 2.429rem;
    padding: 0.357rem 0.857rem;
    color: #f2f4f7;
    font-weight: 500;
    font-size: 1.143rem;

    svg {
      fill: #667085;
      margin-right: 1.1rem;
      width: 23px;
    }

    &.menu-selected,
    &:hover {
      background-color: var(--alto-blue-second);
      svg {
        fill: #f2f4f7;
      }
    }
  }
  .bottom-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .build-time {
      color: var(--alto-blue);
      &:hover {
        color: grey;
      }
    }
  }
  .logout {
    position: absolute;
    right: 0;
  }
  .profile {
    display: block;
    margin: 1rem;
    color: #f2f4f7;
  }
}
