<div class="logo">
  <a [routerLink]="['/', displayAdmin ? AltoRoutes.lead : AltoRoutes.user, AltoRoutes.leadHome]">
    <img width="20" src="assets/img/favicon.png" alt="Alto Logo" />
  </a>
</div>

<!-- USER -->

<div class="menu">
  <div [hidden]="displayAdmin">
    <div ngbTooltip="{{ I18ns.menu.home }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.user + '/' + AltoRoutes.userHome"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-house-door"></i>
      </a>
    </div>
    <div ngbTooltip="{{ I18ns.menu.training }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.user + '/' + AltoRoutes.training"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-check2-square"></i>
      </a>
    </div>

    <!-- Team tab hidden -->

    <!-- <div ngbTooltip="{{ I18ns.menu.team }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.user + '/' + AltoRoutes.userTeams"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-people"></i>
      </a>
    </div> -->
  </div>

  <!-- LEAD -->

  <div [hidden]="!displayAdmin">
    <div ngbTooltip="{{ I18ns.menu.home }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.leadHome"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-house-door"></i>
      </a>
    </div>
    <div ngbTooltip="{{ I18ns.menu.programs }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.programs"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-check2-square"></i>
      </a>
    </div>
    <div ngbTooltip="{{ I18ns.menu.statistics }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.statistics"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-bar-chart"></i>
      </a>
    </div>
    <div ngbTooltip="{{ I18ns.menu.team }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.leadTeams"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-people"></i>
      </a>
    </div>
    <!-- 
    <div ngbTooltip="{{ I18ns.menu.challenges }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.challenges"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-puzzle"></i>
      </a>
    </div> -->
  </div>

  <div class="bottom-block">
    <div [hidden]="!displayAdmin">
      <div ngbTooltip="{{ I18ns.menu.settings }}" placement="right" tooltipClass="menu-tooltip-class">
        <a
          class="module mb-4"
          [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.settings"
          routerLinkActive="menu-selected"
          tooltipClass="menu-tooltip-class"
        >
          <i class="bi bi-gear"></i>
        </a>
      </div>
    </div>

    <hr />
    <ng-template #popContent>
      <div>
        <a
          data-cy="profile"
          class="cursor-pointer"
          [routerLink]="
            displayAdmin
              ? AltoRoutes.lead + '/' + AltoRoutes.profile
              : AltoRoutes.user + '/' + AltoRoutes.profile
          "
          ><i class="bi bi-person"></i>{{ I18ns.menu.profile }}
        </a>
      </div>
      <div *ngIf="isAdmin" class="form-check form-switch cursor-pointer">
        <input
          class="form-check-input"
          type="checkbox"
          id="adminSwitch"
          #adminSwitch
          [checked]="displayAdmin"
          (change)="switchToAdmin(adminSwitch.checked)"
        />
        <label class="form-check-label cursor-pointer" for="adminSwitch">
          {{ I18ns.menu.adminMode }}
        </label>
      </div>
      <div>
        <a href="https://airtable.com/appIyNNDxAgaqKMAJ/shr4vWMugZ5uEc5a4" class="cursor-pointer"
          ><i class="bi bi-chat-text"></i>{{ I18ns.menu.feedback }}</a
        >
      </div>
      <div>
        <a class="logout cursor-pointer" (click)="logOut()">
          <i class="bi bi-box-arrow-right"></i> {{ I18ns.menu.disconnect }}
        </a>
      </div>
    </ng-template>
    <alto-img-badge
      [toggleTooltip]="toggleTooltip"
      class="imgBadgeMenu"
      type="button"
      placement="right"
      [ngbPopover]="popContent"
      popoverClass="menu-popover"
      [user]="userStore.user.value$ | async"
      [size]="40"
    >
    </alto-img-badge>

    <p class="build-time fs-8" title="Build Time">Version: {{ buildTime | date : 'medium' }}</p>
  </div>
</div>
