:host ::ng-deep {
  .menu-tooltip-class {
    .tooltip-inner {
      background-color: var(--gray-900);
      margin: 0 0 0 0.3rem;
    }
    .tooltip-arrow {
      margin: 0 0 0 0.3rem;
    }
    .tooltip-arrow::before {
      border-right-color: var(--gray-900);
    }
  }

  .menu-popover {
    width: 14rem;
    height: 10rem;
    background-color: var(--gray-900);
    border: none;
    opacity: 0.9;
    bottom: 0.4167rem !important;

    .popover-arrow::before {
      border: none;
    }
    .popover-arrow:after {
      border-right-color: var(--gray-900);
    }
    .popover-body {
      padding: 0.6667rem;
      font-size: 0.8333rem;
      color: var(--white);
      i {
        vertical-align: middle;
        font-size: 1rem;
        margin: 0 0.6667rem 0 1rem;
      }
      input {
        width: 1.6667rem;
        height: 0.8333rem;
      }
      a {
        color: var(--white);
      }
      div {
        cursor: pointer;
        padding: 0.3333rem 0.5833rem 0.3333rem 0;
      }
      div:hover {
        background-color: var(--gray-700);
      }
    }
  }

  .popover-arrow ::after {
    border-top-color: var(--gray-900);
  }
}

.menu-container {
  top: 0;
  z-index: 400;
  background-color: #101828;
  height: 100vh;
  position: fixed;
  color: #f2f4f7;
  left: 0;
  width: 5rem;

  &.extended {
    width: 17rem;
  }

  .extended-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 70px;
      width: 60px;

      .company-name {
        margin-left: 0.5rem;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.429rem;
      }
    }

    .rounded-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background-color: var(--gray-900);
      border: solid 1px var(--gray-500);
      border-radius: 50%;
      height: 20px;
      width: 20px;
      cursor: pointer;
      margin: 5px;

      .i {
        color: var(--gray-700);
      }

      &.floating {
        position: absolute;
        right: -25%;
      }
    }
  }

  .menu {
    .module {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-weight: 500;
      font-size: 1.143rem;
      cursor: pointer;
      color: var(--gray-500);
      height: 50px;

      span {
        color: var(--gray-500);
      }

      .module-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 60px;

        i {
          font-size: 1.666rem;
          color: var(--gray-500);
        }

        &:hover {
          background-color: var(--alto-blue-second);
          i {
            color: var(--gray-100);
          }
        }
        &.menu-selected,
        &:active {
          background-color: var(--alto-blue-second);

          i {
            color: var(--gray-100);
          }

          span {
            color: var(--gray-100);
          }
        }
      }

      &:hover {
        background-color: var(--alto-blue-second);
        i {
          color: var(--gray-100);
        }
      }
      &.menu-selected,
      &:active {
        background-color: var(--alto-blue-second);

        span {
          color: var(--gray-100);
        }

        .module-icon {
          i {
            color: var(--gray-100);
          }
        }
      }
    }

    .sub-module {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-weight: 500;
      font-size: 1.143rem;
      cursor: pointer;
      color: var(--gray-500);
      height: 50px;

      span {
        color: var(--gray-500);
      }

      &.menu-selected,
      &:active,
      &:hover {
        span {
          color: var(--gray-100);
        }
      }
    }

    .bottom-block {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      .build-time {
        color: var(--gray-900);
        &:hover {
          color: grey;
        }
      }

      .profile-menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        // transition is built from height property set in html
        transition: all ease 0.2s;

        .profile-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 70px;
          width: 100%;

          .profile-badge {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: 70px;
          }

          i {
            padding: 1rem;
            color: var(--gray-100);
          }
        }

        .extended-profile-menu {
          width: 100%;
          margin-bottom: 1rem;
        }

        .module {
          width: 100%;
          height: 30px;

          .module-icon {
            height: 100%;
          }

          &.menu-selected {
            background-color: var(--alto-blue-second);
            span {
              color: var(--gray-100);
            }
            .module-icon {
              i {
                color: var(--gray-100);
              }
            }
          }

          i {
            font-size: 1.666rem;
            color: var(--gray-500);
          }

          span {
            color: var(--gray-500);
            font-size: 1rem;
            font-weight: 500;
          }

          .form-check {
            margin: 0;
          }

          .form-switch {
            display: flex;
            justify-content: space-around;
            width: 60px;
            padding: 0;
          }

          .logout {
            color: var(--error-500);
          }
        }
      }
    }

    hr {
      margin: 0 1.5rem;
    }

    .img-badge-menu {
      padding: 1.3333rem 0.8333rem;
    }

    .form-check-input {
      margin: 0.3rem 0.3333rem 0.2083rem 0.6667rem;
    }

    .form-check {
      margin-bottom: 0;
      height: 2.167rem;
    }

    .logout {
      color: var(--error-500);
      i {
        color: var(--error-500);
      }
    }
    .profile {
      display: block;
      margin: 1rem;
      color: #f2f4f7;
    }
  }
}

.sub-module {
  span {
    padding-left: 2rem;
  }
}

.submenu {
  display: flex;
  padding-left: 20px;
}

.submenu-lines {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  position: relative;
}

.line {
  width: 2px;
  height: 33.33%;
  background-color: var(--gray-500);
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: var(--gray-500);
}

.last-line {
  width: 2px;
  height: 17%;
  background-color: var(--gray-500);
  position: relative;
}

.last-line::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 90%;
  width: 10px;
  height: 2px;
  background-color: var(--gray-500);
}

.submenu-items {
  display: flex;
  flex-direction: column;
}

.submenu-item {
  padding-left: 20px; /* Adjust padding to align the text properly */
  position: relative;
}

.submenu-item:hover span {
  color: #fff; /* Adjust to a brighter color */
}

.chevron {
  margin-left: auto;
  margin-right: 1rem;
}
