<div class="logo">
  <a [routerLink]="['/', displayAdmin ? AltoRoutes.lead : AltoRoutes.user, AltoRoutes.leadHome]">
    <img width="20" src="assets/img/favicon.png" alt="Alto Logo" />
  </a>
</div>

<!-- USER -->

<div class="menu">
  <div [hidden]="displayAdmin">
    <div ngbTooltip="{{ I18ns.menu.home }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        data-cy="userMenuHome"
        class="module"
        [routerLink]="AltoRoutes.user + '/' + AltoRoutes.userHome"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-house-door"></i>
      </a>
    </div>
    <div ngbTooltip="{{ I18ns.menu.training }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        data-cy="userMenuTraining"
        class="module"
        [routerLink]="AltoRoutes.user + '/' + AltoRoutes.training"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-check2-square"></i>
      </a>
    </div>

    <!-- Team tab hidden -->

    <!-- <div ngbTooltip="{{ I18ns.menu.team }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        class="module"
        [routerLink]="AltoRoutes.user + '/' + AltoRoutes.userTeams"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-people"></i>
      </a>
    </div> -->
  </div>

  <!-- LEAD -->

  <div [hidden]="!displayAdmin">
    <div ngbTooltip="{{ I18ns.menu.home }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        data-cy="leadMenuHome"
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.leadHome"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-house-door"></i>
      </a>
    </div>
    <div ngbTooltip="{{ I18ns.menu.statistics }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        data-cy="leadMenuStatistics"
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.statistics"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-bar-chart"></i>
      </a>
    </div>
    <div ngbTooltip="{{ I18ns.menu.contribution }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
      data-cy="leadMenuCollaboration"
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.collaboration"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-puzzle"></i>
      </a>
    </div>
    <div ngbTooltip="{{ I18ns.menu.team }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        data-cy="leadMenuTeams"
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.leadTeams"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-people"></i>
      </a>
    </div>
    <!--
    <div ngbTooltip="{{ I18ns.menu.challenges }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        data-cy="leadMenuChallenges"
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.challenges"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-puzzle"></i>
      </a>
    </div> -->
    <div ngbTooltip="{{ I18ns.menu.programs }}" placement="right" tooltipClass="menu-tooltip-class">
      <a
        data-cy="leadMenuPrograms"
        class="module"
        [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.programs"
        routerLinkActive="menu-selected"
      >
        <i class="bi bi-check2-square"></i>
      </a>
    </div>
  </div>

  <div class="bottom-block">
    <div [hidden]="!displayAdmin">
      <div ngbTooltip="{{ I18ns.menu.settings }}" placement="right" tooltipClass="menu-tooltip-class">
        <a
          data-cy="leadMenuSettings"
          class="module"
          [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.settings"
          routerLinkActive="menu-selected"
          tooltipClass="menu-tooltip-class"
        >
          <i class="bi bi-gear"></i>
        </a>
      </div>
    </div>

    <hr />
    <ng-template #popContent>
      <a
        data-cy="profile"
        [routerLink]="
          displayAdmin
            ? AltoRoutes.lead + '/' + AltoRoutes.profile
            : AltoRoutes.user + '/' + AltoRoutes.profile
        "
      >
        <div><i class="bi bi-person"></i>{{ I18ns.menu.profile }}</div>
      </a>
      <div *ngIf="isAdmin" class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="adminSwitch"
          #adminSwitch
          [checked]="displayAdmin"
          (change)="switchToAdmin(adminSwitch.checked)"
        />
        <label class="form-check-label" for="adminSwitch">
          {{ I18ns.menu.adminMode }}
        </label>
      </div>
      <a href="https://airtable.com/appIyNNDxAgaqKMAJ/shr4vWMugZ5uEc5a4" target="_blank">
        <div><i class="bi bi-chat-text"></i>{{ I18ns.menu.feedback }}</div>
      </a>
      <a class="logout" (click)="logOut()">
        <div><i class="bi bi-box-arrow-right"></i>{{ I18ns.menu.disconnect }}</div>
      </a>
    </ng-template>
    <alto-img-badge
      data-cy="profileImgBadge"
      [toggleTooltip]="toggleTooltip"
      class="img-badge-menu"
      type="button"
      placement="right"
      [ngbPopover]="popContent"
      popoverClass="menu-popover"
      placement="right-bottom"
      [user]="userStore.user.value$ | async"
      [size]="40"
    >
    </alto-img-badge>
  </div>
</div>
