:host {
  background-color: #101828;
  height: 100vh;
  position: fixed;
  color: #f2f4f7;
  left: 0;
  width: 5rem;
}
:host ::ng-deep {
  .menu-tooltip-class {
    margin-left: 1rem;
  }
  .menu-popover {
    width: 13.5rem;
    height: 10rem;
    margin-left: 2rem;
    background-color: var(--gray-900);
    font-size: var(--bs-body-font-size);
  }

  .menu-popover .arrow::after {
    border-top-color: var(--gray-900);
  }
}
.logo {
  width: 1.6666rem;
  margin: 1.3333rem 0 2rem 1.6666rem;

  .company-name {
    margin-left: 0.5rem;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.429rem;
  }
}

.menu {
  a.module {
    display: block;
    border-radius: 0.3333rem;
    height: 2.429rem;
    margin: 1.25rem;
    color: var(--gray-100);
    font-weight: 500;
    font-size: 1.143rem;

    i {
      font-size: 1.6667rem;
      padding: 0.3333rem;
      color: var(--alto-grey);
    }

    &.menu-selected,
    &:hover {
      background-color: var(--alto-blue-second);
      i {
        color: var(--gray-100);
      }
    }
  }
  .bottom-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .build-time {
      color: var(--alto-blue);
      &:hover {
        color: grey;
      }
    }
  }

  hr {
    margin: 1.3333rem;
  }

  .imgBadgeMenu {
    padding: 1rem;
  }

  .popoverProfile {
    i {
      color: var(--white);
    }
  }

  .logout {
    color: var(--error-500);
    cursor: pointer;
    i {
      color: var(--error-500);
    }
  }
  .profile {
    display: block;
    margin: 1rem;
    color: #f2f4f7;
  }
}
