:host {
  background-color: #101828;
  height: 100vh;
  position: fixed;
  color: #f2f4f7;
  left: 0;
  width: 5rem;
}
:host ::ng-deep {
  .menu-tooltip-class {
    .tooltip-inner {
      background-color: var(--gray-900);
      margin: 0 0 0 0.3rem;
    }
    .tooltip-arrow {
      margin: 0 0 0 0.3rem;
    }
    .tooltip-arrow::before {
      border-right-color: var(--gray-900);
    }
  }

  .menu-popover {
    width: 14rem;
    height: 10rem;
    margin-left: 2rem;
    background-color: var(--gray-900);
    border: none;
    .popover-arrow::before {
      border: none;
    }
    .popover-arrow:after {
      border-right-color: var(--gray-900);
    }
    .popover-body {
      padding: 0.6667rem;
      font-size: 0.8333rem;
      color: var(--white);
      i {
        font-size: 1rem;
        margin: 0 0.6667rem 0 1rem;
      }
      input {
        width: 1.6667rem;
        height: 0.8333rem;
      }
      a {
        color: var(--white);
      }
      div {
        cursor: pointer;
        padding: 0.3333rem 0.5833rem 0.3333rem 0;
      }
      div:hover {
        background-color: var(--gray-700);
        border-radius: 0.3333rem;
      }
    }
  }

  .popover-arrow ::after {
    border-top-color: var(--gray-900);
  }
}
.logo {
  width: 1.6666rem;
  margin: 1.3333rem 0 2rem 1.6666rem;

  .company-name {
    margin-left: 0.5rem;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.429rem;
  }
}

.menu {
  a.module {
    display: block;
    border-radius: 0.3333rem;
    margin: 1.25rem 1.3333rem;
    color: var(--gray-700);
    font-weight: 500;
    font-size: 1.143rem;

    i {
      font-size: 1.6667rem;
      padding: 0.3333rem;
      color: var(--alto-grey);
    }

    &.menu-selected,
    &:hover {
      background-color: var(--alto-blue-second);
      i {
        color: var(--gray-100);
      }
    }
  }
  .bottom-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .build-time {
      color: var(--alto-blue);
      &:hover {
        color: grey;
      }
    }
  }

  hr {
    margin: 1.3333rem;
  }

  .imgBadgeMenu {
    padding: 0.8333rem;
  }

  .form-check-input {
    margin: 0.3rem 0.3333rem 0.2083rem 0.6667rem;
  }

  .form-check {
    margin-bottom: 0;
  }

  .logout {
    color: var(--error-500);
    i {
      color: var(--error-500);
    }
  }
  .profile {
    display: block;
    margin: 1rem;
    color: #f2f4f7;
  }
}
