<div>
  <div class="logo d-flex align-items-baseline">
    <img height="22" src="assets/img/logo-white.png" alt="Alto Logo" />
    <span class="company-name">Admin</span>
  </div>

  <div class="menu">
    <div>
      <a [routerLink]="'home'" routerLinkActive="menu-selected" class="module">
        <i class="bi bi-house alto-grey"></i> Home
      </a>
      <a
        [routerLink]="'companies'"
        routerLinkActive="menu-selected"
        [routerLinkActiveOptions]="{ exact: true }"
        class="module"
      >
        <i class="bi bi-buildings alto-grey"></i>

        Companies
      </a>
      <a
        *ngIf="user && impersonatedUser"
        [routerLink]="['/', 'admin', 'companies', user.company.id, 'users']"
        routerLinkActive="menu-selected"
        class="module submenu"
      >
        <i class="bi bi-people alto-grey"></i>
        Company's Users
      </a>
      <a [routerLink]="'users'" routerLinkActive="menu-selected" class="module">
        <i class="bi bi-people alto-grey"></i> All users
      </a>
    </div>

    <div class="bottom-block mb-2" *ngIf="user">
      <div class="px-4">
        <a
          *ngIf="impersonatedUser"
          class="btn btn-danger"
          (click)="removeImpersonation()"
          [routerLink]="'/admin/home'"
        >
          remove impersonation
        </a>
      </div>
      <hr />
      <a class="logout" (click)="logOut()">
        <i class="p-3 mx-4 text-white fs-4 bi bi-box-arrow-right"></i>
      </a>
      <a class="profile">
        <alto-profile-card [isWhite]="true" [user]="user"> </alto-profile-card>
      </a>
    </div>
  </div>
</div>
