<div>
  <div class="logo">
    <img height="20" src="assets/img/favicon.png" alt="Alto Logo" />
    <p class="">Admin</p>
  </div>

  <div class="menu">
    <div>
      <div ngbTooltip="Home" placement="right">
        <a [routerLink]="'home'" routerLinkActive="menu-selected" class="module">
          <i class="bi bi-house-door"></i>
        </a>
      </div>
    </div>

    <div class="bottom-block mb-2" *ngIf="user">
      <ng-template #popContent>
        <a [routerLink]="AltoRoutes.lead + '/' + AltoRoutes.profile">
          <div><i class="bi bi-person"></i>{{ I18ns.menu.profile }}</div>
        </a>
        <a
          *ngIf="impersonatedUser"
          class="logout"
          (click)="removeImpersonation()"
          [routerLink]="'/admin/home'"
        >
          <div><i class="bi bi-exclamation-triangle"></i>Remove impersonation</div>
        </a>
        <a class="logout" (click)="logOut()">
          <div><i class="bi bi-box-arrow-right"></i>{{ I18ns.menu.disconnect }}</div>
        </a>
      </ng-template>
      <alto-img-badge
        [toggleTooltip]="toggleTooltip"
        class="img-badge-menu"
        type="button"
        placement="right"
        [ngbPopover]="popContent"
        popoverClass="menu-popover"
        placement="right-bottom"
        [user]="user"
        [size]="40"
      >
      </alto-img-badge>
    </div>
  </div>
</div>
