:host {
  display: block;
  padding: var(--alto-page-padding);
}
.header-panel {
  margin-bottom: 3.333rem;
  .emoji {
    height: 2.667rem;
  }

  h1 {
    vertical-align: middle;
  }
}
@media screen and (max-width: 820px) {
  .header-panel {
    .emoji {
      height: 2rem;
    }
  }
}
