<h1 class="mt-4">{{ I18ns.statistics.title }}</h1>
<p class="mb-4">{{ I18ns.statistics.subtitle }}</p>
<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>{{ I18ns.statistics.globalEngagement.title }}</a>
    <ng-template ngbNavContent>
      <alto-statistics-global-engagement></alto-statistics-global-engagement>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>{{ I18ns.statistics.globalPerformance.navbarTitle }}</a>
    <ng-template ngbNavContent>
      <alto-statistics-global-performance></alto-statistics-global-performance>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>{{ I18ns.statistics.perTeams.title }}</a>
    <ng-template ngbNavContent>
      <alto-statistics-per-teams></alto-statistics-per-teams>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-4"></div>
