<div class="mb-5">
  <h2>
    <img class="emoji" [src]="EmojiName.Locomotive | emoji" height="16" width="16" />
    {{ I18ns.statistics.team.teamActivity.title }}
    <span class="ms-2 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
  </h2>
  <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.team.teamActivity.subtitle }}</p>
</div>
<alto-placeholder-manager [status]="answersChartStatus">
  <div class="panel mb-4">
    <alto-time-picker
      class="float-end"
      [durationControl]="durationControl"
    ></alto-time-picker>
    <h3>{{ I18ns.statistics.team.teamActivity.chartTitle }}</h3>
    <p class="alto-grey mb-4">
      {{ I18ns.statistics.team.teamActivity.chartSubtitle }}
    </p>
    <div class="chart-container">
      <alto-chart-basicline [chartOption]="answersChart"></alto-chart-basicline>
    </div>
  </div>
  <div class="nodata-placeholder text-center" noData>
    <img [src]="EmojiName.SleepingFace | emoji" height="24" width="24" />
    <p class="fw-bold">{{ I18ns.statistics.team.membersEngagement.answersPlaceholder.title }}</p>
    <p class="mt-3">{{ I18ns.statistics.team.membersEngagement.answersPlaceholder.subtitle }}</p>
  </div>
  <div class="skeleton-panel" style="height: 496px" loading></div>
</alto-placeholder-manager>

<alto-placeholder-manager [status]="membersLeaderboardStatus">
  <alto-leaderboard
  *ngIf="membersLeaderboardStatus === EPlaceholderStatus.GOOD"
  [config]="['count', 'progress']"
  [data]="membersLeaderboard"
  [title]="I18ns.statistics.team.teamActivity.leaderboardTitle"
  [subtitle]="I18ns.statistics.team.teamActivity.leaderboardSubtitle">
  </alto-leaderboard>

  <div class="nodata-placeholder text-center" noData>
    <img [src]="EmojiName.Trophy | emoji" height="24" width="24" />
    <p class="fw-bold">{{ I18ns.statistics.team.membersEngagement.leaderboardPlaceholder.title }}</p>
  </div>

  <div class="skeleton-panel" style="height: 332px" loading></div>
</alto-placeholder-manager>

<hr class="my-7" />

<div class="mb-5">
  <h2>
    <img class="emoji" [src]="EmojiName.NerdFace | emoji" height="16" width="16" />
    {{ I18ns.statistics.team.membersEngagement.title }}
    <span class="ms-2 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
  </h2>
  <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.team.membersEngagement.subtitle }}</p>
</div>
<alto-placeholder-manager [status]="contributionChartStatus">
  <div class="panel mb-4">
    <alto-time-picker
      class="float-end"
      [durationControl]="durationControl"
    ></alto-time-picker>
    <h3>{{ I18ns.statistics.team.membersEngagement.chartTitle }}</h3>
    <p class="alto-grey mb-4">
      {{ I18ns.statistics.team.membersEngagement.chartSubtitle }}
    </p>
    <div class="chart-container">
      <alto-chart-basicline [chartOption]="contributionChart"></alto-chart-basicline>
    </div>
  </div>
  <div class="nodata-placeholder text-center" noData>
    <img [src]="EmojiName.BeachWithUmbrella | emoji" height="24" width="24" />
    <p class="fw-bold">{{ I18ns.statistics.team.membersEngagement.contributionPlaceholder.title }}</p>
    <p class="mt-3">{{ I18ns.statistics.team.membersEngagement.contributionPlaceholder.subtitle }}</p>
  </div>
  <div class="skeleton-panel" style="height: 496px" loading></div>
</alto-placeholder-manager>

<hr class="my-7" />

<div class="mb-5">
  <alto-time-picker
  class="float-end"
  [durationControl]="durationControl"
  ></alto-time-picker>
  <div class="col-6">
    <h2>
      <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" height="16" width="16" />
      {{ I18ns.statistics.team.teamMembers.title }}
      <span class="ms-2 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
    </h2>
    <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.team.teamMembers.subtitle }}</p>
  </div>

  <div class="d-flex">
    <alto-input-search [searchControl]="membersTableSearchControl"></alto-input-search>
  </div>
</div>

<alto-placeholder-manager [status]="membersTableStatus">
  <div class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-25">
            {{ I18ns.statistics.team.membersEngagement.table.name }}
          </th>
          <th *ngIf="company.isConnectorActive" scope="col" class="text-center">
            {{ I18ns.statistics.team.membersEngagement.table.answersProgression }}
          </th>
          <th *ngIf="company.isConnectorActive" scope="col" class="text-center">
            {{ I18ns.statistics.team.membersEngagement.table.answers }}
          </th>
          <th *ngIf="company.isConnectorActive" scope="col" class="text-center">
            {{ I18ns.statistics.team.membersEngagement.table.questionsPushed }}
          </th>
          <th scope="col" class="text-center">
            {{ I18ns.statistics.team.membersEngagement.table.submitedQuestions }}
          </th>
          <th scope="col" class="text-center">
            {{ I18ns.statistics.team.membersEngagement.table.comments }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of membersTable"
          [routerLink]="[
            '/',
            AltoRoutes.lead,
            AltoRoutes.statistics,
            AltoRoutes.statUser,
            AltoRoutes.performance,
            user.owner?.id
          ]"
        >
          <td>
            <alto-profile-card [user]="user.owner"></alto-profile-card>
          </td>
          <td *ngIf="company.isConnectorActive" class="text-center">
            <span
              *ngIf="user.questionsPushedCount; else noQuestionProgression"
              class="alto-score"
              [class]="user.answeredQuestionsProgression | pillColor"
              >{{ user.answeredQuestionsProgression + '%' }}</span
            >
            <ng-template #noQuestionProgression>{{
              I18ns.statistics.globalEngagement.teamsTable.columns.noQuestions
            }}</ng-template>
          </td>
          <td *ngIf="company.isConnectorActive">
            <p class="alto-grey text-center" *ngIf="user.answeredQuestionsCount > 0; else noAnswers">
              {{ user.answeredQuestionsCount }}
            </p>
            <ng-template #noAnswers>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.team.membersEngagement.table.noAnswer }}
              </p>
            </ng-template>
          </td>
          <td *ngIf="company.isConnectorActive">
            <p *ngIf="user.questionsPushedCount > 0; else noQuestionsPushed" class="alto-grey text-center">
              {{ user.questionsPushedCount }}
            </p>
            <ng-template #noQuestionsPushed>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalEngagement.teamsTable.columns.noQuestions }}
              </p>
            </ng-template>
          </td>
          <td class="text-center">
            <span *ngIf="user.submittedQuestionsCount > 0; else noSubmitedQuestion">
              {{ user.submittedQuestionsCount }}
              <alto-progression-badge
                class="ms-3 d-inline-block"
                [score]="user.submittedQuestionsProgression"
              ></alto-progression-badge>
            </span>
            <ng-template #noSubmitedQuestion>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.team.membersEngagement.table.noSubmitedQuestion }}
              </p>
            </ng-template>
          </td>
          <td class="text-center">
            <span *ngIf="user.commentsCount > 0; else noComment">
              {{ user.commentsCount }}
              <alto-progression-badge
                class="ms-3 d-inline-block"
                [score]="user.commentsProgression"
              ></alto-progression-badge>
            </span>
            <ng-template #noComment>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.team.membersEngagement.table.noComment }}
              </p>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <alto-pagination
      class="mx-4 d-block"
      [pageControl]="membersTablePageControl"
      [itemsPerPage]="membersTablePageSize"
      [itemsCount]="membersTableItemsCount"
    ></alto-pagination>
  </div>
  <div class="nodata-placeholder text-center" noData>
    <img [src]="EmojiName.Rocket | emoji" height="24" width="24" />
    <p class="fw-bold">{{ I18ns.statistics.team.membersEngagement.tablePlaceholder.title }}</p>
    <p class="mt-3">{{ I18ns.statistics.team.membersEngagement.tablePlaceholder.subtitle }}</p>
  </div>
  <div class="skeleton-panel" style="height: 356px" loading></div>
</alto-placeholder-manager>
