<ng-container [ngSwitch]="status">
  <ng-container *ngSwitchCase="EPlaceholderStatus.NO_RESULT">
    <ng-content select="[noResult]"></ng-content>
  </ng-container>
  <ng-container *ngSwitchCase="EPlaceholderStatus.NO_DATA">
    <ng-content select="[noData]"></ng-content>
  </ng-container>
  <ng-container *ngSwitchCase="EPlaceholderStatus.LOADING">
    <ng-content select="[loading]"></ng-content>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-content></ng-content>
  </ng-container>
</ng-container>
