:host {
  display: block;
  padding: var(--alto-page-padding);
}

.warning-panel {
  background-color: var(--orange-25);
  border-radius: 0.67rem;
  padding: 1.14rem 1.7rem;
}

.success-panel {
  background-color: white;
  border-radius: 0.67rem;
  padding: 1.14rem 1.7rem;
  .icon-bg1 {
    background-color: var(--success-50);
  }
}

.welcome-icon {
  font-size: 3rem;
}

.stats-title {
  font-size: 0.83333rem;
}

// .row {
//   position: relative;
// }
// .ongoing-programs {
//   position: relative;
//   .title {
//     bottom: -2.5rem;
//   }
// }
// .title {
//   position: absolute;
//   bottom: 0;
//   margin: 0;
// }
// .height-100 {
//   min-height: 100px;
// }
// .alto-badge-big {
//   margin: 0.3em 0;
// }

// .chart-container {
//   height: 344px;
// }

// .topflop-label {
//   width: calc(100% - 5rem);
// }
