:host {
  display: block;
  padding: var(--alto-page-padding);
}

.warning-panel,
.success-panel {
  height: 7.333rem;
  border-radius: 0.67rem;
  padding: 1.667rem;
  alto-icon-badge {
    vertical-align: top;
  }
}

.warning-panel {
  background-color: var(--orange-25);
  .title {
    font-weight: 600;
  }
}

.header-panel {
  padding: 20.0004px 0px;
}

.success-panel {
  background-color: white;
  .icon-bg1 {
    background-color: var(--success-50);
  }
  .title {
    font-weight: 600;
  }
}

.welcome-icon {
  font-size: 3rem;
}

.stats-title {
  font-size: 0.83333rem;
  color: var(--gray-500);
}
.stats-content {
  font-weight: 600;
}
.subtitle {
  color: var(--gray-500);
}

.chart-container {
  height: 465px;
}
