<form *ngIf="form" [formGroup]="form">
  <div class="row">
    <div class="col-left">
      <img class="emoji" [src]="EmojiName.PageFacingUp | emoji" width="20" height="20"/>
      <div>
        <label class="form-label required">{{ I18ns.programs.forms.step1.name }}</label>
        <p class="">{{ I18ns.programs.forms.step1.nameSubtitle }}</p>
      </div>
    </div>
    <div class="col-right">
      <input
        data-cy="programName"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="{{ I18ns.programs.forms.step1.namePlaceholder }}"
      />
      <p
        class="text-end mt-2"
        [ngClass]="{
        'text-danger': form.controls.name.errors?.['nameNotAllowed'],
        invisible: !form.controls.name.errors?.['nameNotAllowed']
      }"
      >
        {{ I18ns.programs.forms.step1.duplicateName }}
      </p>
    </div>
  </div>
  <hr *ngIf="!isEdit" />
  <div *ngIf="!isEdit" class="row">
    <div class="col-left">
      <img class="emoji" [src]="EmojiName.Label | emoji" width="20" height="20"/>
      <div>
        <label class="form-label">{{ I18ns.programs.forms.step1.tags }}</label>
        <p>{{ I18ns.programs.forms.step1.tagsSubtitle }}</p>
      </div>
    </div>
    <div class="col-right">
      <ng-select
        data-cy="programTags"
        class="alto-form"
        [items]="tags"
        [multiple]="true"
        bindValue="id"
        bindLabel="name"
        [placeholder]="I18ns.programs.forms.step1.tagsPlaceholder"
        [closeOnSelect]="false"
        formControlName="tags"
      >
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <div class="alto-badge">
            <span>{{ item.name }}</span>
            <span class="cursor-pointer ms-2 align-middle" (click)="clear(item)" aria-hidden="true">
              <i class="bi bi-x-lg"></i>
            </span>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <span class="alto-badge">{{ item.name }}</span>
          <i class="bi bi-check-circle-fill"></i>
        </ng-template>
      </ng-select>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-left">
      <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" width="20" height="20"/>
      <div>
        <label class="form-label">{{ I18ns.programs.forms.step1.teams }}</label>
        <p>{{ I18ns.programs.forms.step1.teamsSubtitle }}</p>
      </div>
    </div>
    <div class="col-right" data-cy="teamsDropdown">
      <ng-select
        class="alto-form"
        [items]="teams"
        [multiple]="true"
        bindLabel="name"
        [placeholder]="I18ns.programs.forms.step1.teamsPlaceholder"
        [closeOnSelect]="false"
        bindValue="id"
        formControlName="teams"
      >
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <div class="alto-badge" [style]="item.id | teamColor">
            <span data-cy="teamBadge">{{ item.name }}</span>
            <span class="cursor-pointer ms-2 align-middle" (click)="clear(item)" aria-hidden="true">
              <i class="bi bi-x-lg"></i>
            </span>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <p class="alto-badge" [style]="item.id | teamColor">{{ item.name }}</p>
          <i class="bi bi-check-circle-fill"></i>
        </ng-template>
      </ng-select>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-left">
      <img class="emoji" [src]="EmojiName.Warning | emoji" width="20" height="20"/>
      <div>
        <label class="form-label required">{{ I18ns.programs.forms.step1.priority }}</label>
        <p>{{ I18ns.programs.forms.step1.prioritySubtitle }}</p>
      </div>
    </div>
    <div class="col-right">
      <ng-select
        data-cy="programPriority"
        class="alto-form"
        [items]="priorities"
        bindLabel="value"
        [placeholder]="I18ns.programs.forms.step1.priorityPlaceholder"
        [selectableGroup]="true"
        [closeOnSelect]="true"
        bindValue="id"
        formControlName="priority"
      >
      </ng-select>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-left">
      <img class="emoji" [src]="EmojiName.SportsMedal | emoji" width="20" height="20"/>

      <div>
        <label class="form-label required">{{ I18ns.programs.forms.step1.expectation }}</label>
        <p>{{ I18ns.programs.forms.step1.expectationSubtitle }}</p>
      </div>
    </div>
    <div class="col-right">
      <!-- <alto-range [control]="form.controls.expectation"></alto-range> -->
    </div>
  </div>
</form>
