<div class="d-flex justify-content-between align-items-center mb-5">
  <div class="col-6">
    <h2>
      <img class="emoji" [src]="EmojiName.FlexedBiceps | emoji" height="16" width="16" />
      {{ I18ns.statistics.team.masteryLevel.title }}
      <span class="ms-2 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
    </h2>
    <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.team.masteryLevel.subtitle }}</p>
  </div>

  <div class="d-flex align-items-center">
    <alto-time-picker [options]="durationOptions" [durationControl]="durationControl"></alto-time-picker>
  </div>
</div>

<div class="panel mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h3>{{ I18ns.statistics.team.masteryLevel.chartTitle }}</h3>
      <p class="alto-grey mb-4">
        {{ I18ns.statistics.team.masteryLevel.chartSubtitle }}
      </p>
    </div>

    <alto-input-multiple-select
      class="me-4"
      [placeholder]="I18ns.statistics.team.masteryLevel.teamFilter"
      [controls]="membersFilterControl"
      [options]="membersOptions"
      [enableSearch]="true"
    >
    </alto-input-multiple-select>
  </div>

  <alto-placeholder-manager [status]="teamChartStatus">
    <div class="chart-container">
      <alto-chart-basicline [chartOption]="teamChartOption"></alto-chart-basicline>
    </div>

    <div class="nodata-placeholder" noData>
      <h3 class="mb-5 fs-6">
        {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.title }}
      </h3>
      <div class="text-center">
        <img [src]="EmojiName.FlexedBiceps | emoji" height="24" width="24" />
        <p class="mt-3">
          {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.placeholderTitle }}
        </p>
        <span class="d-inline-block mt-3">
          {{ I18ns.statistics.globalPerformance.perTeamPerformance.scoreEvolution.placeholderSubtitle }}
        </span>
      </div>
    </div>

    <div class="skeleton-panel mb-5" style="height: 497px" loading></div>
  </alto-placeholder-manager>
</div>

<alto-placeholder-manager [status]="membersLeaderboardStatus">
  <alto-leaderboard
    *ngIf="membersLeaderboardStatus === EPlaceholderStatus.GOOD"
    [config]="['score']"
    [title]="I18ns.statistics.team.masteryLevel.leaderboard"
    [subtitle]="I18ns.statistics.team.masteryLevel.leaderboardSubtitle"
    [data]="membersLeaderboard"
    [size]="3"
  >
  </alto-leaderboard>
  <div class="nodata-placeholder" noData>
    <h2 class="mb-5 fs-6">{{ I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.title }}</h2>
    <div class="text-center">
      <img [src]="EmojiName.Rocket | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalPerformance.perTeamPerformance.leaderboard.placeholder }}</p>
    </div>
  </div>
  <div class="skeleton-panel mb-5" style="height: 333px" loading></div>
</alto-placeholder-manager>

<hr class="my-7" />

<div class="mb-5">
  <div class="col-6">
    <h2>
      <img class="emoji" [src]="EmojiName.Label | emoji" height="16" width="16" />
      {{ I18ns.statistics.team.perThemes.title }}
      <span class="ms-2 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
    </h2>
    <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.team.perThemes.subtitle }}</p>
  </div>
</div>

<div class="panel mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h3>{{ I18ns.statistics.team.perThemes.chartTitle }}</h3>
      <p class="alto-grey mb-4">
        {{ I18ns.statistics.team.perThemes.chartSubtitle }}
      </p>
    </div>

    <alto-input-multiple-select
      class="me-4"
      [placeholder]="I18ns.statistics.team.perThemes.tagFilter"
      [controls]="tagsControl"
      [options]="tagsOptions"
      [enableSearch]="true"
    >
    </alto-input-multiple-select>
  </div>

  <alto-placeholder-manager [status]="spiderChartDataStatus">
    <div class="chart-container">
      <alto-chart-radar [chartOption]="spiderChartOptions"></alto-chart-radar>
    </div>

    <div
      class="d-flex justify-content-center align-items-center nodata-placeholder"
      style="height: 400px"
      noData
    >
      <ng-container *ngIf="tagsOptions.length < 3; else selectSpiderTags">
        <div class="text-center">
          <img [src]="EmojiName.FourOclock | emoji" height="24" width="24" />
          <p class="mt-3">
            {{
              I18ns.statistics.globalPerformance.perThemePerformance.spiderChart.placeholders.notEnoughTags
            }}
          </p>
        </div>
      </ng-container>

      <ng-template #selectSpiderTags>
        <div class="text-center">
          <img [src]="EmojiName.FaceWithMonocle | emoji" height="24" width="24" />
          <p class="mt-3">
            {{
              tagsControl.value.length < 3
                ? I18ns.statistics.globalPerformance.perThemePerformance.spiderChart.placeholders
                    .lessThan3Tags
                : I18ns.statistics.globalPerformance.perThemePerformance.spiderChart.placeholders
                    .moreThan6Tags
            }}
          </p>
        </div>
      </ng-template>
    </div>

    <div
      class="d-flex justify-content-center align-items-center nodata-placeholder"
      style="height: 400px"
      noResult
    >
      <div class="text-center">
        <img [src]="EmojiName.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
        <p class="mt-3">
          {{ I18ns.statistics.globalPerformance.perThemePerformance.spiderChart.placeholders.noData }}
        </p>
      </div>
    </div>

    <div class="skeleton-panel mb-5" style="height: 500px" loading></div>
  </alto-placeholder-manager>
</div>

<alto-placeholder-manager [status]="tagsDataStatus">
  <alto-leaderboard
    *ngIf="tagsDataStatus === EPlaceholderStatus.GOOD"
    [config]="['score']"
    [title]="I18ns.statistics.team.perThemes.leaderboardTitle"
    [subtitle]="I18ns.statistics.team.perThemes.leaderboardSubtitle"
    [data]="tagsLeaderboard"
    [size]="3"
  >
  </alto-leaderboard>

  <div class="nodata-placeholder" noData>
    <h2 class="mb-5 fs-6">{{ I18ns.statistics.globalPerformance.perThemePerformance.control.title }}</h2>
    <div class="text-center">
      <img [src]="EmojiName.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalPerformance.perThemePerformance.control.placeholder }}</p>
    </div>
  </div>

  <div class="skeleton-panel mb-5" style="height: 334px" loading></div>
</alto-placeholder-manager>

<hr class="my-7" />

<div class="mb-5">
  <alto-time-picker
    class="float-end"
    [options]="durationOptions"
    [durationControl]="durationControl"
  ></alto-time-picker>
  <div class="col-6">
    <h2>
      <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" height="16" width="16" />
      {{ I18ns.statistics.team.members.title }}
      <span class="ms-2 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
    </h2>
    <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.team.members.subtitle }}</p>
  </div>
  <div class="d-flex">
    <alto-input-search class="me-auto" [searchControl]="membersSearchControl"></alto-input-search>
  </div>
</div>
<alto-placeholder-manager [status]="membersTableDataStatus">
  <div *ngIf="membersTableDataStatus === 'good'" class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ I18ns.statistics.team.members.table.name }}</th>
          <th scope="col" class="text-center">{{ I18ns.statistics.team.members.table.globalScore }}</th>
          <th scope="col" class="text-center">
            {{ I18ns.statistics.team.members.table.scoreEvolution }}
          </th>
          <th scope="col">{{ I18ns.statistics.team.members.table.lessMasteredTags }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let memberInfos of membersInfos"
          [routerLink]="[
            '/',
            AltoRoutes.lead,
            AltoRoutes.statistics,
            AltoRoutes.statUser,
            AltoRoutes.performance,
            memberInfos.user.id
          ]"
        >
          <td class="px-4">
            <alto-profile-card [user]="memberInfos.user"></alto-profile-card>
          </td>
          <td class="text-center">
            <span
              *ngIf="memberInfos.userStats.score !== undefined; else noScore"
              class="alto-score"
              [class]="memberInfos.userStats.score * 100 | pillColor"
            >
              {{ memberInfos.userStats.score | percent }}
            </span>
            <ng-template #noScore
              ><p class="alto-grey text-center">{{ I18ns.shared.noScore }}</p></ng-template
            >
          </td>
          <td class="text-center">
            <alto-progression-badge
              *ngIf="memberInfos.progression !== undefined; else noEvolution"
              [score]="memberInfos.progression"
            ></alto-progression-badge>
            <ng-template #noEvolution>
              <p class="alto-grey text-center">{{ I18ns.shared.noEvolution }}</p></ng-template
            >
          </td>
          <td>
            <alto-colored-pill-list
              *ngIf="memberInfos.userStats.tags; else noTag"
              color="primary"
              [textLimit]="15"
              [data]="memberInfos.userStats.tags | sort : 'asc' : 'score' | slice : 0 : 3"
            ></alto-colored-pill-list>
            <ng-template #noTag>
              <p class="alto-grey">{{ I18ns.shared.noTag }}</p>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <alto-pagination
      class="mx-4 d-block"
      [pageControl]="membersPageControl"
      [itemsPerPage]="membersTablePageSize"
      [itemsCount]="membersTotalItems"
    ></alto-pagination>
  </div>
  <div class="col nodata-placeholder d-flex justify-content-center align-items-center" noData>
    <div class="text-center">
      <img [src]="EmojiName.Eyes | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalPerformance.teamsTable.placeholder }}</p>
    </div>
  </div>
  <div class="skeleton-panel" style="height: 377px" loading></div>
</alto-placeholder-manager>

<hr class="my-7" />

<div class="mb-5">
  <alto-time-picker
    class="float-end"
    [options]="durationOptions"
    [durationControl]="durationControl"
  ></alto-time-picker>
  <div class="col-6">
    <h2>
      <img class="emoji" [src]="EmojiName.RedQuestionMark | emoji" height="16" width="16" />
      {{ I18ns.statistics.team.questions.title }}
      <span class="ms-2 alto-badge" [style]="team.id | teamColor">{{ team.name }}</span>
    </h2>
    <p class="mb-4 alto-grey fs-4">{{ I18ns.statistics.team.questions.subtitle }}</p>
  </div>
  <div class="d-flex justify-content-between">
    <alto-input-search [searchControl]="questionsSearchControl"></alto-input-search>
    <alto-input-single-select-pill
      [placeholder]="I18ns.shared.level"
      [control]="questionsScoreControl"
      [options]="scoreOptions"
    >
    </alto-input-single-select-pill>
  </div>
</div>

<alto-placeholder-manager [status]="questionsTableDataStatus">
  <div class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-20">{{ I18ns.statistics.team.questions.table.title }}</th>
          <th scope="col" class="w-10 text-center">
            {{ I18ns.statistics.team.questions.table.globalScore }}
          </th>
          <th scope="col" class="w-15 text-center">
            {{ I18ns.statistics.team.questions.table.scoreEvolution }}
          </th>
          <th scope="col" class="w-10 text-center">
            {{ I18ns.statistics.team.questions.table.usersNumber }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionInfos of questionsInfos">
          <td>
            <p class="alto-grey">{{ questionInfos.question.title }}</p>
          </td>
          <td class="text-center">
            <span
              *ngIf="questionInfos.questionStats.score !== undefined; else noScore"
              class="alto-score"
              [class]="questionInfos.questionStats.score * 100 | pillColor"
            >
              {{ questionInfos.questionStats.score | percent }}
            </span>
            <ng-template #noScore
              ><p class="alto-grey text-center">{{ I18ns.shared.noScore }}</p></ng-template
            >
          </td>
          <td class="text-center">
            <alto-progression-badge
              *ngIf="questionInfos.progression !== undefined; else noEvolution"
              [score]="questionInfos.progression"
            ></alto-progression-badge>
            <ng-template #noEvolution>
              <p class="alto-grey text-center">{{ I18ns.shared.noEvolution }}</p></ng-template
            >
          </td>
          <td class="text-center">
            <p *ngIf="questionInfos.questionStats.usersCount > 0; else noMember">
              {{ questionInfos.questionStats.usersCount }}
            </p>
            <ng-template #noMember>
              {{ I18ns.statistics.team.questions.table.noMember }}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <alto-pagination
      class="mx-4 d-block"
      [pageControl]="questionsPageControl"
      [itemsPerPage]="questionsTablePageSize"
      [itemsCount]="questionsTotalItems"
    ></alto-pagination>
  </div>
  <div class="nodata-placeholder text-center" noResult>
    <img [src]="EmojiName.MagnifyingGlassTiltedLeft | emoji" height="24" width="24" />
    <p class="mt-3">{{ I18ns.shared.noData }}</p>
    <span class="mt-3 d-block">{{ I18ns.shared.noDataSubtitle }}</span>
    <button class="btn btn-primary mt-4" (click)="resetQuestionsFilters()">
      <i class="bi bi-arrow-clockwise"></i>
      {{ I18ns.shared.resetFilters }}
    </button>
  </div>
  <div class="col nodata-placeholder d-flex justify-content-center align-items-center" noData>
    <div class="text-center">
      <img [src]="EmojiName.Collision | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalPerformance.questionsTable.placeholder }}</p>
    </div>
  </div>
  <div class="skeleton-panel mt-5" style="height: 377px" loading></div>
</alto-placeholder-manager>
