hr {
  margin: 1.714rem 0;
}
.chart-container {
  height: 400px;
}

.alto-badge {
  font-size: 1.1667rem;
}

tbody tr {
  height: 4.6667rem;
  font-size: 0.833rem;
}

alto-search {
  width: 30.3334rem;
}
