<div class="table-panel">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="w-10">
          {{
            type === 'team' ? I18ns.statistics.perTeams.table.team : I18ns.statistics.perTeams.table.member
          }}
        </th>
        <th scope="col" class="w-5 text-center">{{ I18ns.statistics.perTeams.table.globalScore }}</th>
        <th scope="col" class="w-5 text-center">{{ I18ns.statistics.perTeams.table.answeredQuestions }}</th>
        <th scope="col" class="w-5 text-center">{{ I18ns.statistics.perTeams.table.comments }}</th>
        <th scope="col" class="w-5 text-center">{{ I18ns.statistics.perTeams.table.suggestedQuestions }}</th>
        <th scope="col" class="w-15">{{ I18ns.statistics.perTeams.table.leastMasteredTags }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayedData" class="align-middle">
        <td>
          <span *ngIf="type === 'team'" class="alto-badge" [style]="item.team?.id | teamColor">
            {{ item.team?.name }}
          </span>
          <alto-profile-card *ngIf="type === 'user'" [user]="item.owner"></alto-profile-card>
        </td>
        <td class="text-center">
          <span class="alto-score" [class]="item.globalScore | pillColor"
            >{{ item.globalScore | percent }}
          </span>
        </td>
        <td class="alto-grey text-center">
          {{ item.answeredQuestionsCount }}
          <alto-progression-badge
            class="ms-3 d-inline-block"
            [score]="item.answeredQuestionsProgression / 100"
          ></alto-progression-badge>
        </td>
        <td class="alto-grey text-center">
          {{ item.commentsCount }}
          <alto-progression-badge
            class="ms-3 d-inline-block"
            [score]="item.commentsProgression / 100"
          ></alto-progression-badge>
        </td>
        <td class="alto-grey text-center">
          {{ item.submittedQuestionsCount }}
          <alto-progression-badge
            class="ms-3 d-inline-block"
            [score]="item.submittedQuestionsProgression / 100"
          ></alto-progression-badge>
        </td>
        <td>
          <alto-colored-pill-list
            [textLimit]="15"
            [data]="item.leastMasteredTags | slice : 0 : 3"
          ></alto-colored-pill-list>
        </td>
      </tr>
    </tbody>
  </table>
  <alto-pagination
    class="mx-4 d-block"
    [collectionSize]="data.length"
    [pageSize]="pageSize"
    [page]="page"
    (pageChange)="paginate($event)"
  ></alto-pagination>
</div>
