<div class="header-panel mb-8">
  <img [src]="EmojiName.Gear | emoji" height="32" width="32" />
  <h1>{{ I18ns.profile.profile.title }}</h1>
</div>

<form [formGroup]="userForm">
  <div class="row py-4name">
    <h3 class="col-4 required">
      <img class="me-3" [src]="EmojiName.PageFacingUp | emoji" width="20" height="20" />
      {{ I18ns.profile.profile.name }}
    </h3>
    <div class="col">
      <input
        type="text"
        formControlName="lastname"
        class="form-control"
        placeholder="{{ I18ns.profile.profile.name }}"
        data-cy="lastname"
      />
    </div>
  </div>
  <hr />

  <div class="row py-4name">
    <h3 class="col-4 required">
      <img class="me-3" [src]="EmojiName.PageFacingUp | emoji" width="20" height="20" />
      {{ I18ns.profile.profile.firstName }}
    </h3>
    <div class="col">
      <input
        type="text"
        formControlName="firstname"
        class="form-control me-4"
        placeholder="{{ I18ns.profile.profile.firstName }}"
        data-cy="firstname"
      />
    </div>
  </div>
  <hr />

  <div class="row py-4name">
    <h3 class="col-4">
      <img class="me-3" [src]="EmojiName.LoveLetter | emoji" width="20" height="20" />{{
        I18ns.profile.profile.email
      }}
    </h3>
    <div class="col-7 form-group">
      <input type="email" disabled class="form-control" [value]="this.user.email" readonly />
    </div>
  </div>
  <hr />

  <div class="row py-4name">
    <h3 class="col-4">
      <img class="me-3" [src]="EmojiName.OfficeBuilding | emoji" width="20" height="20" />{{
        I18ns.profile.profile.company
      }}
    </h3>
    <div class="col-7 form-group">
      <input type="text" class="form-control" [value]="company.name" disabled readonly />
    </div>
  </div>
  <hr />

  <div class="row py-4name">
    <h3 class="col-4">
      <img class="me-3" [src]="EmojiName.BustsInSilhouette | emoji" width="20" height="20" />{{
        I18ns.profile.profile.team
      }}
    </h3>
    <div class="col-7 form-group">
      <input type="text" class="form-control" [value]="userTeam.name" disabled readonly />
    </div>
  </div>
  <hr />

  <div class="row py-4name">
    <h3 class="col-4">
      <img class="me-3" [src]="EmojiName.Label | emoji" width="20" height="20" />{{
        I18ns.profile.profile.roles
      }}
    </h3>
    <div class="col-7 form-group">
      <div class="form-control roles-input d-flex align-items-center" disabled readonly>
        <span class="alto-badge" [style]="user.roles[0] | teamColor">
          {{
            user.roles[0] === 'company-user'
              ? I18ns.profile.profile.altoRoles.companyUser
              : I18ns.profile.profile.altoRoles.companyAdmin
          }}
        </span>
      </div>
    </div>
  </div>
  <hr />
</form>
<div>
  <a class="cancel-btn" *ngIf="userForm.touched" (click)="reset()">
    {{ I18ns.shared.cancel }}
  </a>
  <button type="button" class="btn btn-primary float-end" (click)="save()" data-cy="save-button">
    <i class="bi bi-check-lg"></i><span>{{ I18ns.shared.save }}</span>
  </button>
</div>
