<div class="header-panel d-flex mb-4">
  <img class="emoji me-4" [src]="EmojiName.Gear | emoji" />

  <h1 class="m-0 d-inline-block">{{ I18ns.profile.profile.title }}</h1>
</div>

<form [formGroup]="userForm">
  <div class="row py-4 border-bottom">
    <h3 class="col-4 mb-2">{{ I18ns.profile.profile.name }}</h3>
    <div class="col">
      <input
        type="text"
        formControlName="lastname"
        class="form-control"
        placeholder="{{ I18ns.profile.profile.name }}"
        data-cy="lastname"
      />
    </div>
  </div>

  <div class="row py-4 border-bottom">
    <h3 class="col-4 mb-2">{{ I18ns.profile.profile.firstName }}</h3>
    <div class="col">
      <input
        type="text"
        formControlName="firstname"
        class="form-control me-4"
        placeholder="{{ I18ns.profile.profile.firstName }}"
        data-cy="firstname"
      />
    </div>
  </div>

  <div class="row py-4 border-bottom" *ngIf="false">
    <h3 class="col-4 mb-2">{{ I18ns.profile.profile.profilePicture }}</h3>
    <div class="col row">
      <span class="col-1 me-4 badge badge-circle bg-primary rounded-pill align-middle">AB</span>
      <div class="col input-group mb-3">
        <input type="file" class="form-control" placeholder="{{ I18ns.profile.profile.email }}" />
      </div>
    </div>
  </div>
  <div class="row py-4 border-bottom">
    <h3 class="col-4 mb-2">{{ I18ns.profile.profile.email }}</h3>
    <div class="col-7 form-group">
      <input type="email" disabled class="form-control" [value]="this.user.email" readonly />
    </div>
  </div>
  <div class="row py-4 border-bottom">
    <h3 class="col-4 mb-2">{{ I18ns.profile.profile.company }}</h3>
    <div class="col-7 form-group">
      <input type="text" class="form-control" [value]="user.company.name" disabled readonly />
    </div>
  </div>
  <div class="row py-4 border-bottom">
    <h3 class="col-4 mb-2">{{ I18ns.profile.profile.team }}</h3>
    <div class="col-7 form-group">
      <input type="text" class="form-control" [value]="user.team?.longName" disabled readonly />
    </div>
  </div>
  <div class="row py-4 border-bottom">
    <h3 class="col-4 mb-2">{{ I18ns.profile.profile.roles }}</h3>
    <div class="col-7 form-group">
      <input type="text" class="form-control" [value]="user.roles.join(' | ')" disabled readonly />
    </div>
  </div>
</form>
<button type="button" class="btn btn-primary float-end" (click)="save()" data-cy="save-button">
  {{ I18ns.shared.save }}
</button>
