:host {
  display: block;
}
.questions-panel {
  padding: 0;
  & > div {
    padding: 1.333rem 2rem;
    margin: 0;
  }
  .row:not(:first-child) {
    border-top: 1px solid var(--gray-200);
  }
  .form-switch {
    margin: 0;
  }
}
