:host {
  display: block;
  position: relative;
}

.panel {
  height: 16rem;
  position: relative;
  &:hover {
    border-color: #84caff;
  }
}
.form-switch {
  position: absolute;
  right: 1.714rem;
  top: 1.429rem;
}
.title {
  font-weight: 600;
  padding-bottom: 1rem;
  font-style: normal;
  line-height: 1.66667rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 86%;
}

.span-text {
  font-size: 0.83333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33333rem;
  color: var(--gray-500);
}

hr {
  border-color: var(--bs-gray-500);
}
h2 {
  max-height: 2.6rem;
  margin-bottom: 0.3rem;
}
.description-box {
  height: 2.6rem;
}

.score {
  padding-bottom: 1rem;
  span {
    font-size: 0.83333rem;
    font-style: normal;
    font-weight: 600;
  }
  .badge {
    font-size: 0.857rem;
  }
  i {
    font-size: 0.85rem;
    color: var(--bs-gray-400);
  }
}

.emoji {
  height: 1rem;
  margin-right: 0.33rem;
}
.teams {
  color: var(--blue-gray-600);
  background-color: var(--blue-gray-50);
}
