:host {
  display: block;
  position: relative;
}

.panel {
  height: 16rem;
  position: relative;
  &:hover {
    border-color: #84caff;
  }
}
.form-switch {
  position: absolute;
  right: 1.714rem;
  top: 1.429rem;
}
.title {
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 86%;
}

hr {
  border-color: var(--bs-gray-500);
}
h2 {
  max-height: 2.6rem;
  margin-bottom: 0.3rem;
}
.description-box {
  height: 2.6rem;
}
alto-colored-pill-list {
  display: block;
  min-height: 1.8rem;
}
.score {
  padding-bottom: 1rem;
  span {
    font-weight: 500;
  }
  .badge {
    font-size: 0.857rem;
  }
  i {
    font-size: 0.85rem;
    color: var(--bs-gray-400);
  }
}
