<ng-container *ngIf="program">
  <div class="form-check form-switch" style="z-index: 100" [ngClass]="{ invisible: !displayToggle }">
    <input
      #activate
      type="checkbox"
      class="form-check-input"
      [checked]="program.isActive"
      (click)="changeIsActive(program.id, activate.checked)"
    />
  </div>
  <div
    [attr.data-cy]="'program' + program.name"
    class="panel cursor-pointer"
    [routerLink]="['/', AltoRoutes.lead, AltoRoutes.programs, AltoRoutes.programsEdit, program.id]"
  >
    <p class="title" [ngClass]="{ 'w-100': !displayToggle }">{{ program.name }}</p>
    <ng-container *ngIf="program.teams.length > 0; else elseTeams">
      <p class="d-inline-block me-3">
        <img class="pe-2 mb-2" [src]="Emoji.BustsInSilhouette | emoji" height="16" />
        {{ (I18ns.shared.teams | titlecase) + ': ' }}
      </p>
      <span class="alto-badge teams">{{
        program.teams.length + '/' + teamsCount + ' ' + I18ns.shared.teams
      }}</span>
    </ng-container>
    <ng-template #elseTeams>
      <div class="alto-badge">{{ I18ns.shared.noTeam }}</div>
    </ng-template>
    <hr />
    <p class="score">
      <span>
        <img class="pe-1 mb-2" [src]="Emoji.PlayButton | emoji" height="14" />
        {{ I18ns.programs.programs.involvement }}
      </span>
      <span class="float-end alto-score" [class]="(participation ? participation * 100 : '') | pillColor">{{
        participation ? (participation | percent) : '-'
      }}</span>
    </p>
    <p class="score">
      <span>
        <img class="pe-1 mb-2" [src]="Emoji.RollerCoaster | emoji" height="14" />
        {{ I18ns.programs.programs.progress }}
      </span>
      <span class="float-end alto-score" [class]="(progress ? progress * 100 : '') | pillColor">
        {{ progress ? (progress | percent) : '-' }}
      </span>
    </p>
    <p class="score">
      <span>
        <img class="pe-1 mb-2" [src]="Emoji.SportsMedal | emoji" height="14" />
        {{ I18ns.programs.programs.score }}
      </span>
      <span class="float-end alto-score" [class]="(score ? score * 100 : '') | pillColor">
        {{ score ? (score | percent) : '-' }}
      </span>
    </p>
    <p class="score">
      <span>
        <img class="pe-1 mb-2" [src]="Emoji.CheckMarkButton | emoji" height="14" />
        {{ I18ns.programs.programs.membersHaveValidated }}
      </span>
      <span
        class="float-end alto-score"
        [class]="(membersHaveValidatedPercentage ? membersHaveValidatedPercentage * 100 : '') | pillColor"
      >
        {{ membersHaveValidatedCount }}
      </span>
    </p>
  </div>
  <div class="panel inactive" *ngIf="!program.isActive"></div>
</ng-container>
