<div class="row mb-4">
  <div class="col-4">
    <alto-input-search
    [searchControl]="searchControl"
    placeholder="{{ I18ns.shared.search }}"
    ></alto-input-search>
  </div>
  <div class="col-8 text-end">
    <!-- <alto-dropdown-filter
      class="text-start"
      [data]="getTeamsDropdown(teamsDisplay.length)"
      [displayLabel]="'longName'"
      [returnValue]="'id'"
      [placeholder]="I18ns.programs.programs.filters.team"
      [isColored]="true"
      (selectChange)="getTeamsFiltered({ teams: $event })"
      class="me-3"
    ></alto-dropdown-filter> -->
    <alto-dropdown-filter
      class="me-3 text-start"
      [data]="company.programs"
      [displayLabel]="'name'"
      [returnValue]="'id'"
      [placeholder]="I18ns.programs.questions.filters.programs"
      (selectChange)="getTeamsFiltered({ programs: $event })"
    ></alto-dropdown-filter>
    <alto-dropdown-filter
      class="text-start"
      [data]="tags"
      [returnValue]="'id'"
      [displayLabel]="'name'"
      [placeholder]="I18ns.programs.questions.filters.tags"
      (selectChange)="getTeamsFiltered({ tags: $event })"
    ></alto-dropdown-filter>
  </div>
</div>

<alto-placeholder-manager [status]="teamsDataStatus">
  <div class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-20">{{ I18ns.statistics.globalPerformance.teamsTable.columns.team }}</th>
          <th scope="col" class="w-10 text-center">
            {{ I18ns.statistics.globalPerformance.teamsTable.columns.globalScore }}
          </th>
          <th scope="col" class="w-15 text-center">
            {{ I18ns.statistics.globalPerformance.teamsTable.columns.scoreEvolution }}
          </th>
          <th scope="col" class="w-30">
            {{ I18ns.statistics.globalPerformance.teamsTable.columns.lessMasteredTags }}
          </th>
          <th scope="col" class="w-35">
            {{ I18ns.statistics.globalPerformance.teamsTable.columns.lessMasteredPrograms }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let teamStats of paginatedTeamsStats"
          class="align-middle"
          [routerLink]="[
            '/',
            AltoRoutes.lead,
            AltoRoutes.statistics,
            AltoRoutes.statTeam,
            AltoRoutes.performance,
            teamStats.teamId
          ]"
        >
          <td>
            <span class="alto-badge" [style]="teamStats.teamId | teamColor">{{ company.teamById.get(teamStats.teamId)?.name }}</span>
          </td>
          <td class="text-center">
            <ng-container *ngIf="teamStats.score; else elseTemplate">
              <span class="alto-score" [class]="(teamStats.score || 0) * 100 | pillColor">{{
                teamStats.score | percent
              }}</span>
            </ng-container>
            <ng-template #elseTemplate>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalPerformance.teamsTable.columns.noScore }}
              </p>
            </ng-template>
          </td>
          <td class="text-center">
            <alto-progression-badge
              class="d-inline-block"
              [score]="getTeamPreviousScore(teamStats)"
              *ngIf="!scoreIsLoading && getTeamPreviousScore(teamStats) !== 0; else noEvolution"
            ></alto-progression-badge>
            <ng-template #noEvolution>
              <p class="alto-grey text-center">
                {{ I18ns.statistics.globalPerformance.teamsTable.columns.noScoreEvolution }}
              </p>
            </ng-template>
          </td>
          <td>
            <!-- <ng-template #tagsTooltip>
                <ng-container *ngFor="let tag of team.tags">{{ tag.label }}<br /></ng-container>
              </ng-template>-->
            <ng-container *ngIf="teamStats.tagStats && teamStats.tagStats.length > 0; else noTag">
              <alto-colored-pill-list
                [textLimit]="15"
                color="primary"
                [data]="teamStats.tagStats | sort : 'asc' : 'score' | slice : 0 : 3"
              ></alto-colored-pill-list>
            </ng-container>
            <ng-template #noTag>
              <p class="alto-grey text-start">
                {{ I18ns.statistics.globalPerformance.teamsTable.columns.noTags }}
              </p>
            </ng-template>
          </td>
          <td>
            <!-- <ng-template #programsTooltip>
                <ng-container *ngFor="let prog of team.programs">{{ prog.label }}<br /></ng-container>
              </ng-template>-->

            <ng-container *ngIf="teamStats.programStats && teamStats.programStats.length > 0; else noProgram">
              <alto-colored-pill-list
                [textLimit]="15"
                [data]="getLowestScorePrograms(teamStats.teamId) | slice : 0 : 3"
              ></alto-colored-pill-list>
            </ng-container>
            <ng-template #noProgram>
              <p class="alto-grey text-start">
                {{ I18ns.statistics.globalPerformance.teamsTable.columns.noPrograms }}
              </p>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <alto-pagination
      class="mx-4 d-block"
      [pageControl]="teamsPageControl"
      [itemsCount]="teamsDisplay.length"
      [itemsPerPage]="teamsPageSize"
    ></alto-pagination>
  </div>

  <div class="col nodata-placeholder d-flex justify-content-center align-items-center" noData>
    <div class="text-center">
      <img [src]="Emoji.Eyes | emoji" height="24" width="24" />
      <p class="mt-3">{{ I18ns.statistics.globalPerformance.teamsTable.placeholder }}</p>
    </div>
  </div>
  <div class="skeleton-panel mt-5" style="height: 266px" loading></div>
</alto-placeholder-manager>
