<div class="text-end px-4 mt-3">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss()"></button>
</div>
<div class="row m-5 g-0">
  <div class="col-2" style="width: 2.857rem">
    <i class="alto-badge-big alto-badge-blue me-4 bi bi-people"></i>
  </div>
  <div class="col ms-4">
    <h2>
      {{ isEdit ? I18ns.leadTeam.teams.form.title.edit : I18ns.leadTeam.teams.form.title.create }}
    </h2>
    <p class="alto-grey">{{ I18ns.leadTeam.teams.form.subtitle }}</p>
  </div>
</div>

<hr class="mb-0" />

<div class="p-6 sidebar-body">
  <form *ngIf="teamForm" [formGroup]="teamForm">
    <label class="mt-4 form-label required">{{ I18ns.leadTeam.teams.form.longName }}</label>
    <input
      type="text"
      class="form-control"
      formControlName="longName"
      placeholder="{{ I18ns.leadTeam.teams.form.longNamePlaceholder }}"
    />
    <p class="alto-grey mt-2">{{ I18ns.leadTeam.teams.form.longNameExemple }}</p>

    <label class="mt-4 form-label required">{{ I18ns.leadTeam.teams.form.shortName }}</label>
    <input
      type="text"
      class="form-control"
      formControlName="shortName"
      placeholder="{{ I18ns.leadTeam.teams.form.shortNamePlaceholder }}"
    />
    <p class="alto-grey mt-2">{{ I18ns.leadTeam.teams.form.shortNameExemple }}</p>

    <!-- <label class="mt-4 form-label">{{ I18ns.leadTeam.teams.form.invitationEmails }}</label>
    <ng-select class="alto-form"
      [items]="users"
      [multiple]="true"
      [placeholder]="I18ns.leadTeam.teams.form.invitationEmailsPlaceholder"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      [bindLabel]="'email'"
      formControlName="invitationEmails"
    >
    </ng-select>
    <p>{{ I18ns.leadTeam.teams.form.invitationEmailsSubtitle }}</p> -->

    <label class="mt-4 form-label"
      >{{ I18ns.leadTeam.teams.form.Programs }} {{ I18ns.shared.optional }}</label
    >
    <ng-select
      class="alto-form"
      [items]="programs"
      [multiple]="true"
      bindLabel="name"
      [placeholder]="I18ns.leadTeam.teams.form.programsPlaceholder"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      formControlName="programs"
    >
    </ng-select>

    <p class="alto-grey mt-2">{{ I18ns.leadTeam.teams.form.ProgramsSubtitle }}</p>
  </form>
</div>
<div class="footer">
  <hr class="m-0" />
  <div class="button-container">
    <button
      type="button"
      class="btn btn-outline-secondary"
      aria-label="Close"
      (click)="activeOffcanvas.dismiss()"
    >
      {{ I18ns.shared.cancel }}
    </button>
    <input
      type="submit"
      class="btn btn-primary float-end"
      [disabled]="!teamForm.valid"
      [value]="I18ns.shared.save"
      (click)="createTeam()"
    />
  </div>
</div>
