.footer {
  background-color: white;
  position: fixed;
  width: var(--bs-offcanvas-width);
  right: 0;
  bottom: 0;
  z-index: 100;
  .button-container {
    padding: 1.143rem 2.286rem;
  }
}
label {
  font-weight: 600;
  margin-bottom: 0.667rem;
}
.title {
  font-size: 1.1667rem;
  font-weight: 600;
  margin: 0 0 0 1rem;
  line-height: 4rem;
  vertical-align: top;
}
.btn {
  font-size: 1.167rem;
}
hr {
  border-color: var(--gray-300);
  margin: 1.333rem;
}
