<div class="text-end px-4 mt-3">
  <button
    data-cy="closeEditTeamPanel"
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeOffcanvas.dismiss()"
  ></button>
</div>
<div class="mx-5 my-4">
  <alto-icon-badge [size]="4" icon="bi-people"></alto-icon-badge>

  <p class="title d-inline-block">
    {{ team ? I18ns.leadTeam.teams.form.title.edit : I18ns.leadTeam.teams.form.title.create }}
  </p>
</div>

<hr />

<div class="px-6 sidebar-body">
  <form [formGroup]="teamForm">
    <label class="form-label required">{{ I18ns.leadTeam.teams.form.longName }}</label>
    <alto-input-text
    [placeholder]="I18ns.leadTeam.teams.form.longNamePlaceholder"
    [control]="nameControl">
    </alto-input-text>

    <label class="mt-4 form-label">{{ I18ns.leadTeam.teams.form.Programs }}</label>

    <alto-input-pills
    [placeholder]="I18ns.leadTeam.teams.form.programsPlaceholder"
    [controls]="programsControls"
    [options]="programOptions"
    [hasFormAppearance]="true">
    </alto-input-pills>
  </form>
</div>
<div class="footer">
  <hr class="m-0" />
  <div class="button-container">
    <button type="button" class="btn cancel-btn" aria-label="Close" (click)="activeOffcanvas.dismiss()">
      {{ I18ns.shared.cancel }}
    </button>
    <input
      data-cy="btnSave"
      type="submit"
      class="btn btn-primary float-end"
      [disabled]="!teamForm.valid"
      [value]="I18ns.shared.save"
      (click)="submit()"
    />
  </div>
</div>
