.alto-pagination {
  padding: 0.75rem;
}

.table-title {
  display: flex;
  padding: 0 0.833rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  margin-bottom: 2rem;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      flex: 1 0 0;
    }
  }
}

.table tbody tr {
  height: 4.667rem;
}

.table tbody td,
.table thead th {
  padding-top: 0.6667rem 1.3333rem 0.6667rem 0rem;
}

.disabled-icon {
  opacity: 0.2;
  pointer-events: none;
}

h2 {
  .emoji {
    height: 1.667rem;
    margin-right: 0.667rem;
    vertical-align: bottom;
  }
  padding-left: 0.8333rem;
  padding-right: 0.8333rem;
  padding-top: 0.8333rem;
}

p {
  padding-left: 0.8333rem;
  padding-right: 0.8333rem;
  margin-bottom: 1rem;
}

:host ::ng-deep {
  .tooltip-class {
    width: 349px;

    .tooltip-inner {
      background: var(--gray-900, #101828);
      font-size: 10px;
      padding: 4px 8px;
      min-width: 100%;
    }
  }
}
