.alto-pagination {
  padding: 0.75rem;
}

.table tbody tr {
  height: 4.667rem;
}

.table-panel .table th {
  font-size: 10px;
}

.table-panel .table tbody tr {
  font-size: 10px;
}

.table-panel .table tr * {
  font-size: 10px;
}

.disabled-icon {
  opacity: 0.2;
  pointer-events: none;
}

h2 {
  .emoji {
    height: 1.667rem;
    margin-right: 0.667rem;
    vertical-align: bottom;
  }
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 12px;
}

alto-search {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
