<alto-licences-panel [licencesCount]="45" [assignedLicencesCount]="24" ></alto-licences-panel>
<h2 class="mt-5">
  <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" width="16" height="16" />
  <div class="d-inline-block">
    {{ I18ns.settings.users.admins }}
  </div>
</h2>
<p class="alto-grey descriptions mt-3">
  {{ I18ns.settings.users.adminsDesc }}
</p>

<div class="row">
  <alto-search
    data-cy="filterBySearch"
    class="float-end d-inline-block"
    (searchChange)="filterAdmins({ search: $event })"
  >
  </alto-search>

  <div class="col my-5 px-0">
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="w-35 px-4">
              {{ I18ns.settings.users.table.name }}
            </th>
            <th scope="col" class="w-15">
              {{ I18ns.settings.users.table.createdAt }}
            </th>
            <th scope="col" class="w-15">
              {{ I18ns.settings.users.table.lastConnection }}
            </th>
            <th scope="col" class="w-15">
              {{ I18ns.settings.users.table.integration }}
            </th>
            <th class="w-15 px-4"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedAdmins" class="align-middle">
            <td class="px-4">
              <alto-profile-card [user]="user"></alto-profile-card>
            </td>
            <td title="{{ user.createdAt | date : 'short' }}" class="fs-7">
              {{ user.createdAt | date : 'shortDate' }}
            </td>
            <td title="{{ user.updatedAt | date : 'short' }}" class="fs-7">
              {{ user.updatedAt | date : 'shortDate' }}
            </td>
            <td>
              <div [hidden]="company.isIntegrationEnabled">
                {{ I18ns.settings.users.integrationDisabled }}
              </div>
              <div
                [hidden]="!company.isIntegrationEnabled"
                class="alto-badge"
                [ngStyle]="{
                  'background-color': getBadgeBackgroundColor(getStatus(company, user)),
                  color: getBadgeColor(getStatus(company, user))
                }"
              >
                <div
                  *ngIf="getStatus(company, user) === 'inactive'"
                  class="d-flex align-items-center"
                  ngbTooltip="{{ I18ns.settings.users.usersInactiveTooltip }}"
                  tooltipClass="menu-tooltip-class"
                >
                  <span>{{ I18ns.settings.users.disable }}</span>
                </div>
                <div *ngIf="getStatus(company, user) === 'active'" class="d-flex align-items-center">
                  <img
                    *ngIf="company.connector === 'slack'"
                    src="assets/img/slack-logo.svg"
                    width="16"
                    height="16"
                    alt="Slack Logo"
                    class="me-2"
                  />
                  <img
                    *ngIf="company.connector === 'google-chat'"
                    src="assets/img/googlechat-logo.svg"
                    width="16"
                    height="16"
                    alt="Slack Logo"
                    class="me-2"
                  />
                  <span>{{ I18ns.settings.users.enable }}</span>
                </div>
                <div
                  *ngIf="getStatus(company, user) === 'warning'"
                  class="d-flex align-items-center p-2"
                  ngbTooltip="{{ I18ns.settings.users.warningTooltip }}"
                  tooltipClass="menu-tooltip-class"
                >
                  <span>
                    <img class="emoji mb-2" [src]="EmojiName.Warning | emoji" width="14" height="14" />
                  </span>
                </div>
              </div>
            </td>
            <td class="px-4">
              <div class="d-flex justify-content-center">
                <div
                  ngbTooltip="{{ I18ns.settings.users.deleteAdminTooltip }}"
                  placement="top"
                  class="me-5"
                  tooltipClass="tooltip-class"
                >
                  <i class="cursor-pointer fs-5 bi bi-trash3 disabled-icon"></i>
                </div>
                <i class="cursor-pointer fs-5 bi bi-pen" (click)="openUserEditionForm(user)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <alto-pagination
        class="mx-4 d-block"
        [collectionSize]="adminsCount"
        [(page)]="adminsPage"
        (pageChange)="changeAdminsPage($event)"
        [pageSize]="adminsPageSize"
      ></alto-pagination>
    </div>
  </div>
</div>

<hr class="my-7" />

<div class="table-title">
  <div>
    <div>
      <h2>
        <img class="emoji" [src]="EmojiName.BustsInSilhouette | emoji" width="14" height="14" />
        {{ I18ns.settings.users.users }}
      </h2>
      <p class="alto-grey descriptions">
        {{ I18ns.settings.users.usersDesc }}
      </p>
    </div>
    <button data-cy="open-user-form" class="btn btn-primary" (click)="openUsersForm()">
      <i class="bi bi-plus-lg"></i>{{ I18ns.settings.users.addUsers.add }}
    </button>
  </div>

  <alto-search
    data-cy="filterBySearch"
    class="w-50 d-inline-block"
    (searchChange)="filterUsers({ search: $event })"
    *ngIf="getHasRegularUser(usersDisplay) || !userFilterEmpty()"
  ></alto-search>
</div>

<div class="table-panel" *ngIf="getHasRegularUser(usersDisplay); else nouser">
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-35 px-4">
          {{ I18ns.settings.users.table.name }}
        </th>
        <th scope="col" class="w-15">
          {{ I18ns.settings.users.table.createdAt }}
        </th>
        <th scope="col" class="w-15">
          {{ I18ns.settings.users.table.lastConnection }}
        </th>
        <th scope="col" class="w-15">
          {{ I18ns.settings.users.table.integration }}
        </th>
        <th class="w-15 px-4"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers" class="align-middle">
        <td class="px-4">
          <alto-profile-card [user]="user"></alto-profile-card>
        </td>
        <td title="{{ user.createdAt | date : 'short' }}" class="fs-7">
          {{ user.createdAt | date : 'shortDate' }}
        </td>
        <td title="{{ user.updatedAt | date : 'short' }}" class="fs-7">
          {{ user.updatedAt | date : 'shortDate' }}
        </td>
        <td>
          <div [hidden]="company.isIntegrationEnabled">
            {{ I18ns.settings.users.integrationDisabled }}
          </div>
          <div
            [hidden]="!company.isIntegrationEnabled"
            class="alto-badge"
            [ngStyle]="{
              'background-color': getBadgeBackgroundColor(getStatus(company, user)),
              color: getBadgeColor(getStatus(company, user))
            }"
          >
            <div
              *ngIf="getStatus(company, user) === 'inactive'"
              class="d-flex align-items-center"
              ngbTooltip="{{ I18ns.settings.users.usersInactiveTooltip }}"
              tooltipClass="menu-tooltip-class"
            >
              <span>{{ I18ns.settings.users.disable }}</span>
            </div>
            <div *ngIf="getStatus(company, user) === 'active'" class="d-flex align-items-center">
              <img
                *ngIf="company.connector === 'slack'"
                src="assets/img/slack-logo.svg"
                width="16"
                height="16"
                alt="Slack Logo"
                class="me-2"
              />
              <img
                *ngIf="company.connector === 'google-chat'"
                src="assets/img/googlechat-logo.svg"
                width="16"
                height="16"
                alt="Slack Logo"
                class="me-2"
              />
              <span>{{ I18ns.settings.users.enable }}</span>
            </div>
            <div
              *ngIf="getStatus(company, user) === 'warning'"
              class="d-flex align-items-center p-2"
              ngbTooltip="{{ I18ns.settings.users.warningTooltip }}"
              tooltipClass="menu-tooltip-class"
            >
              <span>
                <img class="emoji mb-2" [src]="EmojiName.Warning | emoji" width="14" height="14" />
              </span>
            </div>
          </div>
        </td>
        <td class="px-4 text-center">
          <i data-cy="btnDelete" class="cursor-pointer fs-5 bi bi-trash3 me-4" (click)="deleteUser(user)"></i>
          <i class="cursor-pointer fs-5 bi bi-pen" (click)="openUserEditionForm(user)"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <alto-pagination
    class="mx-4 d-block"
    [collectionSize]="usersCount"
    [(page)]="usersPage"
    (pageChange)="changeUsersPage($event)"
    [pageSize]="usersPageSize"
  ></alto-pagination>
</div>
<ng-template #nouser>
  <div class="nodata-placeholder text-center" *ngIf="userFilterEmpty()">
    <p class="mt-3">{{ I18ns.settings.users.noUserPlaceholderTitle }}</p>
    <span class="m3 d-block">{{ I18ns.settings.users.noUserPlaceholderSubtitle }}</span>
  </div>
  <div class="nodata-placeholder text-center" *ngIf="!userFilterEmpty()">
    <p class="mt-3">{{ I18ns.settings.users.noUserFilteredPlaceholderTitle }}</p>
    <span class="m3 d-block">{{ I18ns.settings.users.noUserFilteredPlaceholderSubtitle }}</span>
  </div>
</ng-template>
