.users-icon {
  font-size: 20px;
  margin-right: 8px;
  position: relative;
  bottom: 6px;
}

.titles {
  font-family: 'PlusJakartaSans';
}

.descriptions {
  font-family: 'PlusJakartaSans';
  font-size: 12px;
  line-height: 20px;
}

.alto-badge {
  font-family: 'PlusJakartaSans';
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  padding: 2px 8px 2px 3px;
}
