<alto-licenses-panel
  [licensesCount]="company.licenseCount"
  [assignedLicensesCount]="usedLicensesCount"
></alto-licenses-panel>
<div class="table-title mt-5">
  <h2>
    <img
    class="emoji"
    [src]="EmojiName.BustsInSilhouette | emoji"
    width="16"
    height="16"
    />
    <div class="d-inline-block">
      {{ I18ns.settings.users.admins }}
    </div>
  </h2>
  <p class="alto-grey descriptions">
    {{ I18ns.settings.users.adminsDesc }}
  </p>
    <alto-input-search [searchControl]="adminSearchControl"></alto-input-search>
  </div>

  <alto-placeholder-manager [status]="adminsDataStatus">

  <div class="col my-5 px-0">
    <div class="table-panel">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="w-35 px-4">
              {{ I18ns.settings.users.table.name }}
            </th>
            <th scope="col" class="w-15">
              {{ I18ns.settings.users.table.createdAt }}
            </th>
            <th scope="col" class="w-15">
              {{ I18ns.settings.users.table.lastConnection }}
            </th>
            <th scope="col" class="w-15">
              {{ I18ns.settings.users.table.integration }}
            </th>
            <th scope="col" class="w-10">
              {{ I18ns.settings.users.table.license }}
            </th>
            <th scope="col" class="px-4"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userInfo of adminsDisplay.slice((adminsPage - 1) * adminsPageSize, adminsPage * adminsPageSize)" class="align-middle">
            <td class="px-4">
              <alto-profile-card [user]="userInfo.user"></alto-profile-card>
            </td>
            <td
              title="{{ userInfo.user.createdAt | date : 'short' }}"
              class="fs-7"
            >
              {{ userInfo.user.createdAt | date : "shortDate" }}
            </td>
            <td
              title="{{ userInfo.user.updatedAt | date : 'short' }}"
              class="fs-7"
            >
              {{ userInfo.user.updatedAt | date : "shortDate" }}
            </td>
            <td>
              <div [hidden]="company.isIntegrationEnabled">
                {{ I18ns.settings.users.integrationDisabled }}
              </div>
              <div
                [hidden]="!company.isIntegrationEnabled"
                class="alto-badge"
                [ngStyle]="{
                  'background-color': getBadgeBackgroundColor(
                    getStatus(company, userInfo.user)
                  ),
                  color: getBadgeColor(getStatus(company, userInfo.user))
                }"
              >
                <div
                  *ngIf="getStatus(company, userInfo.user) === 'inactive'"
                  class="d-flex align-items-center"
                  ngbTooltip="{{ I18ns.settings.users.usersInactiveTooltip }}"
                  tooltipClass="menu-tooltip-class"
                >
                  <span>{{ I18ns.settings.users.disable }}</span>
                </div>
                <div
                  *ngIf="getStatus(company, userInfo.user) === 'active'"
                  class="d-flex align-items-center"
                >
                  <img
                    *ngIf="company.connector === 'slack'"
                    src="assets/img/slack-logo.svg"
                    width="16"
                    height="16"
                    alt="Slack Logo"
                    class="me-2"
                  />
                  <img
                    *ngIf="company.connector === 'google-chat'"
                    src="assets/img/googlechat-logo.svg"
                    width="16"
                    height="16"
                    alt="Slack Logo"
                    class="me-2"
                  />
                  <span>{{ I18ns.settings.users.enable }}</span>
                </div>
                <div
                  *ngIf="getStatus(company, userInfo.user) === 'warning'"
                  class="d-flex align-items-center p-2"
                  ngbTooltip="{{ I18ns.settings.users.warningTooltip }}"
                  tooltipClass="menu-tooltip-class"
                >
                  <span>
                    <img
                      class="emoji mb-2"
                      [src]="EmojiName.Warning | emoji"
                      width="14"
                      height="14"
                    />
                  </span>
                </div>
              </div>
            </td>
            <td>
              <alto-input-toggle [control]="userInfo.hasLicense"></alto-input-toggle>
            </td>
            <td class="px-4 text-end">
              <div
                ngbTooltip="{{ I18ns.settings.users.deleteAdminTooltip }}"
                placement="top"
                tooltipClass="tooltip-class"
                class="me-4 d-inline-block"
              >
                <i class="cursor-pointer fs-5 bi bi-trash3 disabled-icon"></i>
              </div>
              <i
                class="cursor-pointer fs-5 bi bi-pen"
                (click)="openUserEditionForm(userInfo.user)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <alto-pagination
        class="mx-4 d-block"
        [pageControl]="adminsPageControl"
        [itemsCount]="adminsDisplay.length"
        [itemsPerPage]="adminsPageSize"
      ></alto-pagination>
    </div>
  </div>
  <div noResult class="nodata-placeholder text-center">
    <p class="mt-3">
      {{ I18ns.settings.users.noUserFilteredPlaceholderTitle }}
    </p>
    <span class="m3 d-block">{{
      I18ns.settings.users.noUserFilteredPlaceholderSubtitle
    }}</span>
  </div>
  <div loading class="skeleton-panel" style="height: 376px"></div>
</alto-placeholder-manager>

<hr class="my-7" />

<div class="table-title">
  <div>
    <div>
      <h2>
        <img
          class="emoji"
          [src]="EmojiName.BustsInSilhouette | emoji"
          width="14"
          height="14"
        />
        {{ I18ns.settings.users.users }}
      </h2>
      <p class="alto-grey descriptions">
        {{ I18ns.settings.users.usersDesc }}
      </p>
    </div>
    <button
      data-cy="open-user-form"
      class="btn btn-primary"
      (click)="openUsersForm()"
    >
      <i class="bi bi-plus-lg"></i>{{ I18ns.settings.users.addUsers.add }}
    </button>
  </div>

  <alto-input-search [searchControl]="userSearchControl"></alto-input-search>
</div>

<alto-placeholder-manager [status]="usersDataStatus">
<div class="table-panel">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="w-35 px-4">
          {{ I18ns.settings.users.table.name }}
        </th>
        <th scope="col" class="w-15">
          {{ I18ns.settings.users.table.createdAt }}
        </th>
        <th scope="col" class="w-15">
          {{ I18ns.settings.users.table.lastConnection }}
        </th>
        <th scope="col" class="w-15">
          {{ I18ns.settings.users.table.integration }}
        </th>
        <th scope="col" class="w-10">
          {{ I18ns.settings.users.table.license }}
        </th>
        <th scope="col" class="px-4"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userInfos of usersDisplay.slice((usersPage - 1) * usersPageSize, usersPage * usersPageSize)" class="align-middle">
        <td class="px-4">
          <alto-profile-card [user]="userInfos.user"></alto-profile-card>
        </td>
        <td
          title="{{ userInfos.user.createdAt | date : 'short' }}"
          class="fs-7"
        >
          {{ userInfos.user.createdAt | date : "shortDate" }}
        </td>
        <td
          title="{{ userInfos.user.updatedAt | date : 'short' }}"
          class="fs-7"
        >
          {{ userInfos.user.updatedAt | date : "shortDate" }}
        </td>
        <td>
          <div [hidden]="company.isIntegrationEnabled">
            {{ I18ns.settings.users.integrationDisabled }}
          </div>
          <div
            [hidden]="!company.isIntegrationEnabled"
            class="alto-badge"
            [ngStyle]="{
              'background-color': getBadgeBackgroundColor(
                getStatus(company, userInfos.user)
              ),
              color: getBadgeColor(getStatus(company, userInfos.user))
            }"
          >
            <div
              *ngIf="getStatus(company, userInfos.user) === 'inactive'"
              class="d-flex align-items-center"
              ngbTooltip="{{ I18ns.settings.users.usersInactiveTooltip }}"
              tooltipClass="menu-tooltip-class"
            >
              <span>{{ I18ns.settings.users.disable }}</span>
            </div>
            <div
              *ngIf="getStatus(company, userInfos.user) === 'active'"
              class="d-flex align-items-center"
            >
              <img
                *ngIf="company.connector === 'slack'"
                src="assets/img/slack-logo.svg"
                width="16"
                height="16"
                alt="Slack Logo"
                class="me-2"
              />
              <img
                *ngIf="company.connector === 'google-chat'"
                src="assets/img/googlechat-logo.svg"
                width="16"
                height="16"
                alt="Slack Logo"
                class="me-2"
              />
              <span>{{ I18ns.settings.users.enable }}</span>
            </div>
            <div
              *ngIf="getStatus(company, userInfos.user) === 'warning'"
              class="d-flex align-items-center p-2"
              ngbTooltip="{{ I18ns.settings.users.warningTooltip }}"
              tooltipClass="menu-tooltip-class"
            >
              <span>
                <img
                  class="emoji mb-2"
                  [src]="EmojiName.Warning | emoji"
                  width="14"
                  height="14"
                />
              </span>
            </div>
          </div>
        </td>
        <td>
          <alto-input-toggle [control]="userInfos.hasLicense"></alto-input-toggle>
        </td>
        <td class="px-4 text-end">
          <i
            data-cy="btnDelete"
            class="cursor-pointer fs-5 bi bi-trash3 me-4"
            (click)="deleteUser(userInfos.user)"
          ></i>
          <i
            class="cursor-pointer fs-5 bi bi-pen"
            (click)="openUserEditionForm(userInfos.user)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>

  <alto-pagination
    class="mx-4 d-block"
    [pageControl]="usersPageControl"
    [itemsCount]="usersDisplay.length"
    [itemsPerPage]="usersPageSize"
  ></alto-pagination>
</div>
  <div noData class="nodata-placeholder text-center">
    <p class="mt-3">{{ I18ns.settings.users.noUserPlaceholderTitle }}</p>
    <span class="m3 d-block">{{
      I18ns.settings.users.noUserPlaceholderSubtitle
    }}</span>
  </div>
  <div noResult class="nodata-placeholder text-center">
    <p class="mt-3">
      {{ I18ns.settings.users.noUserFilteredPlaceholderTitle }}
    </p>
    <span class="m3 d-block">{{
      I18ns.settings.users.noUserFilteredPlaceholderSubtitle
    }}</span>
  </div>
  <div loading class="skeleton-panel" style="height: 656px"></div>
</alto-placeholder-manager>
