<div class="pb-4 border-bottom">
  <div class="d-flex mb-5">
    <i class="bi bi-people-fill users-icon"></i>
    <div class="column">
      <h3 class="titles">
        {{ I18ns.settings.users.admins }}
      </h3>
      <p class="alto-grey descriptions">
        {{ I18ns.settings.users.adminsDesc }}
      </p>
    </div>
  </div>

  <div class="row">
    <alto-search
      data-cy="filterBySearch"
      class="float-end d-inline-block"
      (searchChange)="filterAdmins({ search: $event })"
    ></alto-search>

    <div class="col my-5">
      <div class="table-panel">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{ I18ns.settings.users.table.name }}</th>
              <th scope="col" class="title-columns">{{ I18ns.settings.users.table.createdAt }}</th>
              <th scope="col" class="title-columns">{{ I18ns.settings.users.table.lastConnection }}</th>
              <th scope="col" class="title-columns">
                {{ I18ns.settings.users.table.integration }}
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of adminsDisplay" class="align-middle">
              <td>
                <alto-profile-card [user]="user"></alto-profile-card>
              </td>
              <td title="{{ user.createdAt | date : 'short' }}">{{ user.createdAt | date : 'shortDate' }}</td>
              <td title="{{ user.updatedAt | date : 'short' }}">{{ user.updatedAt | date : 'shortDate' }}</td>
              <td>
                <div
                  class="alto-badge"
                  [ngStyle]="{
                    'background-color': user.slackId ? '#ECFDF3' : '#F8F9FC',
                    color: user.slackId ? '#039855' : '#363F72'
                  }"
                >
                  <div class="d-flex align-items-center">
                    <img
                      *ngIf="user.slackId"
                      src="assets/img/slack-logo.svg"
                      width="16"
                      height="16"
                      alt="Slack Logo"
                      class="me-2"
                    />
                    <span *ngIf="user.slackId">{{ I18ns.settings.users.enable }}</span>
                    <span *ngIf="!user.slackId">{{ I18ns.settings.users.disable }}</span>
                  </div>
                </div>
              </td>
              <td class="cursor-pointer px-3">
                <i class="fs-5 bi bi-trash3 float-end disabled-icon"></i>
              </td>
              <td class="px-3 cursor-pointer">
                <i class="fs-5 bi bi-pen" (click)="openUserEditionForm(user)"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <alto-pagination
          class="mx-4 d-block"
          [collectionSize]="adminsCount"
          [(page)]="adminsPage"
          (pageChange)="changeAdminsPage($event)"
          [pageSize]="adminsPageSize"
        ></alto-pagination>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="d-flex mb-5">
      <i class="bi bi-people-fill users-icon"></i>
      <div class="column titles">
        <h3>
          {{ I18ns.settings.users.users }}
        </h3>
        <p class="alto-grey descriptions">
          {{ I18ns.settings.users.usersDesc }}
        </p>
      </div>
    </div>

    <div class="row">
      <alto-search
        data-cy="filterBySearch"
        class="float-end d-inline-block"
        (searchChange)="filterUsers({ search: $event })"
      ></alto-search>

      <div class="col mt-5">
        <div class="table-panel">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="w-35">{{ I18ns.settings.users.table.name }}</th>
                <th scope="col" class="title-columns">{{ I18ns.settings.users.table.createdAt }}</th>
                <th scope="col" class="title-columns">{{ I18ns.settings.users.table.lastConnection }}</th>
                <th scope="col" class="title-columns">{{ I18ns.settings.users.table.integration }}</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersDisplay" class="align-middle">
                <td>
                  <alto-profile-card [user]="user"></alto-profile-card>
                </td>
                <td title="{{ user.createdAt | date : 'short' }}">
                  {{ user.createdAt | date : 'shortDate' }}
                </td>
                <td title="{{ user.updatedAt | date : 'short' }}">
                  {{ user.updatedAt | date : 'shortDate' }}
                </td>
                <td>
                  <div
                    class="alto-badge"
                    [ngStyle]="{
                      'background-color': user.slackId ? '#ECFDF3' : '#F8F9FC',
                      color: user.slackId ? '#039855' : '#363F72'
                    }"
                  >
                    <div class="d-flex align-items-center">
                      <img
                        *ngIf="user.slackId"
                        src="assets/img/slack-logo.svg"
                        width="16"
                        height="16"
                        alt="Slack Logo"
                        class="me-2"
                      />
                      <span *ngIf="user.slackId">{{ I18ns.settings.users.enable }}</span>
                      <span *ngIf="!user.slackId">{{ I18ns.settings.users.disable }}</span>
                    </div>
                  </div>
                </td>
                <td class="cursor-pointer px-3">
                  <i class="fs-5 bi bi-trash3 float-end" (click)="deleteUser(user)"></i>
                </td>
                <td class="cursor-pointer">
                  <i class="fs-5 bi bi-pen" (click)="openUserEditionForm(user)"></i>
                </td>
              </tr>
            </tbody>
          </table>

          <alto-pagination
            class="mx-4 d-block"
            [collectionSize]="usersCount"
            [(page)]="usersPage"
            (pageChange)="changeUsersPage($event)"
            [pageSize]="usersPageSize"
          ></alto-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
