<div class="panel">
  <div class="pb-4">
    <h2>{{ title }}</h2>
    <p class="alto-grey">{{ subtitle }}</p>
  </div>
  <div class="row g-0">
    <!-- TOP -->
    <div class="col border-end px-0">
      <div class="topFlop-header-success align-items-center mb-3 me-5">
        <img class="me-2" [src]="Emoji.Rocket | emoji" height="16" />
        <h4 class="d-inline-block">{{ I18ns.shared.top }}</h4>
      </div>
      <div *ngFor="let item of data.top; let itemIndex = index" class="topFlop-item me-5">
        <span class="float-end alto-score" [class]="item.avg * 100 | pillColor">{{
          item.avg | percent
        }}</span>
        <img
          *ngIf="itemIndex < 3"
          class="me-2 my-1"
          [src]="
            (itemIndex === 0
              ? Emoji._1stPlaceMedal
              : itemIndex === 1
              ? Emoji._2ndPlaceMedal
              : Emoji._3rdPlaceMedal
            ) | emoji
          "
          height="16"
        />
        <p *ngIf="itemIndex > 3" class="d-inline-block me-2 topFlop-position-success">
          {{ getPosition(item.label) + '/' + rawLeaderboard.length }}
        </p>
        <p class="d-inline-block">{{ item.label }}</p>
      </div>
      <div *ngIf="data.top.length === 1" class="border-top text-center pt-4 mt-4 me-5">
        <img class="" [src]="Emoji.BeachWithUmbrella | emoji" height="20" />
        <p class="fw-medium alto-grey">{{ I18ns.shared.waitingForNewResults }}</p>
      </div>
    </div>
    <!-- FLOP -->
    <div class="col px-0">
      <div class="topFlop-header-error align-items-center mb-3 ms-5">
        <img class="me-2" [src]="Emoji.Snail | emoji" height="16" />
        <h4 class="d-inline-block">{{ I18ns.shared.flop }}</h4>
      </div>
      <div *ngFor="let item of data.flop" class="topFlop-item ms-5" [style]="data.flop.length === 2 ? 'margin-top: 2rem' : '' ">
        <span class="float-end alto-score" [class]="item.avg * 100 | pillColor">{{
          item.avg | percent
        }}</span>
        <p class="d-inline-block me-2 topFlop-position-error">
          {{ getPosition(item.label) + '/' + rawLeaderboard.length }}
        </p>
        <p class="d-inline-block">{{ item.label }}</p>
      </div>
      <div *ngIf="data.flop.length === 1" class="border-top text-center pt-4 mt-4 ms-5">
        <img class="" [src]="Emoji.BeachWithUmbrella | emoji" height="20" />
        <p class="fw-medium alto-grey">{{ I18ns.shared.waitingForNewResults }}</p>
      </div>
    </div>
  </div>
</div>
