:host {
  position: relative;
}

input[type='range']::-moz-range-track {
  background: transparent;
}
input[type='range']::-webkit-slider-runnable-track {
  background: transparent;
}
input[type='range']::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type='range']::-moz-range-thumb {
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-top: -5px;
}

.grey-bar {
  height: 0.667rem;
  background-color: var(--gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 17px;
  border: 2px solid var(--primary-300);
  background: white;
  > span {
    display: inline-block;
    margin-top: 19px;
    margin-left: -11px;
    width: 30px;
    text-align: center;
  }
}

.over-range {
  position: absolute;
  width: 100%;
  top: -5px;
}
