<alto-admin-header
  *ngIf="user"
  [title]="'User information'"
  subtitle="View all the user information"
  [divider]="true"
  [breadcrumbs]="[
    {
      label: 'Companies',
      url: '/admin/companies'
    },
    {
      label: company.name,
      url: ['/', 'admin', 'companies', company.id, 'users']
    },
    {
      label: user.firstname + ' ' + user.lastname,
      url: ['/', 'admin', 'companies', company.id, 'users']
    }
  ]"
></alto-admin-header>
<div class="d-flex justify-content-end align-items-center alto-grey fs-5 pb-4">
  <div *ngIf="userForm && user && !user.deletedAt">
    <a
      type="button"
      class="btn btn-outline-secondary d-inline-flex align-items-center me-2"
      [routerLink]="['/admin', 'users', user.id]"
    >
    <i class="bi bi-pencil-square"></i>
      Edit the user TODO
    </a>
    <button
      [disabled]="!user.email"
      type="button"
      class="btn btn-primary d-inline-flex align-items-center"
      (click)="impersonnate(user.email)"
    >
    <i class="bi bi-incognito fs-5 text-white"></i>
      Impersonnation      
    </button>
  </div>
  <div *ngIf="user && user.deletedAt">
    <div class="badge alto-badge rounded-pill bg-danger text-white"  >Deleted {{ user.deletedAt | date : 'shortDate' }}</div>
  </div>
</div>
<hr />
<form *ngIf="userForm" [formGroup]="userForm">
  <!-- Name -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <label for="name" class="col-5 mb-2 required">Name</label>
      <div class="col-7 form-group">
        <div class="d-flex gap-2">
          <input type="text" class="form-control" placeholder="Firstname" formControlName="firstname" readonly/>
          <input type="text" class="form-control" placeholder="Lastname" formControlName="lastname" readonly/>
        </div>
      </div>
    </div>
  </div>
  <!-- Email -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name" class="required">Email</label>
      </div>
      <div class="col-7 form-group">
        <input
          type="text"
          class="form-control"
          placeholder="john.doe@email.com"
          formControlName="email"
          readonly
        />
      </div>
    </div>
  </div>
  <!-- Password -->
  <div class="py-4 border-bottom" *ngIf="user && !user.deletedAt">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name" class="required">Password</label>
      </div>
      <div class="col-7 form-group">
        <button
          type="button"
          class="btn btn-primary d-inline-flex align-items-center text-nowrap"
          (click)="sendResetPassword()"
        >
          Send reset password email
        </button>
      </div>
    </div>
  </div>
  <!-- Team -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Team</label>
      </div>
      <div class="col-7 form-group">
        <ng-select
          class="w-100"
          [items]="teams"
          [multiple]="false"
          bindValue="id"
          bindLabel="shortName"
          placeholder="Search a team"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          formControlName="teamId"
          [readonly]="true"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="alto-badge fs-6b" [style]="item.id | teamColor">
              <span>{{ item.shortName }}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <span class="alto-badge fs-6b" [style]="item.id | teamColor">
              {{ item.shortName }} - {{ item.longName }}
            </span>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <!-- Roles -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <div class="col-5 mb-2">
          <label for="name" class="required">Roles</label>
          <p class="fs-7">The user must always have at least the role `company-user`.</p>
        </div>
      </div>
      <div class="col-7 form-group">
        <ng-select
          class="w-100"
          required
          [items]="rolesPossibleValues"
          [multiple]="true"
          placeholder="Select a role"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          formControlName="roles"
          [readonly]="true"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <div class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
              <span
                *ngIf="item !== 'company-user'"
                class="cursor-pointer me-1"
                (click)="clear(item)"
                aria-hidden="true"
              >
                <i class="bi bi-x-lg"></i>
              </span>
              <span>{{ item }}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <span class="badge rounded-pill p-2" [style.backgroundColor]="item | uuid2color">
              {{ item }}
            </span>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>
  <!-- Auth0 Connected -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Auth0</label>
      </div>
      <div class="col-7 form-group">
        <span *ngIf="userAuth0; else connectedElse">
          <i class="bi bi-check-circle-fill fs-4 fw-bolder alto-success"></i> Connected </span>
            <ng-template #connectedElse>
              <span><i class="bi bi-x-circle-fill fs-4 fw-bolder alto-red"></i></span>
            </ng-template>
      </div>
    </div>
  </div>

  <!-- Auth0 last connexion -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Last connection</label>
      </div>
      <div class="col-7 form-group">
        <span *ngIf="userAuth0; else never">
          <span *ngIf="userAuth0.last_login; else never">
            {{
              userAuth0.last_login | date : 'fullDate'
            }}</span>
          </span>
          <ng-template #never><span>Never</span></ng-template>
        </div>
    </div>
  </div>


  <!-- Auth0 Verified email -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Verified email</label>
      </div>
      <div class="col-7 form-group">
        <span *ngIf="userAuth0; else never">
          <span *ngIf="userAuth0.email_verified; else emailVerifiedElse">
            <i class="bi bi-check-circle-fill fs-4 fw-bolder alto-success"></i> verified </span>
          </span>
          <ng-template #emailVerifiedElse><span><i class="bi bi-x-circle-fill fs-4 fw-bolder alto-red"></i></span></ng-template>
        </div>
    </div>
  </div>


  <!-- Auth0 Login count -->
  <div class="py-4 border-bottom">
    <div class="w-80 row">
      <div class="col-5 mb-2">
        <label for="name">Login counts</label>
      </div>
      <div class="col-7 form-group">
        <span *ngIf="userAuth0; else never">
          <span class="alto-badge fw-bolder">{{ userAuth0.logins_count || 0 }}</span>
          </span>
        </div>
    </div>
  </div>



</form>
<button
  type="button"
  class="btn btn-primary d-inline-flex align-items-center text-nowrap mt-4"
  (click)="showRawDataModal()"
>
  Show raw data
</button>
