<ng-template #toolTip>
  {{ getUserName(user) }}
  <br />
  {{ user?.email }}
</ng-template>
<div *ngIf="!broken === true">
  <ng-container *ngIf="thumb">
    <img
      *ngIf="toggleTooltip; else noTooltip"
      [ngbTooltip]="user && toolTip"
      src="{{ thumb }}"
      alt="Profile Picture"
      [style]="getStyle(size)"
      (error)="broken = true"
      [ngClass]="{ 'white-border': hasBorder }"
    />
    <ng-template #noTooltip>
      <img
        src="{{ thumb }}"
        alt="Profile Picture"
        [style]="getStyle(size)"
        [ngClass]="{ 'white-border': hasBorder }"
      />
    </ng-template>
  </ng-container>
</div>
