<ng-template #toolTip>
  {{ getUserName(user) }}
  <br />
  {{ user?.email }}
</ng-template>
<ng-container *ngIf="thumb; else elseTemplate">
  <img
    [ngbTooltip]="user && toolTip"
    src="{{ thumb }}"
    alt="Profile Picture"
    [style]="getStyle(size)"
    [ngClass]="{ 'white-border': hasBorder }"
  />
</ng-container>
<ng-template #elseTemplate>
  <div
    [ngbTooltip]="user && toolTip"
    class="d-inline-block empty-badge"
    [ngClass]="{ 'white-border': hasBorder }"
    [style]="getStyle(size)"
  ></div>
</ng-template>
