.dropdown {
  display: block;
  .dropdown-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 3.167rem;
    border-radius: 3.167rem;
    cursor: pointer;
  }

  .dropdown-input-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 3.167rem;
    cursor: pointer;
  }

  .title-container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    justify-content: space-between;
    .title {
      font-weight: 500;
    }
  }

  .dropdown-menu {
    max-width: 200%;
    max-height: 25rem;
    overflow-y: scroll;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ced4da;
    z-index: 1;
    padding: 0;
    border-radius: 5px;

    &.show {
      display: block;
    }

    .dropdown-item {
      padding: 8px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      &:active {
        background-color: var(--gray-50);
      }
    }

    .dropdown-search {
      outline: none;
    }

    .noOption {
      padding: 8px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}

.alto-badge {
  background-color: var(--bs-primary);
  color: white;
}

