<div class="dropdown">
  <div
    class="dropdown-input form-control"
    (click)="toggleDropdown()"
  >

    <div class="title-container">
      <p class="title">{{ title }}</p>
      <span *ngIf="controls.value.length > 0" class="alto-badge ms-1">{{ controls.value.length }}</span>
    </div>

    <div class="d-flex gap-2">
      <i *ngIf="controls.value.length" class="bi bi-x-lg hover-red" (click)="$event.stopPropagation(); toggleAllOptions(false)"></i>
      <i class="bi" [ngClass]="isDropdownOpen ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </div>
  </div>
  <div
    #dropdownMenu
    class="dropdown-menu"
    [ngClass]="{ show: isDropdownOpen }"
    (click)="$event.stopPropagation()"
  >

    <input type="text" [formControl]="searchControl" class="dropdown-item border-bottom" [placeholder]="I18ns.shared.search">

    <ng-container *ngIf="options.length > 0; else noOption">
      <div class="dropdown-item border-bottom" (click)="toggleAllOptions()">
        <p class="alto-grey cursor-pointer">{{ I18ns.shared.selectAll }}</p>
      </div>

      <div
        class="dropdown-item cursor-pointer"
        *ngFor="let checkedOption of filteredOptions; let index = index; let last = last"
        [class.border-bottom]="!last"
        (click)="toggleOption(checkedOption)"
      >
        <span>{{ checkedOption.option.label }}</span>

        <i *ngIf="checkedOption.isChecked" class="bi bi-check-circle-fill alto-grey"></i>
      </div>
    </ng-container>

    <ng-template #noOption>
      <div class="dropdown-item">
        <p class="fst-italic alto-grey">{{ I18ns.shared.noOption }}</p>
      </div>
    </ng-template>
  </div>
</div>
