.user-container {
  height: 1.714rem;
}

// *** DONUT
@property --progress-value {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

@keyframes progression {
  to {
    --progress-value: var(--progress-value-dynamic);
  }
}

:host {
  display: inline-block;
  width: 100%;
}

.panel {
  min-height: 242px;
  cursor: pointer;
}

.round-progress-bar {
  width: 4.571rem;
  height: 4.571rem;
  border-radius: 50%;
  font-weight: 500;

  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(var(--bs-primary) calc(var(--progress-value) * 1%), #f2f4f7 0);
  animation: progression 2s 1 forwards;
}

.progress::before {
  animation: progression 2s 1 forwards;
}

.score {
  border: 6px solid;
}
.score-good {
  border-color: #6ce9a6;
  background-color: #ecfdf3;
  color: #05603a;
}
.score-warning {
  border-color: #fec84b;
  background-color: #fffaeb;
  color: #93370d;
}
.score-bad {
  border-color: #fda19b;
  background-color: #fef3f2;
  color: #912018;
}
.no-score {
  opacity: 0;
}
