<div class="panel highlighted-panel pe-auto">
  <ng-container *ngIf="isProgress; else elseTemplate">
    <div class="round-progress-bar progress mb-4"></div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="round-progress-bar score mb-4" [ngClass]="getScoreClass(score)">{{ score }}%</div>
  </ng-template>

  <div class="mb-3">
    &nbsp;
    <ng-container *ngIf="duration"> <i class="bi bi-clock me-3"></i>{{ duration }} minutes </ng-container>
  </div>
  <h2 class="text-truncate" [title]="title">{{ title }}</h2>
  <hr />
</div>
