<h2>Users</h2>
<div class="row d-flex justify-content-end" *ngIf="company">
  <a [routerLink]="['/', 'admin', 'companies', company.id, 'users', 'create']" routerLinkActive="menu-selected" class="btn btn-primary my-2 align-middle" style="max-width:150px">
    Créer un utilisateur
  </a>
  <a [routerLink]="['/', 'admin', 'companies', company.id, 'users', 'upload']" routerLinkActive="menu-selected" class="btn btn-primary my-2" style="max-width:150px">
    Upload CSV d'utilisateur
  </a>
</div>
<!-- create an array of users listing their emails -->  
<table class="table" *ngIf="users">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">email</th>
      <th scope="col">slack</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.username }}</th>
      <td>{{user.email}}</td>
      <td>{{user.slackId}}</td>
      <td>
        <a [routerLink]="['/', 'admin', 'users',user.id]" routerLinkActive="menu-selected" class="btn btn-primary">
          Voir
        </a>
      </td>
    </tr>
  </tbody>
</table>