<div class="text-end px-4 mt-3">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss()"></button>
</div>

<div class="d-flex align-items-center px-6">
  <alto-icon-badge [size]="4" class="me-4" icon="bi bi-tag"></alto-icon-badge>
  <h2 class="my-0 d-inline-block">
    {{ isEdit ? I18ns.tags.form.title.edit : I18ns.tags.form.title.create }}
  </h2>
</div>

<hr class="my-5" />

<div class="px-6 sidebar-body">
  <form *ngIf="tagForm" [formGroup]="tagForm">
    <label class="form-label required">{{ I18ns.tags.form.tagName }}</label>
    <input
      type="text"
      class="form-control fs-7"
      formControlName="name"
      placeholder="{{ I18ns.tags.form.tagNamePlaceholder }}"
    />

    <!-- <label class="form-label mt-3">{{ I18ns.tags.form.programs + ' ' + I18ns.shared.optional }}</label>
      <ng-select
        [items]="programs"
        [multiple]="true"
        bindLabel="name"
        [placeholder]="I18ns.questions.form.programsPlaceholder"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        bindValue="id"
        formControlName="programs"
      >
      </ng-select> -->

    <!-- <label class="form-label mt-3">{{ I18ns.tags.form.questions + ' ' + I18ns.shared.optional }}</label>
    <ng-select
      [items]="questions"
      [multiple]="true"
      bindLabel="title"
      [placeholder]="I18ns.tags.form.questionsPlaceholder"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      formControlName="questions"
    >
    </ng-select> -->

    <!-- <label class="form-label mt-3">{{ I18ns.tags.form.description + ' ' + I18ns.shared.optional }}</label>
    <textarea formControlName="description" class="form-control" cols="30" rows="10"></textarea> -->
  </form>
</div>

<div class="footer">
  <hr class="m-0" />

  <div class="button-container">
    <button
      type="button"
      class="btn cancel-btn align-items-center"
      aria-label="Close"
      (click)="activeOffcanvas.dismiss()"
    >
      {{ I18ns.shared.cancel }}
    </button>

    <ng-container *ngIf="isEdit; else elseTemplate">
      <input
        type="submit"
        [disabled]="!tagForm.valid"
        class="btn btn-primary float-end fs-5"
        [value]="I18ns.shared.submit"
        (click)="createTag()"
      />
    </ng-container>
    <ng-template #elseTemplate>
      <button
        class="btn btn-primary float-end align-items-center"
        aria-label="Close"
        (click)="createTag()"
        [disabled]="!tagForm.valid"
      >
        <i class="bi bi-plus-lg"></i>
        <span class="fs-5">
          {{ I18ns.shared.create }}
        </span>
      </button>
    </ng-template>
  </div>
</div>
